In [132]:
a = 10

In [133]:
print('a = ', a)

a =  10

In [134]:
b = a

In [135]:
a = 10
b = a
b = 20
print('value of a is ', a)

value of a is  10

In [136]:
c = a + b

In [137]:
print(c)

30

In [138]:
c = 100
print(a+b)

30

In [139]:
type(a)

int

In [140]:
a = 'emil'

In [141]:
print(a)

emil

In [142]:
type(a)

str

In [143]:
a = [10, 20]

In [144]:
print(a)

[10, 20]

In [145]:
a[1] + a[0]

30

In [146]:
b = a

In [147]:
c = 100
a = [10, 40, 70]
b = a
a = 50
c = b[0]
c + b

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [ ]:
def aitsum(x, y):
    return sum([x] + y)


aitsum(c, b)

TypeError: 'int' object is not iterable

In [ ]:
[1]+ [2, 3, 5]

[1, 2, 3, 5]

In [ ]:
[1]+ [2, 3, 5]

In [338]:
# Question: What will be the result of the following Python expression?
# [1] + [2, 3, 5]

[1, 2, 3, 5]

In [ ]:
a = [6, 7, 9, 8, 10]
print(a[2])

9

In [ ]:
a[3] = 100
print(a)

[6, 7, 9, 100, 10]

In [ ]:
a = [1, 2, 3]
b = a
c = b
a = [20]
print(a, b, c)

[20] [1, 2, 3] [1, 2, 3]

In [ ]:
a + b + c

[20, 1, 2, 3, 1, 2, 3]

In [ ]:
from random import shuffle

s = '''Абдралиев Белек Маратович
Абдуллаев Ийгилик Эльбурсович
Айтматов Байэл Бактыбекович
Асанбек уула Чынгыз
Асанов Искендер Асанович
Аскаров Арсен Анарбаевич
Байтемиров Искендер Бекмуратович
Баитиков Адел
Бакытбеков Роман Талантович
Бекбосунова Айша Болотовна
Бекенова Аяна
Бектемиров Ибрахимбек Максадбекович
Бердибаева Нурай Нурбековна
Болотбек уулу Эржан
Волгин Даниэль Максимович
Гулжигитов Дайырбек Мухаммедович
Джутанкеева Мээрим Тамерлановна
Душобаев Вилдан Гайратбекович
Жавдедова Назик Рустамовна
Жаныбекова Бегимай Жаныбековна
Жолдубаев Эмил Аресович
Жумаев Абдунур Нурбекович
Жыргалбек уулу Эрбол
Зиялиева Саадат Кадырбековна
Исмаилова Алтынай Нурбековна
Кадыракунова Аделя Эрнистовна
Канатбеков Ажо Канатбекович
Каримова Айбийке Азаматовна
Керимов Акбар Айбекович
Ким Жихён
Краснов Ильхан Даниярович
Кубанычбеков Эмир Арсланович
Курманова Бегайым Курмановна
Кусеинов Элдар Жээнбекович
Куттугалиева Зарылкан Бекболотовна
Кыдыкбекова Айпери Бахтияровна
Кыдыралиев Жанболот Тойчуевич
Маматалиев Нурболот 
Маматжанова Эленора Мирланбековна
Маматзундуев Бекбол Назбекович
Марсел
Надирбеков Абдусамат
Назарбаев Нурсултан Женишбекович
Нуралиева Асель Акжоловна
Омурбекова Мирана Азизбековна
Ормушов Темирлан Арстанбекович
Орунбаев Байжан Омурбекович
Рахматылло уулу Касымбек Сухрабович
Солтобеков Амин Бектурович
Сыдгали уулу Жаныбек
Таалайбеков Баястан Талайбекович
Тагаева Рахат Арапшаевна
Ташбай уулу Даниэл
Торокулов Айман Талайбекович
Хусанбаева Диляфруз Азимжоновна
Шукуралиев Нурдан Даниярович
Элчиев Ясир Жыргалбекович
Эркибаев Нурбек Алмазович
Калматов Азиз Кылычбекович
Жапаров Шердос 
Аширалиев Аман
Eldiyar
Asylkan
Kutman
Diaz
Shergazy
Akylbek Zamirov
'''
s = s.split('\n')
len(s)

68

In [ ]:
shuffle(s)
for i, name in enumerate(s):
    print(i+1, name)

1 Жумаев Абдунур Нурбекович
2 Надирбеков Абдусамат
3 Нуралиева Асель Акжоловна
4 Маматжанова Эленора Мирланбековна
5 Тагаева Рахат Арапшаевна
6 Жапаров Шердос
7 Элчиев Ясир Жыргалбекович
8 Кадыракунова Аделя Эрнистовна
9 Марсел
10 Байтемиров Искендер Бекмуратович
11 Джутанкеева Мээрим Тамерлановна
12 Душобаев Вилдан Гайратбекович
13 Гулжигитов Дайырбек Мухаммедович
14 Asylkan
15 Омурбекова Мирана Азизбековна
16 Бакытбеков Роман Талантович
17 Akylbek Zamirov
18 Маматалиев Нурболот
19 Каримова Айбийке Азаматовна
20 Жолдубаев Эмил Аресович
21 Абдуллаев Ийгилик Эльбурсович
22 Бектемиров Ибрахимбек Максадбекович
23 Кыдыкбекова Айпери Бахтияровна
24 Краснов Ильхан Даниярович
25 Канатбеков Ажо Канатбекович
26 Жыргалбек уулу Эрбол
27 Аширалиев Аман
28 Ормушов Темирлан Арстанбекович
29 Kutman
30 Исмаилова Алтынай Нурбековна
31 Асанбек уула Чынгыз
32 Куттугалиева Зарылкан Бекболотовна
33 Shergazy
34 Шукуралиев Нурдан Даниярович
35 Маматзундуев Бекбол Назбекович
36 Волгин Даниэль Максимович
37 Сыдгали уулу Жаныбек
38 Хусанбаева Диляфруз Азимжоновна
39 Торокулов Айман Талайбекович
40 Ташбай уулу Даниэл
41 Бердибаева Нурай Нурбековна
42 Diaz
43 Жавдедова Назик Рустамовна
44 Кыдыралиев Жанболот Тойчуевич
45 Кубанычбеков Эмир Арсланович
46 Орунбаев Байжан Омурбекович
47 Таалайбеков Баястан Талайбекович
48 Айтматов Байэл Бактыбекович
49 Эркибаев Нурбек Алмазович
50 Назарбаев Нурсултан Женишбекович
51 Eldiyar
52 Ким Жихён
53 Баитиков Адел
54 Керимов Акбар Айбекович
55 Рахматылло уулу Касымбек Сухрабович
56 Кусеинов Элдар Жээнбекович
57 Калматов Азиз Кылычбекович
58 Болотбек уулу Эржан
59 Аскаров Арсен Анарбаевич
60 Курманова Бегайым Курмановна
61 Асанов Искендер Асанович
62 Зиялиева Саадат Кадырбековна
63 Бекенова Аяна
64 Солтобеков Амин Бектурович
65 Бекбосунова Айша Болотовна
66
67 Жаныбекова Бегимай Жаныбековна
68 Абдралиев Белек Маратович

In [ ]:
grade = 75

if grade > 50:
    print('you have passes this class')
    print('congrats')
    print('you dont need to take this class again')
else:

In [ ]:
pogoda = input('How is the weather outside: ')
balance = 500

if pogoda == 'rainy':
    print('park ne idem')
    print('idem v kino, sotimost = 500')
    balance = balance - 500

elif pogoda == 'sunny':
    print('v kino ne idem')
    print('v kafe idem, sotimost = 900')
    balance = balance - 900

elif pogoda == 'cloudy':
    print('idem v park, stoimost = 250')
    print('v kino ne idem')
    print('v kafe ne idem')
    balance = balance - 250

else:
    print('doma sidi dengi ne trat')

print('kaldik = ', balance)

idem v park, stoimost = 250
v kino ne idem
v kafe ne idem
kaldik =  250

In [ ]:
print(x, type(x))

25 <class 'str'>

In [ ]:
y = int(x)
z = int(1.9999)

In [ ]:
type(y), type(x), z, type(z)

(int, str, 1, int)

In [ ]:
from math import floor, ceil
m = 1.99999
m_priblijonniy = round(m)
m_kichine = floor(m)
m_chon = ceil(m)

In [ ]:
print(m, m_priblijonniy, m_kichine, m_chon)

1.99999 2 1 2

In [ ]:
if int(x) == 25:
    print("tuura, x = ", x)
else:
    print('tuura emes, x = ', x)

tuura, x =  25

In [ ]:
x1 = int(input('znachenie'))
print(type(x1), x1)

ValueError: invalid literal for int() with base 10: 'k'

In [ ]:
nurbolot = 800
aibike = 1500
asel = 2000

mbank_kassa = nurbolot + aibike + asel

print('nurbolot =', nurbolot)
print('asel = ', asel)
print('aibike = ', aibike)
print('mbank_kassa = ', mbank_kassa)

nurbolot = 800
asel =  2000
aibike =  1500
mbank_kassa =  4300

In [ ]:
summa_perevod = int(input('summa perevoda:'))

if 0 <= summa_perevod <= aibike:
    aibike = aibike - summa_perevod
    nurbolot = nurbolot + summa_perevod
else:
    print('ne dostachno sredstv')

mbank_kassa = nurbolot + aibike + asel

print('nurbolot =', nurbolot)
print('asel = ', asel)
print('aibike = ', aibike)
print('mbank_kassa = ', mbank_kassa)

ValueError: invalid literal for int() with base 10: 'emil'

In [ ]:
from random import randint
for i in range(4):
    print(randint(1, 63))

29
58
14
61

In [ ]:
pogoda = 'sunny'
pogoda == 'sunny'

True

In [ ]:
x = 10 
y = 25

if x*x - x*y + x*x*x/2 > y*y:
    print('correct')
else:
    print('incorrect')

incorrect

In [ ]:
x*x - x*y + x*x*x/2 > y*y

False

In [ ]:
True and True

True

In [ ]:
True and False

False

In [ ]:
False and True

False

In [ ]:
False and False

False

In [ ]:
True or True

True

In [ ]:
True or False

True

In [ ]:
False or True

True

In [ ]:
False or False

False

In [ ]:
((True and True) or False and True) and (False or True) and True

True

In [ ]:
x = input('weather type')

if x == 'sunny':
    print('cafe')
elif x == 'cloudy':
    print('kino')
elif x == 'rainy':
    print('home')
else:
    print('pofig')


if x == 'sunny':
    print('cafe2')
if x == 'cloudy':
    print('kino2')
if x == 'rainy':
    print('home2')
else:
    print('pofig2')

kino
kino2
pofig2

In [ ]:
from random import randint
grades = [randint(50, 100) for i in range(14)]
print(grades)
s = sorted(grades)
print(s)
top_12 = s[-12:]
print(top_12)
s = sum(top_12)
print(s)
print(len(top_12))
avg = s // len(top_12)

[54, 88, 69, 85, 98, 86, 100, 88, 71, 76, 53, 82, 64, 59]
[53, 54, 59, 64, 69, 71, 76, 82, 85, 86, 88, 88, 98, 100]
[59, 64, 69, 71, 76, 82, 85, 86, 88, 88, 98, 100]
966
12

In [ ]:
print('score = ', avg)
if avg < 0 or avg > 100:
    print('error in grading')
elif avg >= 93:
    print('grade = A')
elif avg >= 90:
    print('grade = B+')
elif avg >= 87:
    print('grade = B')
elif avg >= 84:
    print('grade = B-')
elif avg >= 81:
    print('grade = C+')
elif avg >= 78:
    print('grade = C')
elif avg >= 75:
    print('grade = C-')
elif avg >= 72:
    print('grade = D+')
elif avg >= 69:
    print('grade = D')
elif avg >= 66:
    print('grade = D-')
elif avg >= 63:
    print('grade = F')
else:
    print('Failed the class')

score =  80
grade = C

In [ ]:
10 / 3

3.3333333333333335

In [ ]:
10 // 3

3

In [ ]:
s = 'emil'
print(len(s))

4

In [ ]:
s = 'Emil'
b = 'AIT'
print(s + b)

EmilAIT

In [ ]:
print(s + ' ' + b)

Emil AIT

In [ ]:
f'{s} {b}'

'Emil AIT'

In [ ]:
f"{s+b < b}"

'False'

In [ ]:
"{s+b} <-> {b}"

'{s+b} <-> {b}'

In [ ]:
ord('A'), ord('e')

(65, 101)

In [ ]:
'aaaazzz' < 'aazaaa'

True

In [ ]:
[2, 0, 1, 4] < [0, 0, 3, 0]

False

In [ ]:
[2, 0, 1, 4] < [3, 0]

True

In [ ]:
ord('a'), ord('b'), ord('A'), ord('B')

(97, 98, 65, 66)

In [ ]:
b = [1, 2, 3, 4]
print(b)
b[2] = 100
print(b)

[1, 2, 3, 4]
[1, 2, 100, 4]

In [ ]:
x = 'emil'
print(x)
x[2] = 'X'
print(x)

emil

TypeError: 'str' object does not support item assignment

In [ ]:
def imya():
    pass

In [ ]:
def raznitsa(x, y):
    return x - y

In [ ]:
raznitsa(10, 20)

-10

In [ ]:
def sredniy(grades):
    s = sorted(grades)
    top_12 = s[-12:]
    s = sum(top_12)
    avg = s // len(top_12)
    return avg

In [ ]:
def letter_grade(avg):
    print('score = ', avg)
    if avg < 0 or avg > 100:
        return 'error in grading'
    elif avg >= 93:
        return 'grade = A'
    elif avg >= 90:
        return 'grade = B+'
    elif avg >= 87:
        return 'grade = B'
    elif avg >= 84:
        return 'grade = B-'
    elif avg >= 81:
        return 'grade = C+'
    elif avg >= 78:
        return 'grade = C'
    elif avg >= 75:
        return 'grade = C-'
    elif avg >= 72:
        return 'grade = D+'
    elif avg >= 69:
        return 'grade = D'
    elif avg >= 66:
        return 'grade = D-'
    elif avg >= 63:
        return 'grade = F'
    else:
        return 'Failed the class'

In [ ]:
grades = [100, 100, 50, 75, 25, 100, 100, 100, 50]
print(sredniy(grades))
print(letter_grade(sredniy(grades)))

77
score =  77
grade = C-
None

In [ ]:
def f(x):
    return x*x*x

print(f(10))

1000

In [ ]:
avg = sredniy(grades)
letter = letter_grade(avg)
print(letter)

score =  77
grade = C-
None

In [ ]:
from csv import writer
x = []
with open('grades.csv', 'w', encoding='utf-8') as fid:
    file = writer(fid)
    for name in s:
        grades = [randint(0, 100) for i in range(10)]
        x.append([name] + grades)
        file.writerow([name] + grades)

In [ ]:
x

[['Абдралиев Белек Маратович', 60, 100, 31, 44, 88, 0, 64, 2, 97, 13],
 ['Абдуллаев Ийгилик Эльбурсович', 93, 74, 66, 32, 13, 61, 88, 48, 62, 25],
 ['Айтматов Байэл Бактыбекович', 42, 42, 42, 21, 78, 12, 12, 52, 21, 28],
 ['Асанбек уула Чынгыз', 27, 67, 17, 47, 86, 20, 8, 81, 87, 21],
 ['Асанов Искендер Асанович', 98, 75, 15, 17, 25, 6, 41, 21, 23, 38],
 ['Аскаров Арсен Анарбаевич', 76, 60, 65, 90, 97, 98, 21, 67, 44, 48],
 ['Байтемиров Искендер Бекмуратович', 96, 23, 6, 56, 94, 63, 85, 79, 30, 47],
 ['Баитиков Адел', 53, 73, 92, 80, 52, 93, 72, 95, 23, 98],
 ['Бакытбеков Роман Талантович', 56, 78, 73, 14, 40, 12, 56, 4, 66, 13],
 ['Бекбосунова Айша Болотовна', 79, 88, 39, 39, 94, 43, 48, 49, 30, 88],
 ['Бекенова Аяна', 35, 4, 77, 82, 65, 18, 8, 31, 73, 91],
 ['Бектемиров Ибрахимбек Максадбекович', 98, 81, 14, 22, 62, 8, 78, 5, 58, 95],
 ['Бердибаева Нурай Нурбековна', 63, 99, 84, 55, 87, 23, 100, 39, 56, 52],
 ['Болотбек уулу Эржан', 61, 29, 50, 85, 47, 77, 77, 70, 11, 64],
 ['Волгин Даниэль Максимович', 6, 6, 93, 97, 41, 73, 24, 19, 4, 10],
 ['Гулжигитов Дайырбек Мухаммедович', 73, 67, 16, 35, 70, 93, 7, 77, 72, 4],
 ['Джутанкеева Мээрим Тамерлановна', 76, 83, 22, 14, 88, 24, 26, 17, 2, 83],
 ['Душобаев Вилдан Гайратбекович', 97, 27, 73, 29, 60, 50, 43, 82, 93, 36],
 ['Жавдедова Назик Рустамовна', 15, 73, 0, 78, 19, 90, 67, 94, 61, 60],
 ['Жаныбекова Бегимай Жаныбековна', 5, 45, 42, 70, 74, 94, 16, 43, 38, 87],
 ['Жолдубаев Эмил Аресович', 91, 38, 87, 30, 67, 81, 78, 69, 61, 20],
 ['Жумаев Абдунур Нурбекович', 34, 20, 46, 58, 52, 21, 84, 42, 100, 18],
 ['Жыргалбек уулу Эрбол', 88, 24, 47, 96, 5, 63, 14, 61, 64, 87],
 ['Зиялиева Саадат Кадырбековна', 68, 49, 62, 98, 94, 55, 71, 26, 68, 92],
 ['Исмаилова Алтынай Нурбековна', 49, 90, 91, 44, 31, 60, 86, 89, 75, 54],
 ['Кадыракунова Аделя Эрнистовна', 23, 59, 5, 5, 90, 8, 37, 41, 19, 69],
 ['Канатбеков Ажо Канатбекович', 63, 29, 30, 71, 63, 69, 72, 28, 61, 66],
 ['Каримова Айбийке Азаматовна', 89, 29, 18, 23, 71, 91, 100, 17, 57, 57],
 ['Керимов Акбар Айбекович', 81, 97, 85, 82, 55, 9, 57, 62, 100, 77],
 ['Ким Жихён', 7, 10, 35, 17, 37, 53, 73, 61, 42, 24],
 ['Краснов Ильхан Даниярович', 99, 33, 66, 49, 82, 23, 51, 64, 43, 53],
 ['Кубанычбеков Эмир Арсланович', 88, 43, 26, 30, 20, 3, 40, 60, 51, 49],
 ['Курманова Бегайым Курмановна', 50, 3, 23, 98, 42, 84, 90, 73, 23, 10],
 ['Кусеинов Элдар Жээнбекович', 92, 95, 89, 93, 45, 19, 77, 0, 87, 43],
 ['Куттугалиева Зарылкан Бекболотовна', 78, 52, 5, 18, 98, 33, 38, 63, 97, 23],
 ['Кыдыкбекова Айпери Бахтияровна', 44, 3, 76, 33, 81, 75, 75, 40, 37, 52],
 ['Кыдыралиев Жанболот Тойчуевич', 69, 94, 67, 15, 93, 83, 54, 12, 87, 21],
 ['Маматалиев Нурболот ', 15, 92, 17, 60, 37, 40, 100, 72, 18, 98],
 ['Маматжанова Эленора Мирланбековна', 32, 55, 41, 57, 80, 44, 41, 27, 1, 69],
 ['Маматзундуев Бекбол Назбекович', 70, 56, 18, 24, 40, 27, 73, 25, 32, 53],
 ['Марсел', 64, 61, 2, 89, 89, 15, 32, 20, 35, 14],
 ['Надирбеков Абдусамат', 50, 25, 94, 0, 78, 29, 65, 68, 12, 80],
 ['Назарбаев Нурсултан Женишбекович', 19, 82, 0, 98, 48, 70, 82, 58, 63, 25],
 ['Нуралиева Асель Акжоловна', 74, 16, 86, 12, 5, 78, 67, 87, 69, 85],
 ['Омурбекова Мирана Азизбековна', 2, 22, 37, 94, 80, 24, 8, 30, 46, 64],
 ['Ормушов Темирлан Арстанбекович', 37, 60, 90, 53, 56, 77, 9, 24, 27, 64],
 ['Орунбаев Байжан Омурбекович', 97, 23, 82, 12, 98, 76, 66, 75, 96, 54],
 ['Рахматылло уулу Касымбек Сухрабович',
  39,
  74,
  85,
  46,
  51,
  52,
  32,
  56,
  72,
  5],
 ['Солтобеков Амин Бектурович', 53, 1, 62, 90, 98, 55, 0, 29, 12, 38],
 ['Сыдгали уулу Жаныбек', 8, 67, 3, 44, 37, 80, 8, 65, 45, 90],
 ['Таалайбеков Баястан Талайбекович', 81, 49, 79, 26, 34, 51, 88, 75, 32, 7],
 ['Тагаева Рахат Арапшаевна', 88, 95, 69, 71, 68, 1, 49, 54, 2, 48],
 ['Ташбай уулу Даниэл', 69, 66, 49, 71, 70, 22, 99, 59, 8, 30],
 ['Торокулов Айман Талайбекович', 37, 72, 75, 9, 0, 95, 88, 72, 99, 52],
 ['Хусанбаева Диляфруз Азимжоновна', 5, 65, 37, 56, 91, 32, 65, 5, 87, 79],
 ['Шукуралиев Нурдан Даниярович', 20, 78, 3, 43, 9, 80, 60, 23, 23, 3],
 ['Элчиев Ясир Жыргалбекович', 85, 87, 61, 77, 88, 5, 95, 3, 71, 35],
 ['Эркибаев Нурбек Алмазович', 2, 50, 80, 9, 17, 90, 38, 28, 85, 28],
 ['Калматов Азиз Кылычбекович', 43, 62, 91, 21, 22, 60, 48, 1, 49, 16],
 ['Жапаров Шердос\xa0', 22, 86, 65, 18, 100, 73, 74, 15, 16, 62],
 ['Аширалиев\xa0Аман', 91, 49, 95, 15, 22, 41, 12, 64, 35, 36],
 ['Eldiyar', 11, 75, 21, 42, 97, 33, 98, 47, 45, 99],
 ['Asylkan', 22, 11, 14, 95, 23, 20, 6, 85, 15, 98],
 ['Kutman', 87, 38, 86, 84, 51, 95, 2, 51, 81, 3],
 ['Diaz', 74, 43, 76, 70, 10, 9, 91, 88, 16, 70],
 ['Shergazy', 78, 1, 90, 37, 35, 53, 4, 81, 63, 38],
 ['Akylbek\xa0Zamirov', 97, 29, 58, 46, 89, 39, 97, 86, 61, 96],
 ['', 96, 86, 61, 63, 14, 37, 26, 86, 39, 11]]

In [ ]:
for i in x:
    avg = sredniy(i[1:])
    letter = letter_grade(avg)
    print(i[0], letter)

score =  49
Абдралиев Белек Маратович Failed the class
score =  56
Абдуллаев Ийгилик Эльбурсович Failed the class
score =  35
Айтматов Байэл Бактыбекович Failed the class
score =  46
Асанбек уула Чынгыз Failed the class
score =  35
Асанов Искендер Асанович Failed the class
score =  66
Аскаров Арсен Анарбаевич grade = D-
score =  57
Байтемиров Искендер Бекмуратович Failed the class
score =  73
Баитиков Адел grade = D+
score =  41
Бакытбеков Роман Талантович Failed the class
score =  59
Бекбосунова Айша Болотовна Failed the class
score =  48
Бекенова Аяна Failed the class
score =  52
Бектемиров Ибрахимбек Максадбекович Failed the class
score =  65
Бердибаева Нурай Нурбековна grade = F
score =  57
Болотбек уулу Эржан Failed the class
score =  37
Волгин Даниэль Максимович Failed the class
score =  51
Гулжигитов Дайырбек Мухаммедович Failed the class
score =  43
Джутанкеева Мээрим Тамерлановна Failed the class
score =  59
Душобаев Вилдан Гайратбекович Failed the class
score =  55
Жавдедова Назик Рустамовна Failed the class
score =  51
Жаныбекова Бегимай Жаныбековна Failed the class
score =  62
Жолдубаев Эмил Аресович Failed the class
score =  47
Жумаев Абдунур Нурбекович Failed the class
score =  54
Жыргалбек уулу Эрбол Failed the class
score =  68
Зиялиева Саадат Кадырбековна grade = D-
score =  66
Исмаилова Алтынай Нурбековна grade = D-
score =  35
Кадыракунова Аделя Эрнистовна Failed the class
score =  55
Канатбеков Ажо Канатбекович Failed the class
score =  55
Каримова Айбийке Азаматовна Failed the class
score =  70
Керимов Акбар Айбекович grade = D
score =  35
Ким Жихён Failed the class
score =  56
Краснов Ильхан Даниярович Failed the class
score =  41
Кубанычбеков Эмир Арсланович Failed the class
score =  49
Курманова Бегайым Курмановна Failed the class
score =  64
Кусеинов Элдар Жээнбекович grade = F
score =  50
Куттугалиева Зарылкан Бекболотовна Failed the class
score =  51
Кыдыкбекова Айпери Бахтияровна Failed the class
score =  59
Кыдыралиев Жанболот Тойчуевич Failed the class
score =  54
Маматалиев Нурболот  Failed the class
score =  44
Маматжанова Эленора Мирланбековна Failed the class
score =  41
Маматзундуев Бекбол Назбекович Failed the class
score =  42
Марсел Failed the class
score =  50
Надирбеков Абдусамат Failed the class
score =  54
Назарбаев Нурсултан Женишбекович Failed the class
score =  57
Нуралиева Асель Акжоловна Failed the class
score =  40
Омурбекова Мирана Азизбековна Failed the class
score =  49
Ормушов Темирлан Арстанбекович Failed the class
score =  67
Орунбаев Байжан Омурбекович grade = D-
score =  51
Рахматылло уулу Касымбек Сухрабович Failed the class
score =  43
Солтобеков Амин Бектурович Failed the class
score =  44
Сыдгали уулу Жаныбек Failed the class
score =  52
Таалайбеков Баястан Талайбекович Failed the class
score =  54
Тагаева Рахат Арапшаевна Failed the class
score =  54
Ташбай уулу Даниэл Failed the class
score =  59
Торокулов Айман Талайбекович Failed the class
score =  52
Хусанбаева Диляфруз Азимжоновна Failed the class
score =  34
Шукуралиев Нурдан Даниярович Failed the class
score =  60
Элчиев Ясир Жыргалбекович Failed the class
score =  42
Эркибаев Нурбек Алмазович Failed the class
score =  41
Калматов Азиз Кылычбекович Failed the class
score =  53
Жапаров Шердос  Failed the class
score =  46
Аширалиев Аман Failed the class
score =  56
Eldiyar Failed the class
score =  38
Asylkan Failed the class
score =  57
Kutman Failed the class
score =  54
Diaz Failed the class
score =  48
Shergazy Failed the class
score =  69
Akylbek Zamirov grade = D
score =  51
 Failed the class

In [ ]:
a = [1, 2, 4, 6, 9, 0]

In [ ]:
a[2:4]

[4, 6]

In [ ]:
a[-2:]

[9, 0]

In [ ]:
a

[1, 2, 4, 6, 9, 0]

In [ ]:
a[1:]

[2, 4, 6, 9, 0]

In [ ]:
a[:4]

[1, 2, 4, 6]

In [ ]:
a

[1, 2, 4, 6, 9, 0]

In [ ]:
sorted(a), sorted(a, reverse=True)

([0, 1, 2, 4, 6, 9], [9, 6, 4, 2, 1, 0])

In [ ]:
a.sort(reverse=True)

In [ ]:
a

[9, 6, 4, 2, 1, 0]

In [ ]:
s = 'emil'
str.join(sorted(s))

TypeError: descriptor 'join' for 'str' objects doesn't apply to a 'list' object

In [ ]:
# slicing

a[:1]
a[1:]
a[1:3]
a[-2:]

[1, 0]

In [ ]:
def f1(a, b, c = 5):
    return a + b + c

In [ ]:
f1(1, 5, 9)

15

In [ ]:
f1(4, 10)

19

In [ ]:
j = [1, 4, 9, 10, 20]

for a in j:
    print(a, a*a, a**5, a**0.5)

1 1 1 1.0
4 16 1024 2.0
9 81 59049 3.0
10 100 100000 3.1622776601683795
20 400 3200000 4.47213595499958

In [ ]:
#

1. (10) Дан код: a = [2, 4, 6]; b = a; a = a + [8]. Что окажется в a и b?
2. (25) Реализуйте мини-«оценивание»: по среднему баллу avg выведите "A" (90+), "B" (80–89), "C" (70–79), иначе "Failed".
3. (10) Для строки s = 'AIT PL' выведите её длину, а также первый и последний символ
4. (20) Напишите функцию, которая принимает массив a=[“emil”, “ait”, “university”] слов и возвращает список их длин (result = [4, 3, 10])
5. (20) Для функции
def add(a, b, c=10): 
return a + b + c 
объясните роль параметра по умолчанию
что выводит следующие add(9, 4, 30)
что выводит следующие add(9, 4)
6. (15) Для массива arr = [4, 2, 1, 6, 8, 9, 10], что выводит следующие:
arr[:2]
arr[2:]
arr[2:3]
Arr[-3:]

In [ ]:
# 1. Дан код: a = [2, 4, 6]; b = a; a = a + [8]. Что окажется в a и b?

a = [2, 4, 6]
b = a
a = a + [8, 10, 20]
print(a)
print(b)

[2, 4, 6, 8, 10, 20]
[2, 4, 6]

In [ ]:
# 2. Реализуйте мини-«оценивание»: по среднему баллу avg выведите 
# "A" (90+), "B" (80–89), "C" (70–79), иначе "Failed".

def score(avg):
    if avg >= 90:
        return "A"
    elif avg >= 80:
        return "B"
    elif avg >= 70:
        a = 10
        print("nachalo")
        return "C"
        print("vse")
        a = 10
    else:
        return "fig znaet"


print(90, score(90))
print(85, score(85))
print(60, score(60))
print(75, score(75))

90 A
85 B
60 fig znaet
nachalo
75 C

In [ ]:
#3. Для строки s = 'AIT PL' выведите её длину, а также первый и 
# последний символ
s = 'AIT PL'
print(len(s), s[0], s[-1], s[len(s)-1])
print(s[len(s)-1])

6 A L L
L

In [ ]:
#4. Напишите функцию, которая принимает массив 
# a=[“emil”, “ait”, “university”] слов и возвращает список их длин (result = [4, 3, 10])

def length1(arr):
    return [len(i) for i in arr]

def length2(arr):
    for i in arr:
        print(len(i))

def length3(s):
    result = []
    for i in s:
        result.append(len(i))
    return result

def length4(s):
    result = []
    for i in s:
        result = result + [len(i)]
    return result

a=["emil", "ait", "university"]
print(length1(a))
length2(a)
print(length3(a))
print(length4(a))

# max(var1 , var2)

[4, 3, 10]
4
3
10
[4, 3, 10]
[4, 3, 10]

In [ ]:
# 6. Для массива 
arr = [4, 2, 1, 6, 8, 9, 10]
#что выводит следующие:
print(arr[:2]) # 4, 2
print(arr[2:]) # 1, 6, 8, 9, 10
print(arr[2:3]) # 1 (1, 6 -> -5%)
print(arr[-3:]) # 8, 9, 10
print(arr[-10:]) # index out of range => arr[-7:] arr[max(-len(arr), -10) : ]
print(arr[max(-len(arr), -10) : ]) 

print(arr[30:35])

[4, 2]
[1, 6, 8, 9, 10]
[1]
[8, 9, 10]
[4, 2, 1, 6, 8, 9, 10]
[4, 2, 1, 6, 8, 9, 10]
[]

In [ ]:
#5. Для функции
# def add(a, b, c=10): 
# return a + b + c 
# объясните роль параметра по умолчанию
# что выводит следующие add(9, 4, 30)
# что выводит следующие add(9, 4)
def add(a, b, c=10): 
    # add(9, 4, 30) -> a = 9, b=4, c = 30 => 43
    # add(9, 4) -> a = 9, b = 4, c = 10 => 23
    return a + b + c 

print('add(9, 4, 30): ', add(9, 4, 30))
print('add(9, 4): ', add(9, 4))

add(9, 4, 30):  43
add(9, 4):  23

1. (20) Оцените (False or True) and (True and False) and (True or False and False). 
2. (0) Сравните / и //. На  пример 10/3 и 10//3. Объясните разницу.
3. (20) Для a = [10, 20]; b = a; a = 50 — что в b? Почему?
4. (30) Напишите программу, которая посчитает сумму, минимум и максимум списка 
arr = [4, 5, 9, 10, 12, 3]
5. (15) Как вычислить количество элементов в списке
6. (15) Напишите программу, которая выводит последние три элемента в массиве.

In [ ]:
#1. Оцените (False or True) and (True and False) and (True or False and False). 

(False or True) and (True and False) and (True or False and False)

False

In [ ]:
# 2. Сравните / и //. На  пример 10/3 и 10//3. Объясните разницу.

print(10/3, 10//3, int(10/3))

3.3333333333333335 3 3

In [ ]:
#3. Для a = [10, 20]; b = a; a = 50 — что в b? Почему?

a = [10, 20]
b = a
a = 50

print(b)  # [10, 20]

[10, 20]

In [ ]:
#4. Напишите программу, которая посчитает сумму, минимум и максимум списка 

def mysum(arr):
    s = 0
    min = arr[0]
    max = arr[0]
    for i in arr:
        s += i
        if min > i:
            min = i
        if max < i:
            max = i
    return s, max, min

def mysum2(arr):
    s = 0
    for i in arr:
        s = s + i
    return s

def min(arr):
    return sorted(arr)[0]

def max(arr):
    return sorted(arr)[-1]

def minmax(arr):
    arr.sort()
    return arr[0], arr[-1]
    
arr = [9, 1, 0, 8, 2, 0, -1]

print(mysum(arr))
print(mysum2(arr))
print(min(arr))
print(max(arr))
print(minmax(arr))

(19, 9, -1)
19
-1
9
(-1, 9)

In [ ]:
arr = [4, 9, 0, -1, 2]

sorted(arr)[0]

-1

In [ ]:
arr.sort()[-1]

TypeError: 'NoneType' object is not subscriptable

In [ ]:
# 5. Как вычислить количество элементов в списке

arr = [4, 9, 0, 1]
print(len(arr))

4

In [ ]:
# 6. Напишите программу, которая выводит последние три элемента в массиве.
arr = [4, 2,1, 3, 6]
print(arr[-3:])

[1, 3, 6]

In [ ]:
arr = [1, 2, 3]

a, b, c = arr

In [ ]:
a, c, b

(1, 3, 2)

In [ ]:
def minmax(arr):
    min = arr[0]
    max = arr[0]
    for i in arr:
        if min > i:
           min = i
        if max < i:
            max = i
    return min, max

In [ ]:
arr = [1, 2, 3]
x, y, c = minmax(arr)
print(x)
print(y)

ValueError: not enough values to unpack (expected 3, got 2)

In [ ]:
def mymin(arr):
    min = float('inf')
    for i in arr:
        if min > i:
            min = i
    return min

def mymax(arr):
    max = float('-inf')
    for i in arr:
        if max < i:
            max = i
    return max

def mysum(arr):
    sum = 0
    for i in arr:
        sum += i # sum = sum + i
    return sum


def minmaxsum(arr):
    return mymin(arr), mymax(arr), mysum(arr)

def minmaxsum2(arr):
    min = mymin(arr)
    max = mymax(arr)
    sum = mysum(arr)
    return min, max, sum


arr = [9, 8, 1, 0, 2]
print(minmaxsum(arr))
print(minmaxsum2(arr))

(0, 9, 20)
(0, 9, 20)

In [ ]:
arr = []
print(minmaxsum(arr))

(inf, -inf, 0)

In [ ]:
arr = [1, 9, 4, 10, 0]
min(arr)

0

In [ ]:
arr = [1, 29, -1, 0]
mymax(arr)

29

In [ ]:
arr = []
print(mymin(arr), mymax(arr))

inf -inf

In [ ]:
import math

type(float("inf"))

float

In [ ]:
int('inf')

ValueError: invalid literal for int() with base 10: 'inf'

In [ ]:
# INT_MAX, INT_MIN, .dll

# int a = 10;

-(2 ** 31 - 1), +2 ** 31

(-2147483647, 2147483648)

In [ ]:
mymax([10, 20])

20

In [ ]:
10/3

3.3333333333333335

In [ ]:
arr = [1, 2, 3, 5]
inx = 1.0

print(arr[inx])

TypeError: list indices must be integers or slices, not float

In [ ]:
#Сгенерируйте список из 12 случайных оценок в диапазоне 50..100. 
# Возьмите топ-5 (наибольшие), 
# посчитайте их среднее (целая часть) и присвойте 
# букву-оценку: A (90+), B (80–89), C (70–79), иначе — Failed.

from random import randint
arr = [randint(50, 100) for i in range(12)]

arr.sort()
b = arr[-5:]
avg = sum(b)/len(b)
if avg >= 90:
    print('A')
elif avg > 80:
    print('B')
elif avg > 70:
    print('C')
else:
    print('Failed')

B

In [ ]:
from collections import Counter
c = Counter([randint(0, 9) for i in range(10)])
for altinay, iskender in c.items():
    print(altinay, iskender)

2 99882
3 99938
6 99662
5 99952
8 100090
1 100742
9 99736
7 100051
4 99901
0 100046

In [ ]:
summa = []
for i in range(1000000):
    x = [randint(0, 1) for i in range(20)]
    summa.append(sum(x))

In [ ]:
c = Counter(summa)
for i in range(21):
    print(i, '*'*int(20*c[i]/100000), c[i]/1000000)

0  1e-06
1  1.7e-05
2  0.000168
3  0.001025
4  0.004606
5 ** 0.014762
6 ******* 0.037045
7 ************** 0.07415
8 ************************ 0.120327
9 ******************************* 0.159664
10 *********************************** 0.176
11 ******************************** 0.160843
12 *********************** 0.119801
13 ************** 0.073959
14 ******* 0.036956
15 ** 0.014743
16  0.004697
17  0.00104
18  0.000173
19  2.2e-05
20  1e-06

In [ ]:
'''Дан список цен купленных товаров prices (в сомах, целые числа). 
Начислите function discount(arr) скидку по правилам (приоритет сверху вниз):
Если S > 10000 и Q > 4 → скидка 15%.
Иначе, если 3000 ≤ S ≤ 5000 и Q > 2 → скидка 10%.
Иначе, если только S > 10000 → скидка 5%.
Иначе — без скидки.
Выведите итоговую сумму после применения скидки. '''

In [ ]:
def discount(arr):
    if sum(arr) > 10000 and len(arr) > 4:
        return sum(arr) * 0.85
    elif 3000 <= sum(arr) <= 5000 and len(arr) > 2:
        return sum(arr) * 0.90
    elif sum(arr) > 10000:
        return sum(arr) * 0.95
    else:
        return sum(arr)
    

def discount2(arr):
    if sum(arr) > 10000 and len(arr) > 4:
        return sum(arr) * 0.85
    elif sum(arr) > 10000:
        return sum(arr) * 0.95
    elif 3000 <= sum(arr) <= 5000 and len(arr) > 2:
        return sum(arr) * 0.90
    else:
        return sum(arr)
    


def discount3(arr):
    if sum(arr) > 10000:
        return sum(arr) * 0.95
    elif sum(arr) > 10000 and len(arr) > 4:
        return sum(arr) * 0.85
    elif 3000 <= sum(arr) <= 5000 and len(arr) > 2:
        return sum(arr) * 0.90
    else:
        return sum(arr)
    

def discount4(arr):
    total = sum(arr)
    count = len(arr)
    if total > 10000 and count > 4:
        return total * 0.85
    elif total > 10000:
        return total * 0.95
    elif 3000 <= total <= 5000 and count > 2:
        return total * 0.90
    else:
        return total

In [ ]:
# 1, 1, 2, 3, 5, 8, 13 ... 

def fib1(n):
    if n < 1:
        return 0
    if n == 1:
        return 1
    return fib1(n-1) + fib1(n-2)

In [ ]:
from time import time
start = time()
n = 40
print(n, fib1(n))
print('time = ', time() - start)

40 102334155
time =  18.53617215156555

In [ ]:
def fib2(n):
    n_2, n_1 = 0, 1
    for i in range(1, n):
        n_2, n_1 = n_1, n_2 + n_1
    return n_1

In [ ]:
from time import time
start = time.time()
n = 1000
print(n, fib2(n))
print('time = ', time() - start)

1000 43466557686937456435688527675040625802564660517371780402481729089536555417949051890403879840079255169295922593080322634775209689623239873322471161642996440906533187938298969649928516003704476137795166849228875
time =  0.0

In [ ]:
time()

1758098400.84435

In [ ]:
time()

1758098909.5637858

In [ ]:
arr1 = [1, 2, 3]
arr2 = [3, 4 , 5, 6]

arr1 + arr2

[1, 2, 3, 3, 4, 5, 6]

In [ ]:
for i in arr1:
    if i in arr2:
        arr2.remove(i)
        # arr2.pop(index)
print(arr2)

[4, 5, 6]

In [ ]:
x = []
for i in arr2:
    if i not in arr1:
        x.append(i)
print(x)

[4, 5, 6]

In [ ]:
arr = [1, 2, 3, 4, 5]
arr.insert(1, 10) # [1, 10, 2, 3, 4, 5]
print(arr)

[1, 10, 2, 3, 4, 5]

In [ ]:
arr = [2, 3, 4, 5, 6]
arr.pop(3) # it will remove 5 since it is on 3th index
print(arr)

[2, 3, 4, 6]

In [ ]:
arr = [2, 3, 4, 5, 6]
arr.pop()
print(arr)

[2, 3, 4, 5]

In [ ]:
arr = [2, 3, 4, 5, 3, 6]
while 3 in arr:
    arr.remove(3)
print(arr)

[2, 4, 5, 6]

In [ ]:
arr = [2, 3, 4, 5, 6]
for i in arr:
    print(i, end = ',')

2,3,4,5,6,

In [ ]:
arr = [2, 3, 4, 5, 6]
for i in range(len(arr)):
    print(arr[i], end = ', ')

2, 3, 4, 5, 6,

In [ ]:
arr = [2, 3, 4, 5, 6]
i = 0
while i < len(arr): 
    print(arr[i], end = ', ')
    i += 1

2, 3, 4, 5, 6,

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
arr = [2, 3, 4, 5, 6]

print(arr[2])

4

In [ ]:
arr = [2, 3, 10, 4, 5, 6]
target = 10
for i in range(len(arr)):
    if arr[i] == target:
        print(f'index of value {target} is in index = ', i)

index of value 10 is in index =  2

In [ ]:
arr = [2, 3, 10, 4, 5, 6]
target = 10
for a, b in enumerate(arr):
    if b == target:
        print('index = ', a)

index =  2

In [ ]:
arr = [2, 3, 4, 5, 6]
list(zip(range(len(arr)), arr))

[(0, 2), (1, 3), (2, 10), (3, 4), (4, 5), (5, 6)]

In [ ]:
arr1 = [13, 6, 7, 11, 5]
arr2 = [25, 100, 71, 65]

list(zip(arr1, arr2))

[(13, 25), (6, 100), (7, 71), (11, 65)]

In [ ]:
arr2 = [25, 100, 71, 65]
x = list(range(len(arr2)))
print(arr2)
print(x)

[25, 100, 71, 65]
[0, 1, 2, 3]

In [ ]:
list(zip(x, arr2))

[(0, 25), (1, 100), (2, 71), (3, 65)]

In [ ]:
names = ['cola', 'smetana', 'banan', 'anan', 'yogurt', 'bread', 'notebook']
prices = [55, 95, 35, -20, 47, 30, 220]

for i in range(len(names)):
    if names[i] == 'bread':
        break

print(i)

5

In [ ]:
names = ['cola', 'smetana', 'banan', 'anan', 'yogurt', 'bread', 'notebook']
prices = [55, 95, 35, -20, 47, 30, 220]
quatity = []
sale_price = []
buying_price = []

def getPrice(produkt):
    for tovar, tsena in zip(names, prices):
        if tovar == produkt:
            return tsena
    return 0

def getPrice2(produkt):
    for i in range(len(names)):
        if names[i] == produkt:
            return prices[i]
    return 0
    

print('cola = ', getPrice('cola'))
print('bread = ', getPrice('bread'))

cola =  55
bread =  30

In [ ]:
names = ['cola', 'smetana', 'banan', 'anan', 'yogurt', 'bread', 'notebook']
prices = [55, 95, 35, -20, 47, 30, 220]

def getTotal(produkti, kolichestvo):
    total = 0
    for tovar, koli in zip(produkti, kolichestvo):
        price = getPrice(tovar) 
        print(f'{tovar} ({price}) x {koli} = ', price*koli)
        total += price*koli
    print('_' * 20)
    return total

produkti = ['bread', 'banan', 'yogurt']
kolichestvo = [1, 3, 2]

print('Total amount = ', getTotal(produkti, kolichestvo))

bread (30) x 1 =  30
banan (35) x 3 =  105
yogurt (47) x 2 =  94
____________________
Total amount =  229

In [ ]:
arr1  = [1,2, 3, 4, 5]
arr2 = [9, 9, 1, 2, 3]
arr3 = [9, 1, 3, 0, 7]

list(zip(arr1, arr2, arr3))

[(1, 9, 9), (2, 9, 1), (3, 1, 3), (4, 2, 0), (5, 3, 7)]

In [ ]:
type((1,2,3))

tuple

In [ ]:
type([1,2,3])

list

In [ ]:
arr1 = [1,2,3]
arr2 = (1,2,3)

In [ ]:
print(arr1[0], arr2[0])

1 1

In [ ]:
arr1[0] = 10
arr2[0] = 10

TypeError: 'tuple' object does not support item assignment

In [ ]:
arr1 + [1]

[10, 2, 3, 1]

In [ ]:
arr2 + (3)

TypeError: can only concatenate tuple (not "int") to tuple

In [ ]:
from random import randint

def getSeat(cinema, name, seat = 'illiboy'):
    if seat == 'illiboy':
        for i in range(len(cinema)):
            if cinema[i] == False:
                cinema[i] = name
                return True
        return False
    elif seat < len(cinema) and cinema[seat] == False:
        cinema[seat] = name
        return True
    else:
        return False

In [ ]:
cinema = [False] * 8
print('Iskender = 2', getSeat(cinema, 'Iskender', 2))
print(cinema)
print('Zaarylkan = random', getSeat(cinema, 'Zaarylkan'))
print(cinema)
print('Adil = random', getSeat(cinema, 'Adil'))
print(cinema)
print('Altinay = 1', getSeat(cinema, 'Altinay', 2-1))
print(cinema)
print('Altinay = 3', getSeat(cinema, 'Altinay', 2+1))
print(cinema)
print('Zaarylkan2 = random', getSeat(cinema, 'Zaarylkan'))
print(cinema)
print('Adil2 = random', getSeat(cinema, 'Adil'))
print('Zaarylkan3 = random', getSeat(cinema, 'Zaarylkan'))
print(cinema)
print('Adil3 = random', getSeat(cinema, 'Adil'))

Iskender = 2 True
[False, False, 'Iskender', False, False, False, False, False]
Zaarylkan = random True
['Zaarylkan', False, 'Iskender', False, False, False, False, False]
Adil = random True
['Zaarylkan', 'Adil', 'Iskender', False, False, False, False, False]
Altinay = 1 False
['Zaarylkan', 'Adil', 'Iskender', False, False, False, False, False]
Altinay = 3 True
['Zaarylkan', 'Adil', 'Iskender', 'Altinay', False, False, False, False]
Zaarylkan2 = random True
['Zaarylkan', 'Adil', 'Iskender', 'Altinay', 'Zaarylkan', False, False, False]
Adil2 = random True
Zaarylkan3 = random True
['Zaarylkan', 'Adil', 'Iskender', 'Altinay', 'Zaarylkan', 'Adil', 'Zaarylkan', False]
Adil3 = random True

In [ ]:
from random import randint
while True:
    index = randint(0, 9)
    print(index) 
    if index == 9:
        break

7
4
3
4
3
4
4
1
5
3
9

Исходные данные: 
два массива:
- store_items (названия товаров)
- prices (цены). 
Пример:
names  = ["Хлеб", "Молоко", "Сыр", "Яйца", "Чай"]
prices = [   45 ,     65 ,  120 ,   80 ,  150 ]

1.min_price_name() → str  [20 points]
Вернуть имя товара с минимальной ценой.

2.count_below(price: int|float) → int   [20 points]
Посчитать, сколько товаров дешевле указанной цены.

3.longest_name() → str  [20 points]
Вернуть имя товара с самым длинным названием.

4.avg_above(threshold: int|float) → float [20 points]
Посчитать среднюю цену только тех товаров, которые дороже threshold.

5.prefix_search(prefix: str) → list[str]     [10 points]
Вернуть список имён, начинающихся с prefix

6.total_value() → int|float   [10 points]
Посчитать сумму всех цен.

In [ ]:
arr = [0, 1, 8, 7, 9, 4, 3, 0, 5]

peremenniy = 0
for i in arr:
    if i < 5:
        peremenniy += 1
print(peremenniy)

print(arr)
print([1 if i < 5 else 0 for i in arr])
print([i if i > 3 else 0 for i in arr if i < 5])

5
[0, 1, 8, 7, 9, 4, 3, 0, 5]
[1, 1, 0, 0, 0, 1, 1, 1, 0]
[0, 0, 4, 0, 0]

In [ ]:
x

[0, 1, 4, 3, 0]

In [ ]:
arr[0] = 10
print(arr)
print(x)

[10, 1, 8, 7, 9, 4, 3, 0, 5]
[0, 1, 8, 7, 9, 4, 3, 0, 5]

In [ ]:
'''Исходные данные: 
два массива:
- store_items (названия товаров)
- prices (цены). 
Пример:'''
names  = ["Bread", "Milk", "XYCheese", "Egg", "XYTea"]
prices = [   145 ,     65 ,  120 ,   80 ,  150 ]

#1.min_price_name() → str  [20 points]
#Вернуть имя товара с минимальной ценой.
# short
print('#1: ', names[prices.index(min(prices))])

# long

def min_prices():
    ans = ''
    min = float('inf')
    '''for i in range(len(prices)):
        if min > prices[i]:
            min = prices[i]
            ans = names[i]'''
    for name, price in zip(names, prices):
        if min > price:
            min = price
            ans = name
    return ans


#2.count_below(price: int|float) → int   [20 points]
#Посчитать, сколько товаров дешевле указанной цены.
# short version
print('#2: ', sum([1 for i in prices if i < 100]))

#long version
def count_below(threshold):
    count = 0
    for i in prices:
        if i < threshold:
            count += 1
    return count


#3.longest_name() → str  [20 points]
#Вернуть имя товара с самым длинным названием.
# short
print('#3: ', sorted([(len(names[i]), i, names[i]) for i in range(len(names))])[-1])

# long
def longest_name():
    dlini = []
    for i in names:
        dlini.append(len(i))
    min_index = 0
    for index, dlina in enumerate(arr):
        if dlini[min_index] > dlina:
            min_index = index
    return names[min_index]

# long v2
def longest_name2():
    lname = names[0]
    for i in names:
        if len(lname) < len(i):
            lname = i 
    return lname


#4.avg_above(threshold: int|float) → float [20 points]
#Посчитать среднюю цену только тех товаров, которые дороже threshold.
# short
arr =[i for i in prices if i > 100]
print('#4: ', sum(arr)/len(arr))

# long
def avg_above(threshold):
    sum = 0
    count = 0
    for i in prices:
        if i > threshold:
            sum += i
            count += 1
    return sum / count



def prefix_search(prefix: str):# → list[str]     [10 points]
#Вернуть список имён, начинающихся с prefix
#prefix = 'XY'  
    #short
    return [i for i in names if prefix == i[:len(prefix)]]

    #long
    arr = []
    for i in names:
        if prefix == i[:len(prefix)]:
            arr.append(i)
    return arr

def total_value(): #→ int|float   [10 points]
#Посчитать сумму всех цен.
    return sum(prices)

IndentationError: expected an indented block after 'if' statement on line 96 (780912662.py, line 98)

In [ ]:
print(arr, arr.index(4))

[0, 1, 8, 7, 9, 4, 3, 0, 5] 5

In [ ]:
'''
два массива:
- seats — список мест, где значение либо False (место свободно), либо str (имя человека).
- prices — список цен за каждое место (числа). 
Пример: '''
seats = [False, "Айда", False, "Тимур", False] 
prices = [300, 500, 400, 700, 300]

def richest_person():# → str        (20 points)
    return seats[prices.index(max(prices))]
#Вернуть имя клиента с самой дорогой ценой места.
print('#1: ', richest_person())
 

def swap_people(idx1: int, idx2: int): # → bool              (20 points)
    if 0<=idx1<len(seats) and 0 <= idx2 < len(seats):
        seats[idx1], seats[idx2] = seats[idx2], seats[idx1]
        return True
    else:
        return False
#Поменять местами двух клиентов.

#3.count_above(price: int) → int             (20 points)
#Посчитать количество клиентов, сидящих на местах дороже price.
print('#3: ', sum([1 for i in prices if i > 300]))

#4.last_free() → int | -1          (20 points)
#Вернуть индекс последнего свободного места.
print('#4: ', [i for i, j in enumerate(seats) if j == False][-1])

#5.cheapest_available() → int | -1          (10 points)
#Найти индекс самого дешёвого свободного места.
print('#5: ', sorted([(price, index) for index, price in enumerate(prices) if not seats[index]])[-1][1])


#6.count_available() → int        (10 points)
#Подсчитать количество свободных мест.
print('#6: ', sum([1 for i in seats if not i]))

#1:  Тимур
#3:  3
#4:  4
#5:  2
#6:  3

In [ ]:
print(seats)
print(prices)
swap_people(1, 3)
print(seats)
print(prices)

[False, 'Айда', False, 'Тимур', False]
[300, 500, 400, 700, 300]
[False, 'Тимур', False, 'Айда', False]
[300, 700, 400, 500, 300]

In [ ]:
d = {"emil": 1000, "altinay": 2000, "iskender": 500, 3: 10000, 2.25: 5000, "aiperi": [1000, 3000]}
arr = [1, 2, 4, 5]

In [ ]:
d.keys()

dict_keys(['emil', 'altinay', 'iskender', 3, 2.25, 'aiperi'])

In [ ]:
d.values()

dict_values([1000, 2000, 500, 10000, 5000, [1000, 3000]])

In [ ]:
d = {1:1, 2:2, 4:5, 1:5, 2:7}
type(d), d

(dict, {1: 5, 2: 7, 4: 5})

In [ ]:
names  = ["Bread", "Milk", "XYCheese", "Egg", "XYTea"]
prices = [   145 ,     65 ,  120 ,   80 ,  150 ]

In [ ]:
d = dict(zip(names, prices))

In [ ]:
d.items()

dict_items([('Bread', 145), ('Milk', 65), ('XYCheese', 120), ('Egg', 80), ('XYTea', 150)])

In [ ]:
for i in d:
    print(i, d[i])

Bread 145
Milk 65
XYCheese 120
Egg 80
XYTea 150

In [ ]:
for i in d.items():
    print(i)

('Bread', 145)
('Milk', 65)
('XYCheese', 120)
('Egg', 80)
('XYTea', 150)

In [ ]:
for kluch, znachenie in d.items():
    print(kluch, '->', znachenie)

Bread -> 145
Milk -> 65
XYCheese -> 120
Egg -> 80
XYTea -> 150

In [ ]:
d['isken'] = True
d

{'Bread': 145,
 'Milk': 65,
 'XYCheese': 120,
 'Egg': 80,
 'XYTea': 150,
 'isken': True}

In [ ]:
d[True] = 'Iskender'
d

{'Bread': 145,
 'Milk': 65,
 'XYCheese': 120,
 'Egg': 80,
 'XYTea': 150,
 'isken': True,
 True: 'Iskender'}

In [ ]:
d[2] = 'iskender'
d

{'Bread': 145,
 'Milk': 65,
 'XYCheese': 120,
 'Egg': 80,
 'XYTea': 150,
 'isken': True,
 True: 'iskender',
 2: 'iskender'}

In [ ]:
d[False] = 'altinay'
d[0] = 'zaa'
d

{'Bread': 145,
 'Milk': 65,
 'XYCheese': 120,
 'Egg': 80,
 'XYTea': 150,
 'isken': True,
 True: 'iskender',
 2: 'iskender',
 False: 'zaa'}

In [ ]:
d[(1, 2, 3)] = 25
d

{'Bread': 145,
 'Milk': 65,
 'XYCheese': 120,
 'Egg': 80,
 'XYTea': 150,
 'isken': True,
 True: 'iskender',
 2: 'iskender',
 False: 'zaa',
 (1, 2, 3): 25}

In [ ]:
d[[1,2,3]] = 30
d

TypeError: unhashable type: 'list'

In [ ]:
'''
Исходные данные: 
два массива:
- store_items (названия товаров)
- prices (цены). 
Пример:
'''
d  = {"Bread": 45, "Milk": 65, "Cheese": 120, "Egg":80, "Tea":150}

#1.min_price_name() → str  [20 points]
#Вернуть имя товара с минимальной ценой.
def min_price_name():
    min = float('inf')
    answer = ''
    for name in d:
        if min > d[name]:
            min = d[name]
            answer = name
    return answer



#2.count_below(price: int|float) → int   [20 points]
#Посчитать, сколько товаров дешевле указанной цены.

def count_below(target):
    count = 0
    for key, value in d.items():
        if value < target:
            count += 1
    return count


#3.longest_name() → str  [20 points]
#Вернуть имя товара с самым длинным названием.

def longest_name():
    peremenniy = ''
    for name in d.keys():
        if len(name) > len(peremenniy):
            peremenniy = name
    return peremenniy


#4.avg_above(threshold: int|float) → float [20 points]
#Посчитать среднюю цену только тех товаров, которые дороже threshold.
def avg_above(threshold):
    sum = 0
    count = 0
    for price in d.values():
        if price > threshold:
            sum += price
            count += 1
    return sum / count

#5.prefix_search(prefix: str) → list[str]     [10 points]
#Вернуть список имён, начинающихся с prefix
def prefix_search(prefix):
    arr = []
    for name in d:
        if name[:len(prefix)] == prefix:
            arr.append(name)
    return arr

#6.total_value() → int|float   [10 points]
#Посчитать сумму всех цен.
def total_value():
    sum = 0
    for value in d.values():
        sum += value
    return sum

In [ ]:
arr = [1,2,3]
print(arr[:10])

[1, 2, 3]

In [ ]:
name = 'emil'
prefix = 'univer'

print(name[:len(prefix)])
print(prefix)
print(name[:len(prefix)] == prefix)

emil
univer
False

In [ ]:
a = 10

In [ ]:
d  = {"Bread": 45, "Milk": 65, "Cheese": 120, "Egg":80, "Tea":150}

def total(arr):
    sum = 0
    for item in arr:
        if item in d:
            sum += d[item]
        else:
            sum += 0
        # sum += d.get(item, 0)
    return sum

In [ ]:
print('Total: ', total(['Milk', 'Egg', 'Tea']))

Total:  295

In [ ]:
d  = {"Bread": 45, "Milk": 65, "Cheese": 120, "Egg":80, "Tea":150}

def kvitansia(arr):
    s = ''
    total = 0 
    for item in arr:
        s += item + '\t->\t' + str(d.get(item, "Ne naydeno")) + '\n'
        total += d.get(item, 0)
    s += f'Total : {total}'
    return s

In [ ]:
print(kvitansia(['Bread','Nan','Egg','Tea','Cola']))

Bread	->	45
Nan	->	Ne naydeno
Egg	->	80
Tea	->	150
Cola	->	Ne naydeno
Total : 275

In [ ]:
s = 'emil##bil##ait##test'
print(s.split('##'))

['emil', 'bil', 'ait', 'test']

In [ ]:
users = {}

def add_to_user(user, produkti):
    k = kvitansia(produkti)

    if user not in users:
        users[user] = [k]
    else:
        users[user].append(k)

In [ ]:
# incorrect
def add_to_user2(user, produkti):
    k = kvitansia(produkti)
    users[user] = [k]

In [ ]:
users = {}

In [ ]:
add_to_user('iskender', ['Bread', 'Egg'])

In [ ]:
add_to_user('Emil', ['Milk', 'Cheese'])

In [ ]:
for user, kvitansii in users.items():
    print('-------', user, '----------')
    for i, v in enumerate(kvitansii):
        print(i)
        print(v)
        print()
    print()

------- altinay ----------
0
Bread	->	45
Egg	->	80
Total : 125

1
Milk	->	65
Cheese	->	120
Total : 185


------- iskender ----------
0
Bread	->	45
Egg	->	80
Total : 125


------- Emil ----------
0
Milk	->	65
Cheese	->	120
Total : 185

In [ ]:
users = {'altinay':[], 'iskender':[]}

users['altinay'].append(kvitansia(['Bread', "Egg"]))

In [ ]:
users['iskender'].append(kvitansia(['Bread', "Egg"]))
users

{'altinay': ['Bread\t->\t45\nEgg\t->\t80\nTotal : 125'],
 'iskender': ['Bread\t->\t45\nEgg\t->\t80\nTotal : 125',
  'Bread\t->\t45\nEgg\t->\t80\nTotal : 125',
  'Bread\t->\t45\nEgg\t->\t80\nTotal : 125']}

In [ ]:
k = kvitansia(['Bread', 'Egg'])

if 'emil' not in users:
    users['emil'] = []
users['emil'].append(k)

KeyError: 'emil'

In [ ]:
names  = ["Bread", "Milk", "XYCheese", "Egg", "XYTea"]
prices = [   145 ,     65 ,  120 ,   80 ,  150 ]

for i in range(len(names)):
    if names[i] == 'Egg':
        print(prices[i])

for i, j in enumerate(names):
    if j == 'Egg':
        print(prices[i])

for i, j in zip(names, prices):
    if i == 'Egg':
        print(j)

d = dict(zip(names, prices))

print(d['Egg'])

80
80
80
80

In [ ]:
d = {'Emil': {'first': 10, 'second':20, 'third':30}, 'Altinay': {'first':20, 'second':30, 'third': 50}}

In [ ]:
d['Emil']['second']

20

In [ ]:
d = {'Emil':[10, 20,30], 'Altinay':[20, 30, 50]}

In [ ]:
d

{'Emil': [10, 20, 30], 'Altinay': [20, 30, 50]}

In [ ]:
del d['Emil']

In [ ]:
d['Altinay'].pop(0)

{'Altinay': [30, 50]}

In [ ]:
d['Altinay'].remove(50)
d['Altinay'].append(70)

In [ ]:
print(d)

{'Altinay': [30, 70]}

In [ ]:
d = {'Altinay': 50, 'Sultan': 70}
d['Altinay'] += 50
print(d)

{'Altinay': 100, 'Sultan': 70}

In [ ]:
mbank = {}

def deposit(user, amount):
    mbank[user] = amount

def snyat(user, amount):
    if mbank[user] >= amount:
        mbank[user] -= amount
        return True
    else:
        return False

def transfer(fromuser, touser, amount):
    if mbank[fromuser] >= amount:
        mbank[fromuser] -= amount
        mbank[touser] += amount
        return True
    else:
        return False
    
def printMbank():
    for user, amount in mbank.items():
        print(f'{user} -> {amount}')
    print('Total: ', sum(mbank.values()))

In [ ]:
printMbank()

Total:  0

In [ ]:
deposit('Altinay', 1000)
printMbank()

Altinay -> 1000
Total:  1000

In [ ]:
deposit('Iskender', 2000)
printMbank()

Altinay -> 1000
Iskender -> 2000
Total:  3000

In [ ]:
deposit('Zaarylkan', 5000)
printMbank()

Altinay -> 1000
Iskender -> 2000
Zaarylkan -> 5000
Total:  8000

In [ ]:
print(snyat('Zaarylkan', 1000))
printMbank()

True
Altinay -> 1000
Iskender -> 2000
Zaarylkan -> 4000
Total:  7000

In [ ]:
print(snyat('Zaarylkan', 5000))
printMbank()

False
Altinay -> 1000
Iskender -> 2000
Zaarylkan -> 4000
Total:  7000

In [ ]:
print(transfer('Iskender', 'Zaarylkan', 1500))
printMbank()

True
Altinay -> 1000
Iskender -> 500
Zaarylkan -> 5500
Total:  7000

In [ ]:
print(snyat('Zaarylkan', 5000))
printMbank()

True
Altinay -> 1000
Iskender -> 500
Zaarylkan -> 500
Total:  2000

In [ ]:
menu = {
    "Starters": [
        {"id": "S01", "name": "Garlic Bread", "price": 3.50, "stock": 10, "available": True, "veg": True},
        {"id": "S02", "name": "Chicken Wings", "price": 6.00, "stock": 0, "available": False, "veg": False}
    ],
    "Mains": [
        {"id": "M01", "name": "Margherita Pizza", "price": 8.99, "stock": 5, "available": True, "veg": True},
        {"id": "M02", "name": "Beef Burger", "price": 9.99, "stock": 2, "available": True, "veg": False},
        {"id": "M03", "name": "Grilled Salmon", "price": 12.50, "stock": 1, "available": True, "veg": False}
    ],
    "Desserts": [
        {"id": "D01", "name": "Chocolate Cake", "price": 4.75, "stock": 3, "available": True, "veg": True},
        {"id": "D02", "name": "Ice Cream", "price": 3.25, "stock": 6, "available": True, "veg": True}
    ]
 }

'''20. Подсчёт блюд без запаса
 count_out_of_stock(menu: dict) -> int — вернуть количество блюд, у которых stock
 == 0'''

count = 0
for section, arr in menu.items():
    for d in arr:
        if d["stock"] == 0:
            count += 1
print('Total: ', count)

#sum([1 if d['stock'] == 0 else 0 for s, arr in menu.items() for d in arr])


''' 17. Оформить заказ (меняет остатки)
 place_order(menu: dict, order: list[tuple[str,int]]) -> float — если всё валидно
 — уменьшить stock и вернуть сумму; иначе -1.0 без изменений'''

def prettyPrint(menu):
    for section, arr in menu.items():
        print(section)
        print()
        for d in arr:
            print(d)


def place_order(menu:dict, order):
    total = 0.0
    for item, count in order:
        for section, arr in menu.items():
            for d in arr:
                if d['name'] == item and d['stock'] >= count:
                    d['stock'] -= count
                total += d['stock'] * d['price']
    return total


prettyPrint(menu)
print(place_order(menu, [('Beef Burger', 3), ('Ice Cream', 4)]))
print("*"*20)
prettyPrint(menu)

Total:  1
Starters

{'id': 'S01', 'name': 'Garlic Bread', 'price': 3.5, 'stock': 10, 'available': True, 'veg': True}
{'id': 'S02', 'name': 'Chicken Wings', 'price': 6.0, 'stock': 0, 'available': False, 'veg': False}
Mains

{'id': 'M01', 'name': 'Margherita Pizza', 'price': 8.99, 'stock': 5, 'available': True, 'veg': True}
{'id': 'M02', 'name': 'Beef Burger', 'price': 9.99, 'stock': 2, 'available': True, 'veg': False}
{'id': 'M03', 'name': 'Grilled Salmon', 'price': 12.5, 'stock': 1, 'available': True, 'veg': False}
Desserts

{'id': 'D01', 'name': 'Chocolate Cake', 'price': 4.75, 'stock': 3, 'available': True, 'veg': True}
{'id': 'D02', 'name': 'Ice Cream', 'price': 3.25, 'stock': 6, 'available': True, 'veg': True}
279.36
********************
Starters

{'id': 'S01', 'name': 'Garlic Bread', 'price': 3.5, 'stock': 10, 'available': True, 'veg': True}
{'id': 'S02', 'name': 'Chicken Wings', 'price': 6.0, 'stock': 0, 'available': False, 'veg': False}
Mains

{'id': 'M01', 'name': 'Margherita Pizza', 'price': 8.99, 'stock': 5, 'available': True, 'veg': True}
{'id': 'M02', 'name': 'Beef Burger', 'price': 9.99, 'stock': 2, 'available': True, 'veg': False}
{'id': 'M03', 'name': 'Grilled Salmon', 'price': 12.5, 'stock': 1, 'available': True, 'veg': False}
Desserts

{'id': 'D01', 'name': 'Chocolate Cake', 'price': 4.75, 'stock': 3, 'available': True, 'veg': True}
{'id': 'D02', 'name': 'Ice Cream', 'price': 3.25, 'stock': 2, 'available': True, 'veg': True}

In [ ]:
prettyPrint(menu)

ValueError: too many values to unpack (expected 2)

In [ ]:
bank = {
    "Checking": [
        {"id": "C001", "holder": "Alice Kim",   "balance": 1200.00, "currency": "USD"},
        {"id": "C002", "holder": "B. Lee",      "balance":  -50.00, "currency": "USD"},
        {"id": "C003", "holder": "Carlos Diaz", "balance":  500.00, "currency": "KGS"},
        {"id": "C004", "holder": "D. Singh",    "balance": 3000.00, "currency": "USD"},
        {"id": "C005", "holder": "E. Toktogul", "balance":15000.00, "currency": "KGS"}
    ]
 }

''' 17. Прогноз роста
 project_balance(bank: dict, account_id: str, months: int, monthly_rate: float)-> float | None — посчитать будущий баланс при помесячной капитализации;
 состояние не менять.
 '''

def project_balance(bank, account_id, months, monthly_rate):
    arr = bank['Checking']
    balance = 0.0
    for d in arr:
        if d['id'] == account_id:
            balance = d['balance']
 
    print(balance)
    return balance * (1 + monthly_rate) ** months
 
print(project_balance(bank, 'C001', 20, 0.05))

1200.0
3183.9572461733064

In [ ]:
{"movie": "The        quantum         heist"}
{"movie": "The Quantum Heist"}

In [ ]:
s = '''Aiperi Kydykbekova,18->devushka
Ismailova Altynai,18->devushka
Baitemirov Iskender,18->paren
Osmonalieva Asylkna,17->devushka'''

In [ ]:
len(s)
# difference ratio between average of boys and girls ages?

125

In [ ]:
boy_count, boy_sum = 0, 0
girl_count, girl_sum = 0, 0

for x in s.split('\n'):
    #print(x)
    name, x2 = x.split(',')
    age, gender = x2.split('->')
    age = int(age)
    if gender in ["devushka", 'female']:
        girl_count +=1
        girl_sum += age
    else:
        boy_count += 1
        boy_sum += age

avg_boy = boy_sum/boy_count
avg_girl = girl_sum/girl_count

print(avg_girl, avg_boy)
print(avg_boy/avg_girl)

17.666666666666668 18.0
1.0188679245283019

In [ ]:
cinema = {
    "Room": [
        {"id": "R-1900-A10", "movie": "The Quantum Heist", "time": "2025-09-24 19:00",
         "format": "2D", "price": 6.50, "seat": "A10", "booked": False, "customer": None},

        {"id": "R-1900-A11", "movie": "The Quantum Heist", "time": "2025-09-24 19:00",
         "format": "2D", "price": 6.50, "seat": "A11", "booked": True,  "customer": "Alice Kim"},
        
        {"id": "R-2100-B05", "movie": "Starlight Odyssey", "time": "2025-09-24 21:00",
         "format": "3D", "price": 8.00, "seat": "B05", "booked": False, "customer": None}
    ]
 }

'''1. Поиск фильмов по префиксу
 search_movies(cinema: dict, prefix: str, only_available: bool=False) ->
 list[tuple(str,str)] — без учёта регистра; вернуть (id, movie) с опцией только
 доступных
 
 2. Дешёвые k билетов
 cheapest_k(cinema: dict, k: int) -> list[tuple[str, str, float]] — вернуть до k
 самых дешёвых доступных билетов (id, movie, price)

 3. Найти подряд идущие места
 find_contiguous(cinema: dict, time: str, row: str, n: int) -> list[str] —
 вернуть n последовательных свободных мест в ряду row для заданного времени, иначе []
 

 '''

'4. Поиск фильмов по префиксу\n search_movies(cinema: dict, prefix: str, only_available: bool=False) ->\n list[tuple[str,str]] — без учёта регистра; вернуть (id, movie) с опцией только\n доступных'

In [152]:
from random import randint
for i in range(3):
    print(randint(1,60))

53
38
25

In [149]:
def find_contiguous(cinema, time, row, n):
    arr = []
    for v in cinema["Room"]:
        if v['time'] == time and row == v['seat'][:1] and v['booked'] == False:
            mesto = int(v['seat'][1:])
            arr.append(mesto)

    for i in arr:
        count = 0
        for j in range(i, i+n):
            if j in arr:
                count += 1
        if count == n:
            print(i, i+n)

        # count = True
        # for j in range(i, i+n):
        #     if j not in arr:
        #         count = False
        # print(i)

In [150]:

bank = {
    "Checking": [
        {"id": "C001", "holder": "Alice Kim",   "balance": 1200.00, "currency": "USD"},
        {"id": "C002", "holder": "B. Lee",      "balance":  -50.00, "currency": "USD"},
        {"id": "C003", "holder": "Carlos Diaz", "balance":  500.00, "currency": "KGS"},
        {"id": "C004", "holder": "D. Singh",    "balance": 3000.00, "currency": "USD"},
        {"id": "C005", "holder": "E. Toktogul", "balance":15000.00, "currency": "KGS"}
    ]
 }

 
 #1. Итоговый баланс (в валюте)
 #total_balance(bank: dict, currency: str, rates: dict[str, float]) -> float —
 #суммировать балансы, конвертировав в целевую валюту по rates.

def total_balance(currency, rates):
    total = 0
    for d in bank['Checking']:
        if d['currency'] == currency:
            total += d['balance']
        else:
           total += d['balance'] * rates[d['currency']]
    return total
    

# 2. Найти счёт по ID
# find_account(bank: dict, account_id: str) -> dict | None — вернуть запись счёта
# или None.

#3. Подсчёт счетов
#count_accounts(bank: dict) -> int — вернуть количество CLIENTS в Checking.

#4. Перевод (одна валюта)
#transfer(bank: dict, from_id: str, to_id: str, amount: float) -> bool —
#перевести при совпадении валют и достаточном балансе

#5. Средний баланс по валютам
#avg_balance(bank: dict) -> dict[str, float] — вернуть средний баланс для каждой валюты.

In [151]:

bank = {
    "Checking": [
        {"id": "C001", "holder": "Alice Kim",   "balance": 1200.00, "currency": "USD"},
        {"id": "C002", "holder": "B. Lee",      "balance":  -50.00, "currency": "USD"},
        {"id": "C003", "holder": "Carlos Diaz", "balance":  500.00, "currency": "KGS"},
        {"id": "C004", "holder": "D. Singh",    "balance": 3000.00, "currency": "USD"},
        {"id": "C005", "holder": "E. Toktogul", "balance":15000.00, "currency": "KGS"}
    ]
 }


p1, p2 = None, None

for account in bank['Checking']:
    if account['id'] == 'C001':
        p1 = account
    if account['id'] == 'C005':
        p2 = account


print(bank)

p1['balance'] = 8888888
p2['balance'] = 9999999

print(bank)

{'Checking': [{'id': 'C001', 'holder': 'Alice Kim', 'balance': 1200.0, 'currency': 'USD'}, {'id': 'C002', 'holder': 'B. Lee', 'balance': -50.0, 'currency': 'USD'}, {'id': 'C003', 'holder': 'Carlos Diaz', 'balance': 500.0, 'currency': 'KGS'}, {'id': 'C004', 'holder': 'D. Singh', 'balance': 3000.0, 'currency': 'USD'}, {'id': 'C005', 'holder': 'E. Toktogul', 'balance': 15000.0, 'currency': 'KGS'}]}
{'Checking': [{'id': 'C001', 'holder': 'Alice Kim', 'balance': 8888888, 'currency': 'USD'}, {'id': 'C002', 'holder': 'B. Lee', 'balance': -50.0, 'currency': 'USD'}, {'id': 'C003', 'holder': 'Carlos Diaz', 'balance': 500.0, 'currency': 'KGS'}, {'id': 'C004', 'holder': 'D. Singh', 'balance': 3000.0, 'currency': 'USD'}, {'id': 'C005', 'holder': 'E. Toktogul', 'balance': 9999999, 'currency': 'KGS'}]}

In [159]:
with open('bank.txt','r') as x:
    pass

SyntaxError: incomplete input (2001583540.py, line 1)

In [ ]:
x = open('bank.txt')
# pass
x.close()

In [156]:
x

In [ ]:
def find_minbalance():
    pass

min_balance = find_minbalance()

In [189]:
x = open('bank.txt')
s = x.read()
print(s)

id,referral,holder,balance,currency
c01,,emil,1200,usd
c02,,altinay,10000,som
x03,c01,iskender,5000,usd
x05,x03,zaarylkan,1000,euro
z01,x05,kutman,10000,kzt

In [190]:
len(s)

156

In [191]:
len(s.split('\n'))

6

In [192]:
for i, j in enumerate(s.split('\n')):
    print(i, j)

0 id,referral,holder,balance,currency
1 c01,,emil,1200,usd
2 c02,,altinay,10000,som
3 x03,c01,iskender,5000,usd
4 x05,x03,zaarylkan,1000,euro
5 z01,x05,kutman,10000,kzt

In [193]:
for i, j in enumerate(s.split('\n')):
    print(i, j.split(','))

0 ['id', 'referral', 'holder', 'balance', 'currency']
1 ['c01', '', 'emil', '1200', 'usd']
2 ['c02', '', 'altinay', '10000', 'som']
3 ['x03', 'c01', 'iskender', '5000', 'usd']
4 ['x05', 'x03', 'zaarylkan', '1000', 'euro']
5 ['z01', 'x05', 'kutman', '10000', 'kzt']

In [194]:
bank = [i.split(',') for i in s.split('\n')]

In [195]:
bank

[['id', 'referral', 'holder', 'balance', 'currency'],
 ['c01', '', 'emil', '1200', 'usd'],
 ['c02', '', 'altinay', '10000', 'som'],
 ['x03', 'c01', 'iskender', '5000', 'usd'],
 ['x05', 'x03', 'zaarylkan', '1000', 'euro'],
 ['z01', 'x05', 'kutman', '10000', 'kzt']]

In [169]:
# total number of accounts
print(len(bank)-1)

5

In [172]:
s

'id,holder,balance,currency\nc01,emil,1200,usd\nc02,altinay,10000,som\nx03,iskender,5000,usd\nx05,zaarylkan,1000,euro\nz01,kutman,10000,kzt'

In [175]:
tmp = ','
print(type(s), len(tmp), tmp)
tmp2 = tmp.split(',')
print(type(tmp2), len(tmp2), tmp2)

<class 'str'> 1 ,
<class 'list'> 2 ['', '']

In [176]:
def find_index(arr, target):
    for i in range(len(arr)):
        if arr[i] == target:
            return i
    return -1

def find_index2(arr, target):
    for i, j in enumerate(arr):
        if j == target:
            return i
    return -1

def find_index3(arr, target):
    return arr.index(target)
    # 0 points

In [180]:
balance_index = find_index(bank[0], 'balance')

In [182]:
total = 0
for account in bank[1:]:
    total += int(account[balance_index])
print('total: ', total)

total:  27200

In [197]:
# find account by id
id_index = find_index(bank[0], 'id')
for account in bank[1:]:
    if account[id_index] == 'x03':
        print(account)
        break

['x03', 'c01', 'iskender', '5000', 'usd']

In [201]:
id_index = find_index(bank[0], 'id')
for id, referral, holder, balance, currency in bank[1:]:
    if id == 'x03':
        print(f'holder = {holder}\nbalance = {balance}\ncurrency = {currency}')

holder = iskender
balance = 5000
currency = usd

In [196]:
# bad solution
for account in bank[1:]:
    if 'x03' in account:
        print(account)

['x03', 'c01', 'iskender', '5000', 'usd']
['x05', 'x03', 'zaarylkan', '1000', 'euro']

In [202]:
arr = [1, 9, 0, 10, 20, 30, 4, 5, 8]
find_index(arr, 200)
bank

[['id', 'referral', 'holder', 'balance', 'currency'],
 ['c01', '', 'emil', '1200', 'usd'],
 ['c02', '', 'altinay', '10000', 'som'],
 ['x03', 'c01', 'iskender', '5000', 'usd'],
 ['x05', 'x03', 'zaarylkan', '1000', 'euro'],
 ['z01', 'x05', 'kutman', '10000', 'kzt']]

In [205]:
from_id = 'x03'
to_id = 'c01'
amount = 1000

id_index = find_index(bank[0], 'id')
currency_index = find_index(bank[0], 'currency')
balance_index = find_index(bank[0], 'balance')

p1,p2 = None, None
for i in range(1, len(bank)):
    account = bank[i]
    if account[id_index] == from_id:
        p1 = account
    if account[id_index] == to_id:
        p2 = account

if p1 and p2 and p1[currency_index] == p2[currency_index] and int(p1[balance_index]) >= amount:
    p1[balance_index] = str( int(p1[balance_index]) + amount)
    p2[balance_index] = str( int(p2[balance_index]) - amount)


bank

[['id', 'referral', 'holder', 'balance', 'currency'],
 ['c01', '', 'emil', '200', 'usd'],
 ['c02', '', 'altinay', '10000', 'som'],
 ['x03', 'c01', 'iskender', '6000', 'usd'],
 ['x05', 'x03', 'zaarylkan', '1000', 'euro'],
 ['z01', 'x05', 'kutman', '10000', 'kzt']]

In [ ]:
# not good solution
s = ''
for account in bank:
    for i in account:
        s += i + ','
    s += '\n'

with open('bank2.txt', 'w') as fid:
    fid.write(s)

In [216]:
# good solution
s = []
for account in bank:
    s.append(','.join(account))
result = '\n'.join(s)

with open('bank2.txt', 'w') as fid:
    fid.write(result)

In [ ]:
# karoche
with open('bank3.txt', 'w') as fid:
    fid.write('\n'.join([','.join(i) for i in bank]))

In [206]:
with open('emil.txt', 'w') as iskender:
    iskender.write('emil\nait\nexam\nmonday')

In [212]:
arr = ['emil', 'ait', 'hi', 'hello']
print(','.join(arr))
print('\n'.join(arr))

emil,ait,hi,hello
emil
ait
hi
hello

In [218]:
for i in range(100):
    filename = f'bank/bank{i}.txt'
    with open(filename, 'w') as fid:
        fid.write(result)

In [224]:
import os

files = os.listdir()
for i, filename in enumerate(files):
    print('****************  ', i)
    try:
        with open(filename) as fid:
            print(fid.read())
    except:
        pass

****************   0
****************   1
def iskender(a, b, c = 100):
    return a ** b - c

def meerim(a):
    return 'meerim' * a


def mysum1(a):
    return a ** 2
****************   2
****************   3
id,referral,holder,balance,currency
c01,,emil,1200,usd
c02,,altinay,10000,som
x03,c01,iskender,5000,usd
x05,x03,zaarylkan,1000,euro
z01,x05,kutman,10000,kzt
****************   4
id,referral,holder,balance,currency
c01,,emil,200,usd
c02,,altinay,10000,som
x03,c01,iskender,6000,usd
x05,x03,zaarylkan,1000,euro
z01,x05,kutman,10000,kzt
****************   5
id,referral,holder,balance,currency
c01,,emil,200,usd
c02,,altinay,10000,som
x03,c01,iskender,6000,usd
x05,x03,zaarylkan,1000,euro
z01,x05,kutman,10000,kzt
****************   6
****************   7
emil
ait
exam
monday
****************   8
from iskender import ogurets, pomidor

arr = [9,2, 0, 1, 5, 7]

print('result = ', ogurets(arr))
print('pomidor = ', pomidor(arr))

import iskender as isken1
import iskender as isken2

print('ait.ogurets = ', isken1.ogurets(arr))
print('ait.pomidor = ', isken2.pomidor(arr))

print('parameter = ', isken1.emil)


import altinay

print(altinay.iskender(10, 2, 50))
print(altinay.meerim(4))

from altinay import *

#from altinay import iskender, meerim
print('importing from altinay all function')
print(iskender(10, 5))
print(meerim(10))


****************   9
def ogurets(arr):
    return 'AIT RESULT', max(arr), min(arr), sum(arr)

def pomidor(arr):
    return len(arr)


emil = 'AIT'

def mysum2(a):
    return a ** 0.5


****************   10
ÿþ#   P L _ 2 0 2 5 F a l l 
 
 
****************   11

In [230]:
'''1. add_seat(filename: str, klass: str, seat_id: str, occupied: bool=False, passenger: str|None=None) -> bool
Добавить новое место в указанный класс.
Если в этом классе уже существует место с таким seat_id, добавление запрещено.
Возвращает True, если место успешно добавлено, иначе False.'''

def find_index(arr, target):
    for a, b in enumerate(arr):
        if b == target:
            return a
    return -1


def add_seat(filename, klass, seat_id, occupied = False, passanger = None):
    with open(filename) as fid:
        raw = fid.read()
        all_data = [j.split(',') for j in raw.split('\n')]
        header = all_data[0]
        data = all_data[1:]
        seat_index = find_index(header, 'seat_id')
        if seat_index >= 0:
            for i in data:
                if i[seat_index] == seat_id:
                    return False
                
        new_data = [None]*len(header)
        new_data[find_index(header, 'seat_id')] = seat_id
        new_data[find_index(header, 'klass')] = klass
        new_data[find_index(header, 'passanger')] = passanger
        new_data[find_index(header, 'occupied')] = occupied
        print('*'*10, new_data)
        # new_data = [klass, seat_id, occupied, passanger]
        data.append(new_data)
        return True, data
    
add_seat('flight.txt', 'Business', '23B')

********** ['Business', '23B', False, None]

(True,
 [['First', '1A', 'True', 'Alice Kim'],
  ['First', '1C', 'False', ''],
  ['Business', '5A', 'True', 'B. Lee'],
  ['Business', '5B', 'False', ''],
  ['Business', '6C', 'True', 'Carlos Diaz'],
  ['Economy', '12A', 'False', ''],
  ['Economy', '12B', 'True', 'D. Singh'],
  ['Economy', '13C', 'False', ''],
  ['Economy', '14A', 'True', 'E. Toktogul'],
  ['Economy', '14B', 'False', ''],
  ['Business', '23B', False, None]])

In [235]:
'''2. dedupe_class(filename: str, klass: str) -> list[str]
Удалить дубликаты мест внутри одного класса.
Возвращает список удалённых seat_id.'''

def dedup_class(filename, klass):
    unikalniy = []
    duplikat = []
    new_data = []
    header, data = read_file(filename)
    seat_index = find_index(header, 'seat_id')
    for i in data:
        if i[seat_index] in unikalniy:
            duplikat.append(i[seat_index])
        else:
            unikalniy.append(i[seat_index])
            new_data.append(i)

    return unikalniy, duplikat, new_data

dedup_class('flight.txt', 'business')

(['1A', '1C', '5A', '5B', '6C', '12A', '12B', '13C', '14A', '14B'],
 ['12A'],
 [['First', '1A', 'True', 'Alice Kim'],
  ['First', '1C', 'False', ''],
  ['Business', '5A', 'True', 'B. Lee'],
  ['Business', '5B', 'False', ''],
  ['Business', '6C', 'True', 'Carlos Diaz'],
  ['Economy', '12A', 'False', ''],
  ['Economy', '12B', 'True', 'D. Singh'],
  ['Economy', '13C', 'False', ''],
  ['Economy', '14A', 'True', 'E. Toktogul'],
  ['Economy', '14B', 'False', '']])

In [237]:
'''3. count_passengers_with_letter(filename: str, letter: str) -> int
Подсчитать количество занятых мест, где имя пассажира содержит указанную букву.'''

def count_passengers_with_letter(filename: str, letter: str):
    header, data = read_file(filename)
    index = find_index(header, 'passanger')
    count = 0
    for i in data:
        if letter in i[index].lower():
            count += 1
    return count

count_passengers_with_letter('flight.txt', 'a')

2

In [239]:
'''4. reassign_passenger(filename: str, from_seat: str, to_seat: str) -> bool
Пересадить пассажира с одного места на другое, если место свободно.
После пересадки:
* from_seat становится свободным (occupied=False, passenger='')
* to_seat становится занятым тем же пассажиром.
 Возвращает True, если пересадка выполнена успешно.'''

def reassign_passanger(filename, from_seat, to_seat):
    header, data = read_file(filename)
    print(data)
    s_i = find_index(header, 'seat_id')
    o_i = find_index(header, 'occupied')
    p_i = find_index(header, 'passenger')
    for i in data:
        for j in data:
            if i[s_i] == from_seat and j[s_i] == to_seat and j[o_i] == 'False':
                j[p_i] = i[p_i]
                j[o_i] = 'True'
                i[p_i] = ''
                i[o_i] = 'False'
                return True, data
    return False, data


def reassign_passanger2(filename, from_seat, to_seat):
    header, data = read_file(filename)
    print(data)
    s_i = find_index(header, 'seat_id')
    o_i = find_index(header, 'occupied')
    p_i = find_index(header, 'passenger')
    
    for i in data:
        if i[s_i] == from_seat:
            from_i = i
        elif i[s_i] == to_seat:
            to_i = i

    if to_i[o_i] == 'False':
        to_i[p_i] = from_i[p_i]
        from_i[o_i] = 'True'
        from_i[p_i] = ''
        to_i[o_i] = 'False'

    return False, data

reassign_passanger('flight.txt', '6C', '14B')

[['First', '1A', 'True', 'Alice Kim'], ['First', '1C', 'False', ''], ['Business', '5A', 'True', 'B. Lee'], ['Business', '5B', 'False', ''], ['Business', '6C', 'True', 'Carlos Diaz'], ['Economy', '12A', 'False', ''], ['Economy', '12B', 'True', 'D. Singh'], ['Economy', '13C', 'False', ''], ['Economy', '14A', 'True', 'E. Toktogul'], ['Economy', '14B', 'False', ''], ['Economy', '12A', 'False', '']]

(True,
 [['First', '1A', 'True', 'Alice Kim'],
  ['First', '1C', 'False', ''],
  ['Business', '5A', 'True', 'B. Lee'],
  ['Business', '5B', 'False', ''],
  ['Business', '6C', 'False', ''],
  ['Economy', '12A', 'False', ''],
  ['Economy', '12B', 'True', 'D. Singh'],
  ['Economy', '13C', 'False', ''],
  ['Economy', '14A', 'True', 'E. Toktogul'],
  ['Economy', '14B', 'True', 'Carlos Diaz'],
  ['Economy', '12A', 'False', '']])

In [242]:
'''5. block_seat(filename: str, seat_id: str) -> bool
Заблокировать место (установить occupied=True, при этом поле passenger остаётся пустым).
 Возвращает True, если операция выполнена успешно.'''

def block_seat(filename, seat_id):
    header, data = read_file(filename)
    s_i = find_index(header, 'seat_id')
    o_i = find_index(header, 'occupied')
    p_i = find_index(header, 'passenger')
    for i in data:
        if i[s_i] == seat_id:
            i[o_i] = 'True'
            i[p_i] = ''
            return True, data
    return False, data

block_seat('flight.txt', '16C')

(False,
 [['First', '1A', 'True', 'Alice Kim'],
  ['First', '1C', 'False', ''],
  ['Business', '5A', 'True', 'B. Lee'],
  ['Business', '5B', 'False', ''],
  ['Business', '6C', 'True', 'Carlos Diaz'],
  ['Economy', '12A', 'False', ''],
  ['Economy', '12B', 'True', 'D. Singh'],
  ['Economy', '13C', 'False', ''],
  ['Economy', '14A', 'True', 'E. Toktogul'],
  ['Economy', '14B', 'False', ''],
  ['Economy', '12A', 'False', '']])

In [245]:
'''1. remove_seat(filename: str, seat_id: str) -> bool
Удалить место по его идентификатору seat_id (в любом классе).
 Возвращает True, если место найдено и удалено, иначе False.'''
def read_file(filename):
    with open(filename) as fid:
        raw = fid.read()
        all_data = [j.split(',') for j in raw.split('\n')]
        header = all_data[0]
        data = all_data[1:]
    return header, data

def find_index(arr, target):
    for a, b in enumerate(arr):
        if b == target:
            return a
    return -1

def remove_seat(filename: str, seat_id: str):
    header, data = read_file(filename)
    s_i = find_index(header, 'seat_id')
    target = None
    for i in data:
        if i[s_i] == seat_id:
            target = i
    if target is not None:
        data.remove(target)
        return True, data
    return False, data

remove_seat('flight.txt', '16C')

(False,
 [['First', '1A', 'True', 'Alice Kim'],
  ['First', '1C', 'False', ''],
  ['Business', '5A', 'True', 'B. Lee'],
  ['Business', '5B', 'False', ''],
  ['Business', '6C', 'True', 'Carlos Diaz'],
  ['Economy', '12A', 'False', ''],
  ['Economy', '12B', 'True', 'D. Singh'],
  ['Economy', '13C', 'False', ''],
  ['Economy', '14A', 'True', 'E. Toktogul'],
  ['Economy', '14B', 'False', ''],
  ['Economy', '12A', 'False', '']])

In [ ]:
'''2. seat_ids_starting_with(filename: str, prefix: str, only_available: bool=False) -> list[str]
Найти все места, у которых seat_id начинается с заданного префикса (например, '1' → 1A, 1C).
 Если параметр only_available=True, возвращаются только свободные места.'''

def seat_ids_starting_with(filename, prefix, only_available= False):
    header, data = read_file(filename)
    result = []
    o_i = find_index('occupied')
    s_i = find_index('seat_id')
    for i in data:
        if i[o_i] == str(only_available) and i[s_i].startswith(prefix): # i[s_i][:len(prefix)] == prefix
            result.append(i[s_i])
    return result

In [ ]:
'''3. seats_in_row(filename: str, row: str) -> list[str]
Вернуть все seat_id, относящиеся к заданному номеру ряда (например, '12' → ['12A', '12B']).

4. upgrade_seat(filename: str, seat_id: str, to_class: str) -> bool
Повысить класс пассажира — переместить его на свободное место в более высоком классе.
 Исходное место становится свободным.
 Возвращает True, если пересадка выполнена успешно.

5. unblock_seat(filename: str, seat_id: str) -> bool
Разблокировать место, установив occupied=False и очистив поле passenger, если необходимо.
 Возвращает True, если место было разблокировано.'''

In [250]:
import csv

with open('flight.txt') as fid:
    data = list(csv.reader(fid))
    # data = [i.split(',') for i in data.read().split('\n')]
    
    for i in data:
        print(i)

    print('*'*100)
    for i in data:
        print(i)

with open('flight3.txt', 'w', newline='') as wid:
    w = csv.writer(wid)
    # w.writerows(data)
    for i in data:
        w.writerow(i)

['klass', 'seat_id', 'occupied', 'passenger']
['First', '1A', 'True', 'Alice Kim']
['First', '1C', 'False', '']
['Business', '5A', 'True', 'B. Lee']
['Business', '5B', 'False', '']
['Business', '6C', 'True', 'Carlos Diaz']
['Economy', '12A', 'False', '']
['Economy', '12B', 'True', 'D. Singh']
['Economy', '13C', 'False', '']
['Economy', '14A', 'True', 'E. Toktogul']
['Economy', '14B', 'False', '']
['Economy', '12A', 'False', '']
****************************************************************************************************
['klass', 'seat_id', 'occupied', 'passenger']
['First', '1A', 'True', 'Alice Kim']
['First', '1C', 'False', '']
['Business', '5A', 'True', 'B. Lee']
['Business', '5B', 'False', '']
['Business', '6C', 'True', 'Carlos Diaz']
['Economy', '12A', 'False', '']
['Economy', '12B', 'True', 'D. Singh']
['Economy', '13C', 'False', '']
['Economy', '14A', 'True', 'E. Toktogul']
['Economy', '14B', 'False', '']
['Economy', '12A', 'False', '']

In [251]:
import csv

with open('flight.txt') as fid:
    data = csv.DictReader(fid)

    for i in data:
        print(i)

{'klass': 'First', 'seat_id': '1A', 'occupied': 'True', 'passenger': 'Alice Kim'}
{'klass': 'First', 'seat_id': '1C', 'occupied': 'False', 'passenger': ''}
{'klass': 'Business', 'seat_id': '5A', 'occupied': 'True', 'passenger': 'B. Lee'}
{'klass': 'Business', 'seat_id': '5B', 'occupied': 'False', 'passenger': ''}
{'klass': 'Business', 'seat_id': '6C', 'occupied': 'True', 'passenger': 'Carlos Diaz'}
{'klass': 'Economy', 'seat_id': '12A', 'occupied': 'False', 'passenger': ''}
{'klass': 'Economy', 'seat_id': '12B', 'occupied': 'True', 'passenger': 'D. Singh'}
{'klass': 'Economy', 'seat_id': '13C', 'occupied': 'False', 'passenger': ''}
{'klass': 'Economy', 'seat_id': '14A', 'occupied': 'True', 'passenger': 'E. Toktogul'}
{'klass': 'Economy', 'seat_id': '14B', 'occupied': 'False', 'passenger': ''}
{'klass': 'Economy', 'seat_id': '12A', 'occupied': 'False', 'passenger': ''}

In [254]:
'''5. block_seat(filename: str, seat_id: str) -> bool
Заблокировать место (установить occupied=True, при этом поле passenger остаётся пустым).
 Возвращает True, если операция выполнена успешно.'''

import csv
import csv
def block_seat(filename, seat_id):
    with open('flight.txt') as fid:
        data = list(csv.DictReader(fid))
        for i in data:
            if i['seat_id'] == seat_id:
                i['occupied'] = 'True'
                i['passenger'] = ''
                return True, data
    return False


'''
def block_seat(filename, seat_id):
    header, data = read_file(filename)
    s_i = find_index(header, 'seat_id')
    o_i = find_index(header, 'occupied')
    p_i = find_index(header, 'passenger')
    for i in data:
        if i[s_i] == seat_id:
            i[o_i] = 'True'
            i[p_i] = ''
            return True, data
    return False, data

block_seat('flight.txt', '16C')
'''

result, data = block_seat('flight.txt', '6C')

In [255]:
data

[{'klass': 'First',
  'seat_id': '1A',
  'occupied': 'True',
  'passenger': 'Alice Kim'},
 {'klass': 'First', 'seat_id': '1C', 'occupied': 'False', 'passenger': ''},
 {'klass': 'Business',
  'seat_id': '5A',
  'occupied': 'True',
  'passenger': 'B. Lee'},
 {'klass': 'Business', 'seat_id': '5B', 'occupied': 'False', 'passenger': ''},
 {'klass': 'Business', 'seat_id': '6C', 'occupied': 'True', 'passenger': ''},
 {'klass': 'Economy', 'seat_id': '12A', 'occupied': 'False', 'passenger': ''},
 {'klass': 'Economy',
  'seat_id': '12B',
  'occupied': 'True',
  'passenger': 'D. Singh'},
 {'klass': 'Economy', 'seat_id': '13C', 'occupied': 'False', 'passenger': ''},
 {'klass': 'Economy',
  'seat_id': '14A',
  'occupied': 'True',
  'passenger': 'E. Toktogul'},
 {'klass': 'Economy', 'seat_id': '14B', 'occupied': 'False', 'passenger': ''},
 {'klass': 'Economy', 'seat_id': '12A', 'occupied': 'False', 'passenger': ''}]

In [261]:
import csv
with open('flight4.txt', 'w', newline='') as wid:
    writer = csv.DictWriter(wid, fieldnames=data[0].keys())
    writer.writeheader()
    for i in data:
        writer.writerow(i)

In [ ]:
'''4. upgrade_seat(filename: str, seat_id: str, to_class: str) -> bool
Повысить класс пассажира — переместить его на свободное место в более высоком классе.
 Исходное место становится свободным.
 Возвращает True, если пересадка выполнена успешно.'''

import csv
def upgrade_seat(filenae, seat_id, to_class):
    with open(filename) as fid:
        data = list(csv.DictReader(fid))
        target = None
        for i in data:
            if i['seat_id'] == seat_id:
                target = i  
                break  
        
        to_target = None
        for i in data:
            if i['klass'] == to_class and i['occupied'] == 'False':
                to_target = i
                break
        
        if target and to_target:
            to_target['passenger'] = target['passenger']
            to_target['occupied'] = 'True'
            target['passenger'] = ''
            target['occupied'] = 'False'
            return True
    return False

In [266]:
def min_index(arr):
    min = float('inf')
    min_ind = None
    for i, n in enumerate(arr):
        if min > n:
            min = n
            min_ind = i
    return min_ind
arr = []
print(min_index(arr))

None

In [270]:
def sum2(arr):
    summ = 0
    for i in range(len(arr)):
        summ += arr[i]
    return summ

sum2([1,23, 24])

24

In [278]:
with open('jamilia.txt') as fid:
    r = fid.read().split()
    print(len(r))

18740
['Jamila', 'by', 'Chingiz', 'Aitmatov', 'Translated', 'by', 'Fainna', 'Glagoleva', 'Prepared', 'for', 'the', 'Internet', 'by', 'Iraj', 'Bashiri,', '2002', 'Once', 'again', 'I', 'find', 'myself', 'in', 'front', 'of', 'the', 'small', 'painting', 'in', 'a', 'simple', 'frame.', 'Tomorrow', 'morning', 'I', 'leave', 'for', 'the', 'village,', 'and', 'I', 'gaze', 'long', 'and', 'intently', 'at', 'the', 'canvas,', 'as', 'if', 'it', 'can', 'give', 'me', 'a', 'word', 'of', 'advice', 'for', 'the', 'journey', 'ahead.', 'It', 'has', 'never', 'been', 'exhibited.', 'Moreover,', 'when', 'relatives', 'from', 'home', 'come', 'to', 'visit,', 'I', 'make', 'sure', 'it', 'is', 'out', 'of', 'sight.', 'There', 'is', 'nothing', 'to', 'be', 'ashamed', 'of,', 'though', 'it', 'is', 'not', 'really', 'a', 'work', 'of', 'art.', 'It', 'is', 'as', 'plain', 'as', 'the', 'earth', 'depicted', 'in', 'it.', 'The', 'background', 'is', 'a', 'patch', 'of', 'bleak', 'autumn', 'sky', 'with', 'the', 'wind', 'chasing', 'fast-moving', 'skewbald', 'clouds', 'over', 'the', 'far', 'mountain', 'range.', 'The', 'russet', 'wormwood-covered', 'steppe,', 'a', 'road', 'black', 'and', 'damp', 'from', 'the', 'recent', 'rains,', 'and', 'the', 'dry', 'broken', 'bushes', 'of', 'needle', 'glass', 'crowding', 'at', 'the', 'roadside', 'form', 'the', 'foreground.', 'The', 'footprints', 'of', 'two', 'travellers', 'follow', 'a', 'washed-out', 'dirt', 'road.', 'Their', 'tracks', 'appear', 'ever', 'fainter', 'as', 'the', 'road', 'dwindles', 'in', 'the', 'distance.', 'It', 'seems', 'that', 'if', 'they', 'were', 'to', 'take', 'another', 'step,', 'they', 'would', 'disappear', 'behind', 'the', 'frame.', 'One', 'of', 'them....', 'However,', "I'm", 'forestalling', 'events.', 'It', 'all', 'happened', 'when', 'I', 'was', 'still', 'a', 'boy.', 'It', 'was', 'the', 'third', 'year', 'of', 'war.', 'Somewhere', 'far', 'away,', 'at', 'Kursk', 'and', 'Orel,', 'our', 'fathers', 'and', 'brothers', 'battled', 'the', 'enemy,', 'while', 'we,', 'lads', 'of', 'fifteen,', 'worked', 'on', 'the', 'collective', 'farm.', 'Our', 'skinny', 'young', 'shoulders', 'had', 'to', 'carry', 'the', 'full', 'brunt', 'of', 'a', 'grown', "man's", 'job.', 'Harvest', 'time', 'was', 'the', 'hardest', 'of', 'all.', 'We', 'were', 'away', 'from', 'home', 'for', 'weeks', 'on', 'end,', 'spending', 'our', 'days', 'and', 'nights', 'in', 'the', 'field,', 'at', 'the', 'threshing-floor,', 'or', 'on', 'the', 'road', 'to', 'the', 'railway', 'station,', 'delivering', 'the', 'grain.', 'Driving', 'my', 'empty', 'trap', 'back', 'from', 'the', 'station', 'on', 'one', 'such', 'scorching', 'day,', 'when', 'our', 'scythes', 'seemed', 'red-hot', 'from', 'reaping,', 'I', 'decided', 'to', 'stop', 'off', 'at', 'home.', 'At', 'the', 'very', 'end', 'of', 'the', 'street,', 'on', 'a', 'hillock', 'near', 'the', 'ford,', 'are', 'two', 'houses', 'with', 'a', 'stout', 'adobe', 'wall', 'around', 'them', 'and', 'tall', 'poplars', 'growing', 'beyond', 'the', 'wall.', 'These', 'are', 'our', 'houses.', 'For', 'many', 'years', 'our', 'families', 'have', 'lived', 'side', 'by', 'side.', 'I', 'was', 'from', 'the', 'Big', 'House.', 'I', 'had', 'two', 'brothers,', 'both', 'older', 'than', 'I,', 'both', 'bachelors,', 'both', 'away,', 'at', 'the', 'front,', 'and', 'there', 'had', 'been', 'no', 'word', 'from', 'either', 'for', 'it', 'long', 'time.', 'My', 'father', 'was', 'an', 'old', 'carpenter.', 'After,', 'saying', 'his', 'mourning', 'prayer', 'at', 'dawn', 'he', 'went', 'to', 'work', 'in', 'the', 'carpentry', 'shop', 'in', 'the', 'common', 'yard,', 'where', 'he', 'stayed', 'till', 'late', 'in', 'the', 'evening.', 'My', 'mother', 'and', 'little', 'sister', 'remained', 'at', 'home.', 'Our', 'close', 'relatives', 'lived', 'in', 'the', 'neighbouring', 'yard,', 'known', 'to', 'the', 'villagers', 'as', 'the', 'Small', 'House.', 'Our', 'great-grandfathers', 'or', 'great-great-', 'grandfathers', 'were', 'brothers,', 'but', 'I', 'call', 'them', 'close', 'relatives', 'because', 'we', 'lived', 'as', 'one', 'family.', 'It', 'had', 'been', 'so', 'since', 'the', 'time', 'our', 'people', 'had', 'been', 'nomads,', 'when', 'our', 'great-grandfathers', 'used', 'to', 'break', 'camp', 'and', 'round', 'up', 'their', 'cattle', 'together.', 'We', 'kept', 'this', 'tradition', 'alive.', 'When', 'our', 'village', 'was', 'collectivised,', 'our,', 'fathers', 'built', 'their', 'houses', 'side', 'by', 'side.', 'Actually,', 'we', 'were', 'all', 'fellowtribesmenâ€”', 'the', 'whole', 'of', 'Aralskaya', 'Street,', 'stretching', 'the', 'length', 'of', 'the', 'village', 'to', 'the', 'river,', 'was', 'inhabited', 'by', 'our', 'kinsfolk.', 'Soon', 'after', 'we', 'joined', 'the', 'collective', 'farm,', 'the', 'master', 'of', 'the', 'Small', 'House', 'died,', 'leaving', 'a', 'widow', 'and', 'two', 'small', 'sons.', 'According', 'to', 'the', 'old', 'custom', 'of', 'tribal', 'law', 'which', 'was', 'still', 'adhered', 'to', 'in', 'the', 'village', 'at', 'the', 'time,', 'it', 'was', 'forbidden', 'to', 'let', 'a', 'widow', 'who', 'had', 'sons', 'leave', 'the', 'tribe,', 'and', 'it', 'was', 'therefore', 'agreed', 'that', 'my', 'father', 'should', 'marry', 'her.', 'His', 'duty', 'to', 'the', 'spirits', 'of', 'his', 'ancestors', 'compelled', 'him', 'to', 'do', 'this,', 'for', 'he', 'was', 'the', 'deceased', "man's", 'closest', 'relative.', 'That', 'is', 'how', 'we', 'came', 'to', 'have', 'a', 'second', 'family.', 'The', 'Small', 'House', 'was', 'considered', 'an', 'independent', 'household', 'with', 'its', 'own', 'grounds', 'and', 'its', 'own', 'cattle,', 'but,', 'actually,', 'we', 'lived', 'together.', 'The', 'Small', 'House', 'had', 'also', 'sent', 'two', 'sons', 'off', 'to', 'war.', 'The', 'eldest,', 'Sadyk,', 'had', 'left', 'soon', 'after', 'he', 'married.', 'We', 'received', 'letters', 'from', 'them,', 'though', 'they', 'were', 'few', 'and', 'far', 'between.', 'Thus', 'there', 'remained', 'in', 'the', 'Small', 'House', 'the', 'mother,', 'whom', 'I', 'called', 'kichine', 'â€”', 'younger', 'motherâ€”', 'and', 'her', 'daughter-in-law,', "Sadyk's", 'wife.', 'Both', 'worked', 'on', 'the', 'collective', 'farm', 'from', 'morning', 'till', 'night.', 'My', 'younger', 'mother', 'was', 'kind,', 'complacent', 'and', 'mild-tempered;', 'she', 'kept', 'up', 'with', 'the', 'younger', 'women', 'in', 'everything,', 'be', 'it', 'in', 'digging', 'the', 'irrigation', 'ditches', 'or', 'in', 'watering', 'the', 'fields.', 'Fate', 'had', 'rewarded', 'her', 'with', 'a', 'hard-working', 'daughter-in-law.', 'Jamila', 'was', 'a', 'good', 'match', 'for', 'her', 'mother-in-law;', 'she', 'was', 'indefatigable', 'and', 'nimble,', 'though', 'of', 'a', 'very', 'different', 'temperament.', 'I', 'loved', 'Jamila', 'dearly.', 'And', 'she', 'loved', 'me.', 'We', 'were', 'great', 'friends,', 'yet', 'we', 'did', 'not', 'dare', 'call', 'each', 'other', 'by', 'our', 'first', 'names.', 'Had', 'we', 'been', 'from', 'different', 'families,', 'I', 'would', 'have', 'certainly', 'called', 'her', 'Jamila.', 'However,', 'since', 'she', 'was', 'the', 'wife', 'of', 'my', 'eldest', 'brother,', 'I', 'had', 'to', 'call', 'her', 'djene,', 'while', 'she,', 'in', 'turn,', 'called', 'me', 'kichine', 'bala', 'â€”', 'little', 'boyâ€”', 'though', 'I', 'was', 'far', 'from', 'little', 'and', 'there', 'was', 'a', 'very', 'small', 'difference', 'in', 'our', 'ages.', 'Such', 'was', 'the', 'custom', 'of', 'our', 'villages:', 'daughters-in-law', 'called', 'their', "husband's", 'younger', 'brothers', 'kichine', 'bala.', 'My', 'mother', 'managed', 'both', 'households.', 'My', 'little', 'sister,', 'a', 'funny', 'girl', 'with', 'braids', 'tied', 'with', 'strings,', 'helped', 'her.', 'I', 'shall', 'never', 'forget', 'how', 'hard', 'she', 'worked', 'during', 'those', 'difficult', 'years.', 'It', 'was', 'she', 'who', 'took', 'the', 'lambs', 'and', 'calves', 'of', 'both', 'houses', 'to', 'pasture;', 'it', 'was', 'she', 'who', 'gathered', 'dung', 'and', 'dry', 'branches,', 'to', 'always', 'have', 'a', 'supply', 'of', 'fuel', 'in', 'the', 'house.', 'It', 'was', 'she,', 'my', 'snub-nosed', 'little', 'sister,', 'who', 'brightened', 'my', "mother's", 'days', 'of', 'loneliness,', 'distracting', 'her', 'from', 'the', 'gloomy', 'thoughts', 'of', 'her', 'sons', 'who', 'were', 'missing', 'in', 'action.', 'Our', 'large', 'family', 'owed', 'the', 'prevailing', 'spirit', 'of', 'concord', 'and', 'plenty', 'to', 'my', "mother's", 'efforts.', 'She', 'was', 'the', 'full-fledged', 'mistress', 'of', 'both', 'houses,', 'the', 'keeper', 'of', 'the', 'home.', 'She', 'had', 'come', 'into', 'the', 'family', 'of', 'our', 'nomad']

In [283]:
with open('jamilia.txt') as fid:
    f = fid.read().split()
    a = [-len(i.strip(',').strip('.')) for i in f]
    min_i = min_index(a)
    print(f[min_i])

never-to-be-repeated

In [285]:
arr = [9, 7, 4, 11, 0, 3, 2]

arr_n = [-i for i in arr]

print(arr)
print(arr_n)
print(min_index(arr_n))

[9, 7, 4, 11, 0, 3, 2]
[-9, -7, -4, -11, 0, -3, -2]
3

In [286]:
with open('jamilia.txt') as fid:
    b = fid.read().split()
    arr = [i.strip('.').strip(',') for i in b]

    d = {}
    for i in arr:
        if i not in d:
            d[i] = 0
        d[i] += 1
    
    max_val = 0
    max_word = ''
    for k, v in d.items():
        if max_val < v:
            max_val = v
            max_word = k
    print(max_word, max_val)

the 980

In [301]:
from collections import defaultdict

with open('jamilia.txt') as fid:
    b = fid.read().split()
    arr = [i.strip('.').strip(',') for i in b]

    d = defaultdict(int)
    for i in arr:
        d[i] += 1
    
    b = list(d.items())
    arr = [(v, k) for k, v in b]
    print(sorted(arr)[-1])

(980, 'the')

In [309]:
from collections import Counter

with open('jamilia.txt') as fid:
    b = fid.read().split()
    arr = [i.strip('.').strip(',') for i in b]
    c = Counter(arr)
    print(c.most_common(5))

[('the', 980), ('and', 561), ('to', 504), ('I', 419), ('of', 372)]

In [289]:
from collections import defaultdict

d = defaultdict(list)

print(d[10])
print(d)

[]
defaultdict(<class 'list'>, {10: []})

In [ ]:
d = {}
if i in d:
    d[i].append(x)
else:
    d[i] = [x]


d = defaultdict(list)
d[i].append(x)

In [294]:
d = defaultdict(int)
print(d)

d[50].append(10)
print(d)

defaultdict(<class 'int'>, {})

AttributeError: 'int' object has no attribute 'append'

In [292]:
d[50].append(20)
print(d)

defaultdict(<class 'list'>, {50: [10, 20]})

In [332]:
with open('jamilia.txt') as fid:
    r = fid.read().lower()
    

from random import shuffle
print(r[:100])
print('*'*100)
original = list('abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVW')
secret = original.copy()
shuffle(secret)

d = {}

print(original)
print(secret)
for k,v in zip(original,secret):
    d[k] = v

s = ''
for i in r:
    if i in d:
        s += d[i]
    else:
        s += i

print(s[:100])

jamila

by      chingiz aitmatov

translated by fainna glagoleva

prepared for the internet by ir
****************************************************************************************************
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W']
['k', 'q', 'w', 'y', 'o', 'c', 'L', 'O', 'V', 'j', 'p', 'U', 'i', 't', 'S', 'b', 'W', 'Q', 'B', 'x', 'g', 'K', 's', 'r', 'a', 'l', 'e', 'n', 'u', 'E', 'F', 'J', 'd', 'T', 'N', 'H', 'G', 'A', 'I', 'R', 'D', 'm', 'v', 'P', 'M', 'z', 'h', 'C', 'f']
jkiVUk

qa      wOVtLVl kVxikxSK

xQktBUkxoy qa ckVttk LUkLSUoKk

bQobkQoy cSQ xOo VtxoQtox qa VQ

In [333]:
def encrypt(s, d):
    result = ''
    for i in s:
        if i in d:
            result += d[i]
        else:
            result += i
    return result

d2 = {v:k for k, v in d.items()}
print(d)
print(d2)

{'a': 'k', 'b': 'q', 'c': 'w', 'd': 'y', 'e': 'o', 'f': 'c', 'g': 'L', 'h': 'O', 'i': 'V', 'j': 'j', 'k': 'p', 'l': 'U', 'm': 'i', 'n': 't', 'o': 'S', 'p': 'b', 'q': 'W', 'r': 'Q', 's': 'B', 't': 'x', 'u': 'g', 'v': 'K', 'w': 's', 'x': 'r', 'y': 'a', 'z': 'l', 'A': 'e', 'B': 'n', 'C': 'u', 'D': 'E', 'E': 'F', 'F': 'J', 'G': 'd', 'H': 'T', 'I': 'N', 'J': 'H', 'K': 'G', 'L': 'A', 'M': 'I', 'N': 'R', 'O': 'D', 'P': 'm', 'Q': 'v', 'R': 'P', 'S': 'M', 'T': 'z', 'U': 'h', 'V': 'C', 'W': 'f'}
{'k': 'a', 'q': 'b', 'w': 'c', 'y': 'd', 'o': 'e', 'c': 'f', 'L': 'g', 'O': 'h', 'V': 'i', 'j': 'j', 'p': 'k', 'U': 'l', 'i': 'm', 't': 'n', 'S': 'o', 'b': 'p', 'W': 'q', 'Q': 'r', 'B': 's', 'x': 't', 'g': 'u', 'K': 'v', 's': 'w', 'r': 'x', 'a': 'y', 'l': 'z', 'e': 'A', 'n': 'B', 'u': 'C', 'E': 'D', 'F': 'E', 'J': 'F', 'd': 'G', 'T': 'H', 'N': 'I', 'H': 'J', 'G': 'K', 'A': 'L', 'I': 'M', 'R': 'N', 'D': 'O', 'm': 'P', 'v': 'Q', 'P': 'R', 'M': 'S', 'z': 'T', 'h': 'U', 'C': 'V', 'f': 'W'}

In [326]:
zasikrechenniy = encrypt('daragoy ya tebya ochen lublu v kino poydem', d)
print(zasikrechenniy)

uqxqgti iq hbriq tpvba zdrzd o cjat ftiube

In [327]:
encrypt('uqxqgti iq hbriq tpvba zdrzd o cjat ftiube', d2)

'daragoy ya tebya ochen lublu v kino poydem'

yoc SLgQoxB(kQQ):
    QoxgQt 'eNz PFMhAz', ikr(kQQ), iVt(kQQ), Bgi(kQQ)

yoc bSiVySQ(kQQ):
    QoxgQt Uot(kQQ)


oiVU = 'eNz'

yoc iaBgi2(k):
    QoxgQt k ** 0.5

In [336]:
import os

files = os.listdir()

In [337]:
files

['.git',
 'altinay.py',
 'bank.txt',
 'bank2.txt',
 'class.ipynb',
 'example.py',
 'flight.txt',
 'flight2.txt',
 'flight3.txt',
 'flight4.txt',
 'iskender.py',
 'jamilia.txt',
 'README.md',
 '__pycache__']

In [340]:
import random

random.seed(10)
arr = [randint(0, 100) for _ in range(100)]
print(arr)

[73, 4, 54, 61, 73, 1, 26, 59, 62, 35, 83, 20, 4, 66, 62, 41, 9, 31, 95, 46, 5, 53, 17, 77, 45, 48, 53, 36, 86, 33, 58, 22, 87, 38, 84, 46, 17, 58, 98, 30, 56, 78, 48, 5, 74, 0, 30, 17, 24, 38, 68, 46, 98, 30, 40, 85, 70, 57, 55, 60, 8, 83, 74, 41, 64, 20, 28, 52, 30, 4, 4, 63, 38, 77, 84, 9, 68, 10, 19, 49, 72, 47, 76, 19, 14, 99, 98, 12, 56, 21, 24, 44, 55, 53, 57, 31, 87, 35, 18, 79]

In [341]:
import random

random.seed(10)
arr = [randint(0, 100) for _ in range(100)]
print(arr)

[73, 4, 54, 61, 73, 1, 26, 59, 62, 35, 83, 20, 4, 66, 62, 41, 9, 31, 95, 46, 5, 53, 17, 77, 45, 48, 53, 36, 86, 33, 58, 22, 87, 38, 84, 46, 17, 58, 98, 30, 56, 78, 48, 5, 74, 0, 30, 17, 24, 38, 68, 46, 98, 30, 40, 85, 70, 57, 55, 60, 8, 83, 74, 41, 64, 20, 28, 52, 30, 4, 4, 63, 38, 77, 84, 9, 68, 10, 19, 49, 72, 47, 76, 19, 14, 99, 98, 12, 56, 21, 24, 44, 55, 53, 57, 31, 87, 35, 18, 79]

In [347]:
with open('midterm.txt', encoding='utf-8') as fid:
    x = set(list(fid.read()))

''.join(x)

'N<Пуcwl\neр1AxVtbюРpж3fdУп?qёЧ ьunrО)7цтh–Bхэ(=a6НC—об5Десvo>гфйF:д\tшк/ач9_’|gз8ыщ]+s"m[0TSВ‘,ияi4нл2мв.-'

66

In [33]:
with open('midterm_encrypted2.txt', 'r', encoding='utf-8') as fid:
    x = list(set(list(fid.read())))
print(x)

['=', 'П', 'l', 'v', 'й', 'щ', '2', 'з', '’', 'в', '—', 'f', '0', 'ж', '[', 'Д', 'и', '(', 'л', 'B', 'н', 'A', 'r', 'g', '|', 'T', 'х', '–', '.', 'с', '\n', ' ', 'i', '\t', '6', 'у', 'В', ')', 'Ч', 'm', 'п', 'p', 'b', 'ч', 'n', 'е', 'V', 'д', 'C', 'e', 'a', '+', '/', 'О', 'о', 'ё', '5', 'к', 'S', 'x', 'У', 'т', 'q', 'c', 'ы', '"', '8', 'м', '3', 'ь', 'N', 'o', '7', 'ц', ',', '<', 'б', 'э', 'ш', 'г', 'а', 'Р', 'ю', 'u', 'р', ']', '?', 'F', 't', 'd', 'w', 'я', '4', '1', '_', 'ф', '>', ':', 's', 'Н', '‘', '9', 'h', '-']

In [ ]:
try:
    with open('midterm2.txt', 'r', encoding='utf-8') as fid:
        txt = fid.read()
        x = list(set(list(x)))
except:
    print('Sorry bro, file netu')


original = sorted(x)
znayem = ['[5]', '[3]', '[15]', 'Напишите', 'Реализуйте', 'CSV', 'Пример']

def encrypt(s, d):
    result = ''
    for i in s:
        if i in d:
            result += d[i]
        else:
            result += i
    return result


def break_code(n, log=False):
    import random
    random.seed(n)
    coding = original.copy()
    random.shuffle(coding)
    d = {v:k for k, v in zip(original, coding)}

    s = encrypt(txt, d)

    if log:
        print(d)
        print(s)
        
    for key in znayem:
        if key not in s:
            return False
    return True

for i in range(1):
    if i % 10000 == 0:
        print(i)

    if break_code(i):
        print('Found: ', i)

SyntaxError: expected 'except' or 'finally' block (1675674043.py, line 6)

In [ ]:
import random

random.seed(100)
for i in range(20):
    print([random.randint(0, 20) for i in range(5)])

[4, 14, 14, 5, 12]
[11, 13, 16, 3, 17]
[3, 2, 14, 8, 1]
[20, 6, 10, 7, 9]
[6, 5, 4, 6, 11]
[11, 20, 13, 6, 12]
[14, 17, 8, 12, 5]
[20, 20, 3, 5, 0]
[19, 12, 4, 18, 5]
[6, 5, 0, 7, 14]
[20, 12, 4, 19, 17]
[1, 19, 7, 19, 16]
[9, 18, 10, 16, 10]
[17, 11, 15, 12, 1]
[3, 9, 20, 13, 8]
[7, 13, 16, 15, 18]
[8, 4, 1, 18, 10]
[5, 1, 8, 3, 1]
[19, 7, 9, 16, 19]
[6, 20, 18, 11, 10]

In [42]:
break_code(2025, True)

{'—': '\t', '5': '\n', 'N': ' ', 'c': '"', 'В': '(', 'а': ')', 'О': '+', 'з': ',', 'f': '-', '2': '.', 'р': '/', '7': '0', 'н': '1', 'g': '2', 'T': '3', 'e': '4', 'ю': '5', 'л': '6', 'э': '7', 'v': '8', 'h': '9', 'w': ':', 'd': '<', 'ц': '=', '–': '>', 'п': '?', '.': 'A', '‘': 'B', '’': 'C', 'Н': 'F', 'u': 'N', '8': 'S', 'я': 'T', 'ё': 'V', 'П': '[', ':': ']', '\n': '_', 't': 'a', 'т': 'b', 'o': 'c', '(': 'd', 'б': 'e', 's': 'f', '[': 'g', '|': 'h', 'V': 'i', '9': 'l', 'l': 'm', '0': 'n', '_': 'o', 'C': 'p', '6': 'q', 'с': 'r', 'е': 's', 'a': 't', 'ф': 'u', '=': 'v', ']': 'w', 'й': 'x', 'ы': '|', ',': 'В', ' ': 'Д', 'b': 'Н', 'S': 'О', 'у': 'П', 'A': 'Р', '?': 'У', '3': 'Ч', 'ж': 'а', 'У': 'б', 'i': 'в', 'x': 'г', 'p': 'д', 'щ': 'е', 'м': 'ж', 'и': 'з', '>': 'и', 'ш': 'й', 'Р': 'к', 'в': 'л', '"': 'м', 'к': 'н', '+': 'о', 'r': 'п', 'х': 'р', 'ч': 'с', 'B': 'т', '4': 'у', ')': 'ф', '1': 'х', 'q': 'ц', 'ь': 'ч', '-': 'ш', 'F': 'щ', 'д': 'ы', 'n': 'ь', 'm': 'э', '\t': 'ю', 'Ч': 'я', '<': 'ё', 'Д': '–', 'о': '—', '/': '‘', 'г': '’'}
[5] count_above_threshold(numbers: list[int], threshold:int) -> int
 Напишите функцию, которая считает, сколько чисел в массиве больше threshold.


[5] letter_grade(avg: int) -> str
Реализуйте маппинг: A (90+), B (80–89), C (70–79), иначе — "Failed".


[5] max_value_and_index(arr: list[int]) -> (int,int)
 Верните максимум значение и индекс этого значение в массива.


[5] Дан список arr = [2, 3, 4, 5, 3, 6, 3]. Удалите все тройки из arr (в результате трёх не должно остаться).


[3] Дан arr = [4, 2, 1, 6, 8, 9, 10]. Что выведет срез для: arr[-3:] (Напишите результат.)


[3] Определите результат:
[2, 0, 1, 4] < [3, 0] — True или False? Обоснуйте в 1–2 фразах.


[3] Что выведет следующий код?
a = [2, 4, 6]
b = a
a = a + [8]
print(a)
print(b)


[3] Оцените выражение (укажите True/False)
 (False or True) and (True and False) and (True or False and False)


[3] Что выведет следующий код?
a = [1, 2, 3, 5]
a.insert(1, 10)
print(a)
[5] Подсчёт слов в файле
Напишите функцию file_word_count(path: str, word: str) -> inт, которая возвращает число сколько раз word в файле повторяется.


[15] longest_word_in_file(filename: str, target_word: str) -> int
 Напишите функцию, которая по текстовому файлу находит самое длинное слово
__________________________________________________________________________________________________________
Пример CSV:
	Name,grade,age
	Alice,85,20
	Bob,92,22
	Charlie,78,21
[15] max_row(filename: str, column_name: str) -> dict | None
Прочитать CSV и найти всю строку, где значение в столбце column_name максимально.
Пример: max_row(‘grades.csv’, ‘age’) должен вернуть ‘Bob,92,22’ так как 22 самый большой.


[15] calculate_column_average(filename: str, column_name: str) -> float
Прочитать CSV, посчитать среднее значение по столбцу column_name.
Пример: calculate_column_average(‘grades.csv’, ‘grade’)  должен вернуть 85 = (85+92+78)/3


[15] unique_count(filename: str, column_name: str) -> int
которая читает CSV-файл и возвращает количество уникальных значений в столбце column_name.

True

In [ ]:
'''
Выручка в диапазоне дат
 revenue_between(filename: str, start_date: str, end_date: str) -> float
 Даты в формате YYYY-MM-DD. Сумма cost для start_date ≤ date ≤ end_date. Если нет — 0.0.
'''

def revenue_between(filename, start_date, end_date):
    with open(filename) as fid:
        data = list(csv.DictReader(fid))
        total = 0.0
        for i in data:
            if start_date <= i['date'] <= end_date:
                total += float(i['cost'])
    return total

'''
Кто покупал указанный товар
 buyers_of_item(filename: str, item: str) -> list[str]
Вернуть уникальные имена клиентов кто купил этот товар, отсортированные по возрастанию. Если нет — [].
'''
def buyers_of_item(filename, item):
    with open(filename) as fid:
        data = list(csv.DictReader(fid))
        clients = set()
        for d in data:
            if d['item'] == item:
                clients.add(d['client'])
    return sorted(clients)

'''Средний чек по файлу
 avg_transaction_value(filename: str) -> float| None
 Среднее cost по всем строкам. Если нет данных — None. Готовые функции нельзя использовать.
 '''

def avg_transaction_value(filename):
    with open(filename) as fid:
        data = list(csv.DictReader(fid))
        return sum([float(d['cost']) for d in data])/len(data) 
    
'''
Первая и последняя покупка клиента
 client_purchase_span(filename: str, client: str) -> tuple[str, str] | None
 Сопоставление клиента вернуть (first_date, last_date). Если нет покупок — None.
 '''
def client_purchase_span(filename, client):
    with open(filename) as fid:
        data = list(csv.DictReader(fid))
        dates = sorted([d['date'] for d in data if d['client'] == client])
        return dates[0], dates[-1]

'''
Топ-клиент месяца
 top_client_in_month(filename: str, year: int, month: int) -> tuple[str, float] | None
 Вернуть (client, total_spend) с максимальной тратой за месяц. Если нет — None.
'''
def top_client_in_month(filename, year, month):
    with open(filename) as fid:
        data = list(csv.DictReader(fid))
        d = defaultdict(float)
        
        start_date = f'{year:04d}-{month:02d}-00'
        end_date = f'{year:04d}-{month:02d}-32'

        for i in data:
            if start_date < i['date'] < end_date:
                d[i['client']] += float(i['cost'])
      
        return max(d.items(),key=lambda x:x[1])

In [53]:
x = [('a', 10), ('b', 20), ('e', 20), ('x', 5), ('x', 10)]

def vtoroy_glavniy(x):
    return (x[1], x[0])

vtoroy = lambda ait: (ait[1], ait[0])

max(x, key=vtoroy)

('e', 20)

In [63]:
x = 58757664836

f'{x:08d}'

'58757664836'

In [69]:
'2025-02-23' < '2025-02-28'

True

In [1]:
while True:
    try:
        x = input('enter number:')
        y = int(x)

        print('You entered ', x, 10/y)
    except ZeroDivisionError:
        print('Ostavim kak i est')
    except ValueError:
        print('Vvedeno ne chislo')

You entered  10 1.0
Ostavim kak i est
Vvedeno ne chislo
Vvedeno ne chislo

KeyboardInterrupt: Interrupted by user

In [2]:
int('emil')

ValueError: invalid literal for int() with base 10: 'emil'

In [8]:
import csv
try:
    fid = open('inpu.csv', encoding='utf-8')
    data = list(csv.DictReader(fid))
    fid.close()
    s = sum(float(d['cost']) for d in data)
    print(s/len(data))
except:
    print('bro ne srabotalo, poptrobuy chenibut')

bro ne srabotalo, poptrobuy chenibut

In [11]:
def f1():
    return 1

def f2():
    return 10

def f3():
    return 100

def fx():
    return 1000/0


while True:
    x = input('function: ')
    if x == 'f1':
        f1()
    elif x == 'f2':
        f2()
    elif x == 'f3':
        f3()
    elif x == 'fx':
        fx()
    else:
        print('not found')

ZeroDivisionError: division by zero

In [ ]:
import csv
try:
    fid = open('input.csv', encoding='utf-8')
    data = list(csv.DictReader(fid))
    s = sum(float(d['cost']) for d in data)
    print(s/len(data))
except FileNotFoundError:
    print('bro file netu, posmotri nazvanie')
except ZeroDivisionError:
    print('bro netu dannyh v file')
except ValueError:
    print('bro v file ne chisla')
except Exception as e:
    print('bro ne srabotalo, poptrobuy chenibut')
    print(e)
else:
    print('successfull')
finally:
    print('vsegda vipolnyaetsya')

bro v file ne chisla

In [ ]:
print('User info')

In [1]:
x = """100

90
0
50
0
0
80
60
95
30
80
55
50
90
60
100
60
70
10
40
100
20

40
95
80
10
40
100
0
10
100
80
50
30
40
0
80
100
95
60
40


90
90

90
40
100
0
100


100
70

40
60
100
10
80
100

85
30
95
60
25""".split()

In [5]:
len([i for i in [int(i) for i in x] if i > 80])

21

In [9]:
d = {
    "0001": {"item": "sneakers", "price": 80},
    "0002": {"item": "cola", "price": 120},
    "0003": {"item": "bread borodinskiy", "price": 60}
}

In [12]:
def lookup(shtrihcode):
    item = d.get(shtrihcode, None)
    try:
        name = item["item"]
        price = item["price"]
        return f'{shtrihcode} : {name} -> {price}'
    except:
        return f'item with {shtrihcode} not found'

In [13]:
lookup("0001")

'0001 : sneakers -> 80'

In [35]:
d = {}
kto = "altinay"
message = "salam kanday"
d[kto] = d.get(kto, []) + [message]

In [36]:
print(d[kto])
message = "******"
print(d.get(kto, []) + [message])

['salam kanday']
['salam kanday', '******']

In [37]:
kto = "altinay"
message = "salam kanday *******"
d[kto] = d.get(kto, []) + [message]

In [38]:
d

{'altinay': ['salam kanday', 'salam kanday *******']}

In [39]:
if kto not in d:
    d[kto] = []

d[kto].append(message)

In [ ]:
begaimd = {
    "altinay": ["iskender: salam kanday", "zaarylkan: ekzaman nachilsa", ""], 
    "iskender": [],
    "zaarylkan": [],
    "": ["bolgula tez"]
}

In [ ]:
from collections import defaultdict
from time import time

d = defaultdict(int)
cars_enter = defaultdict(list)
cars_paid = defaultdict(list)

rate = 3
history = []

def zaezd(id):
    d[id] = time()
    history.append(f'{time()} zaezd {id}')
    cars_enter[id].append(time())

def skolko(id):
    now = time()
    total = int( (now - d[id]) ) * rate
    history.append(f'{time()} zapros skolko na {id}')

    return total

def platej(id, summa):
    d[id] += summa/rate
    history.append(f'{time()} platej za {id} na {summa} summu')
    cars_paid[id].append(time())


def is_paid(id):
    if d[id] > time() -  15:
        del d[id]
        history.append(f'{time()} viezd {id}')
        return True
    else:
        history.append(f'{time()} viezd {id} unsuccessful')
        return False

In [83]:
zaezd("01kg001aaa")

In [84]:
zaezd("02kg003bbb")

In [85]:
zaezd("03kg004ccc")

In [86]:
d

defaultdict(int,
            {'01kg001aaa': 1760525206.3795238,
             '02kg003bbb': 1760525212.2897975,
             '03kg004ccc': 1760525219.1830418})

In [87]:
skolko('02kg003bbb')

36

In [88]:
platej('02kg003bbb', 36)

In [89]:
is_paid('02kg003bbb')

True

In [90]:
d

defaultdict(int,
            {'01kg001aaa': 1760525206.3795238,
             '03kg004ccc': 1760525219.1830418})

In [92]:
skolko('01kg001aaa')

159

In [93]:
history

['1760525206.3795238 zaezd 01kg001aaa',
 '1760525212.2897975 zaezd 02kg003bbb',
 '1760525219.1830418 zaezd 03kg004ccc',
 '1760525224.7673438 zapros skolko na 02kg003bbb',
 '1760525232.367274 platej za 02kg003bbb na 36 summu',
 '1760525237.068862 viezd 02kg003bbb',
 '1760525259.545822 zapros skolko na 01kg001aaa']

In [102]:
def sozday():
    return defaultdict(list)

d = defaultdict(sozday)

In [ ]:
d = defaultdict(lambda : defaultdict(list))

In [103]:
d['emil']['quiz'].append(100)
d

defaultdict(<function __main__.sozday()>,
            {'emil': defaultdict(list, {'quiz': [100]})})

In [104]:
d = {
    "emil": {
        "PL": [('quiz1', 100), ('midterm', 20), ('final', 30)],
        'CS': [('quiz1', 100), ('midterm', 20), ('final', 30)]
    },
    "iskender": {
        "PL": [('quiz1', 100), ('midterm', 60), ('final', 30)],
        'CS': [('quiz1', 80), ('midterm', 40), ('final', 30)]
    }
}

In [105]:
grades = d['emil']
result = []
for course_name, list_of_grades in grades.items():
    s = sum([i[1] for i in list_of_grades])
    result.append( (course_name, s/len(list_of_grades)) )

In [106]:
result

[('PL', 50.0), ('CS', 50.0)]

In [ ]:
import csv
with open('ait25PL.csv') as fid:
    reader = list(csv.reader(fid))

['Abdraliev Belek', '100', '100', '0', '100', '100', '30', '100', '100', '100']

In [110]:
with open('ait25PL.csv') as fid:
    reader = csv.reader(fid)
    for i in reader:
        print(i[0])

Abdraliev Belek
Abdullaev Iigilik
Aitmatov Baiel
Asanbek uulu Chyngyz
Asanov Iskender
Ashiraliev Aman
Askarov Arsen
Bachtiyarov Eldiar
Baitemirov Iskender
Baitikov Adel
Baktygulova Elina
Bakytbekov Roman
Bekbosunova Aisha
Bekenova Aiana
Bektemirov Ibrahimbek
Berdibaeva Nurai
Bolotbek uulu Erzhan
Cherikova Aiana
Dildebekova Nazima
Dushobaev Vildan
Duyshenov Kutman
Dzhutankeeva Meerim
Elchiev Jasir
Eraliev Shergazy
Erkibaev Nurbek
Guljigitov Dayirbek
Ismailova Altynai
Kadyrakunova Adelya
Kanatbekov Azho
Karimova Aibiyke
Kenzhetaev Diaz
Kerimov Akbar
Khusanbaeva Diliafruz
Kim Jihyong
Krasnov Ilhan
Kubanychbekov Emir
Kurmanova Begaiym
Kuseinov Eldar
Kuttugalieva Zarylkan
Kydykbekova Aiperi
Kydyraliev Janbolot
Mamataliev Nurbolot
Mamatzhanova Elenora
Mamatzunduev Bekbol
Muhazhidinov Marlen
Nadirbekov Abdusamat
Nazarbaev Nursultan
Nuralieva Asel
Omurbekova Mirana
Ormushov Temirlan
Orunbaev Baizhan
Osmonalieva Asylkan
Rakhmatyloo uulu Kasymbek
Shukuraliev Nurdan
Soltobekov Amin
Sydgali uulu Zhanybek
Taalaibekov Bayastan
Tagaeva Adina
Tagaeva Rahat
Tashbai uulu Daniel
Torokulov Aiman
Volgin Daniel
Zamirov Akylbek
Zhanybekova Begimai
Zhavdedova Nazik
Zholdubaev Emil
Zhoodonbek kyzy Zhaina
Zhumaev Abdunur
Zhyrgalbek uulu Erbol
Ziyalieva Saadat

In [ ]:
circle = {'radius': 10}
rectangle = {'width': 10, 'height':20}
triangle = {'width': 10, 'height':20}

def perimeter(x):
    return x*2*3.14

def perimeter2(a, b):
    return (a + b)*2

def perimeter3(a, b):
    return a + b + (a**2 + b**2) ** 0.5

print(perimeter(d['radius']))

In [124]:
class Circle:
    def __init__(self, radius:int):
        self.r = radius
        self.p = None
    
    def compute(self):
        self.p = self.r * 2 * 3.14
    
    def perimter(self):
        if not self.p:
            self.compute()
        return self.p

In [127]:
c = Circle(20)
c.perimter()

125.60000000000001

125.60000000000001

In [119]:
c.perimeter

125.60000000000001

In [159]:
class Circle:
    def __init__(self, r):
        self.r = r
    
    def perimeter(self):
        return self.r * 2 * 3.14
    
    def __str__(self):
        return f'menin radius = {self.r}, a perimeter bolso = {self.perimeter()}'
    

class Triangle:
    def __init__(self, w, h):
        self.width = w
        self.height = h
    
    def perimeter(self):
        return self.width + self.height + (self.width **2 + self.height ** 2) ** 0.5


class Rectangle:
    def __init__(self, w, h):
        self.h = h
        self.w = w
    
    def perimeter(self):
        return 2 * (self.h + self.w)

In [162]:
a = Circle(20)
b = Triangle(10, 20)
c = Rectangle(20, 30)

In [166]:
str(a)

'menin radius = 20, a perimeter bolso = 125.60000000000001'

In [137]:
print(a.perimeter(), b.perimeter(), c.perimeter())

125.60000000000001 52.3606797749979 100

In [138]:
class Car:
    pass

In [139]:
a = Car()

In [140]:
a.brand = 'Audi'

In [141]:
x = Car()

In [144]:
a.brand

'Audi'

In [ ]:
class X:
    def show(self):
        print('what do you want me to show')

In [150]:
a = X()

In [151]:
a.show()

what do you want me to show

In [153]:
b = X()
b.show()

what do you want me to show

In [154]:
class Y:
    pass

In [156]:
a = Y()
a.show = lambda : print('wazzup')

In [157]:
a.show()

wazzup

In [158]:
b = Y()
b.show()

AttributeError: 'Y' object has no attribute 'show'

In [167]:
class Figuri:
    def __init__(self):
        self.rectangle = None
        self.triangle = None
        self.circle = None

    def set_rectangle(self, w, h):
        self.rectangle = Rectangle(w, h)
    
    def set_circle(self, r):
        self.circle = Circle(r)
    
    def set_triangle(self, w, h):
        self.traingle = Triangle(w, h)

In [168]:
class Car:
    def set_brand(self, brand):
        self.brand = brand

    def set_year(self, year):
        self.year = year
    
    def show(self):
        print(f'{self.brand} -> {self.year}')

In [169]:
a = Car()
a.set_brand('Audi')
a.set_year(1999)

b = Car()
b.set_brand('Totyota')
b.set_year(2005)

c = Car()
c.set_brand('BMW')
c.set_year(2000)

In [171]:
a.show()
b.show()
c.show()

Audi -> 1999
Totyota -> 2005
BMW -> 2000

In [ ]:
class temshik:
    pass

class mnogotablichek:
    pass


class Currency:
    def __init__(self, buy_rate, sell_rate, kassa):
        self.buy_rate = buy_rate
        self.sell_rate = sell_rate
        self.kassa = kassa
        self.hist = []
        self.buy_avg = buy_rate
        self.pribl = 0

    def buy(self, amount):
        self.kassa += amount
        self.buy_avg = (self.kassa * self.buy_avg + amount * self.buy_rate) / (self.kassa + amount)
        return -self.buy_rate*amount

    def sell(self, amount):
        self.pribl += amount * (self.sell_rate - self.buy_avg)
        self.kassa -= amount
        return self.sell_rate*amount

    def history(self):
        pass

    def profit(self):
        return self.pribl

    def change_buy_rate(self, rate):
        self.buy_rate = rate

    def change_sell_rate(self, rate):
        self.sell_rate = rate
    

class obmenka:
    def __init__(self, som):
        self.som = som
        self.valuti = {}

    def add_valuta(self, name:str, buy_rate, sell_rate, amount):
        self.valuti[name] = Currency(buy_rate, sell_rate, amount)
    
    def buy(self, valuta, amount):
        if valuta in self.valuti:
            self.som += self.valuti[valuta].buy(amount)
        else:
            print(f'{valuta} is not supported')
    
    def change_buy_rate(self, valuta, rate):
        if valuta in self.valuti:
            self.valuti[valuta].change_buy_rate(rate)
        else:
            print(f'{valuta} is not supported')
    
    def change_sell_rate(self, valuta, rate):
        if valuta in self.valuti:
            self.valuti[valuta].change_sell_rate(rate)
        else:
            print(f'{valuta} is not supported')
    
    def sell(self, valuta, amount):
        if valuta in self.valuti:
            self.som += self.valuti[valuta].sell(amount)
        else:
            print(f'{valuta} is not supported')
    
    def kancha_som(self):
        return self.som
    
    def profit(self):
        return sum([i.profit() for i in self.valuti.values()])

In [ ]:
altinay = obmenka(1000000)
altinay.add_valuta('usd', 87.3, 87.6, 1000)
altinay.buy('usd', 100)
altinay.buy('usd', 200)
altinay.change_buy_rate('usd', 87.45)
altinay.buy('usd', 500)
altinay.change_buy_rate('usd', 87.40)
altinay.buy('usd', 600)
altinay.sell('usd', 1000)
altinay.change_sell_rate('usd', 87.8)
altinay.sell('usd', 200)
altinay.change_sell_rate('usd', 87.65)
altinay.sell('usd', 200)

altinay.add_currency('euro', 100, 101, 500)
altinay.add_currency('rubl', 1.01, 1.09, 10000)

altinay.buy('euro', 200)
altinay.sell('rubl', 10000)


altinay.profit()

405.47826086955183

In [197]:
altinay.valuti['usd'].profit()

405.47826086955183

In [ ]:
usd = Currency(87.3, 87.6, 1000)
usd.buy(100)
usd.buy(200)
usd.change_buy_rate(87.45)
usd.buy(500)
usd.change_buy_rate(87.40)
usd.buy(600)
usd.sell(1000)
usd.change_sell_rate(87.8)
usd.sell(200)
usd.change_sell_rate(87.65)
usd.sell(200)
usd.profit()

405.47826086955183

In [179]:
usd.buy_avg, usd.kassa

(87.34608695652175, 1000)

In [ ]:
usd_28 = Currency(87.346, 87.65, 1000)

In [205]:
class Car:
    def __init__(self, brand, year):
        self.brand = brand
        self.year = year

    def set_wheels(self, count):
        self.wheels = count
    
    def set_engine(self, engine_size):
        self.engine_size = engine_size
    
    def show(self):
        print(f'brand name: {self.brand}, year: {self.year}')


class Pickup(Car):
    def __init__(self, brand, year):
        Car.__init__(self, brand, year)
    
    def set_bagaj(self, razmer):
        self.razmer = razmer


class Kamaz(Car):
    def __init__(self, brand, year, tonnage):
        Car.__init__(self, brand, year)
        self.tonnage = tonnage

class Scooter(Car):
    def __init__(self, brand, year, battery):
        Car.__init__(self, brand, year)
        self.battery = battery
    
    def show(self):
        print(f'{self.brand} -> {self.battery}')

In [206]:
p = Pickup('toyota', 1998)
p.show()
k = Kamaz('howo', 2020, 40)
k.show()
s = Scooter('chinese', 2025, 5)
s.show()

brand name: toyota, year: 1998
brand name: howo, year: 2020
chinese -> 5

In [204]:
k.brand = 'merc'
k.show()

brand name: merc, year: 2020

In [207]:
p.show()

brand name: toyota, year: 1998

In [233]:
class Person:
    def __init__(self, name):
        self.name = name
    
    def show(self):
        print('Base class show()\nname: ', self.name)


class Student(Person):
    def __init__(self, name):
        Person.__init__(self, name)
        self.major = None
    
    def change_major(self, major):
        self.major = major
    
    def show(self):
        super().show()
        print('Student: ', self.name)
    

class Professional(Student):
    def __init__(self, name):
        super().__init__(name)
        self.title = None
    
    def change_title(self, title):
        self.title = title
    
    def show(self):
        super().show()
        print('major: ', self.major)

In [234]:
p = Professional('altinay')
p.change_title('director')
p.change_major('computer science')
p.show()

Base class show()
name:  altinay
Student:  altinay
major:  computer science

In [235]:
s = Student('emil')
p = Person('iskender')

In [252]:
class Igrok:
    def __init__(self):
        self.messages = []
    
    def set_message(self, message):
        self.messages.append(message)

class Person(Igrok):
    def __init__(self):
        super().__init__()





class MessagingSystem:
    def __init__(self):
        self.members = []
    
    def subscribe(self, member):
        self.members.append(member)

    def notify(self, message):
        for i in self.members:
            i.set_message(message)

In [256]:
cs = MessagingSystem()

altinay = Person()
cs.subscribe(altinay)

iskender = Person()
cs.subscribe(iskender)

nazik = Person()
cs.subscribe(nazik)

cs.notify('davay igraem')

In [257]:
class Bot:
    def __init__(self, system):
        self.system = system
        
        self.messages = []
    
    def set_message(self, message):
        self.messages.append(message)


bot1 = Bot('mac')


cs.subscribe(bot1)

In [258]:
cs.members

[<__main__.Person at 0x290896cf650>,
 <__main__.Person at 0x290896432d0>,
 <__main__.Person at 0x290896433d0>,
 <__main__.Bot at 0x290896fb350>]

In [259]:
cs.notify('dobavil bota')

In [260]:
bot1

In [261]:
nazik

In [262]:
type(nazik)

__main__.Person

In [263]:
type(bot1)

__main__.Bot

In [279]:
from random import randint

def ait_random():
    return abs(sum([randint(0, 10) for i in range(10)]) - 50)*2

In [286]:
count = 0
for i in range(2000000):
    x = ait_random()
    if x > 85:
        print(x)

print(count)

86
88
0

In [283]:
arr = ['Kutman', 'Aman', 'Ayana', 'Rahat', 'Nurdan', 'Eldar', 'Vildan', 'Akbar', 'Adina', 'Chyngyz', 'Nurbek', 'Saadat']

from time import sleep

In [287]:
for i in arr:
    print(i, max(20, ait_random()))
    sleep(5)

Kutman 20
Aman 20
Ayana 20
Rahat 42
Nurdan 42
Eldar 52
Vildan 20
Akbar 20
Adina 34
Chyngyz 26
Nurbek 20
Saadat 20

In [ ]:
class Attraction:
    def __init__(self, name):
        self.name = name
        self.count = 0
        self.price = 0

    def set_price(self, price):
        self.price = price
    
    def set_count_limit(self, limit):
        self.limit = limit

    def show(self):
        print(f'{self.name} is the attraction name')

    def add(self):
        self.count += 1

    def profit(self):
        return self.count * self.price
    
    def is_allowed(self, p):
        return False

In [323]:
class Round(Attraction):
    def __init__(self, name):
        super().__init__(name)
        self.weight_limit = float('inf')
    
    def set_weight_limit(self, limit):
        self.weight_limit = limit
    
    def is_allowed(self, p:Person):
        return p.weight <= self.weight_limit
    

class Drop(Attraction):
    def __init__(self, name):
        super().__init__(name)
        self.height_limit = float('inf')
    
    def set_height_limit(self, limit):
        self.height_limit = limit

    def is_allowed(self, p:Person):
        return p.height >= self.height_limit


class Person:
    def __init__(self, name, weight, height):
        self.name, self.weight, self.height = name, weight, height

In [324]:
class Park:
    def __init__(self, name):
        self.name = name
        self.attractions = {}
    
    def add_attraction(self, attraction:Attraction):
        self.attractions[attraction.name] = attraction
    
    def add(self, name, person):
        attraction = self.attractions[name]
        if attraction.is_allowed(person):
            self.attractions[name].add()
        else:
            print(f'this person: {person.name} is not allowed')

    def get_profit(self):
        doetogototal=0
        for i in self.attractions.values():
            doetogototal+=i.profit()
        return doetogototal

In [325]:
skypark = Park('SkyPark')

karusel = Round('Karusel')
karusel.set_weight_limit(120)
karusel.set_price(200)
skypark.add_attraction(karusel)

gvozd = Drop('Gvozdik')
gvozd.set_height_limit(150)
gvozd.set_price(300)
skypark.add_attraction(gvozd)

In [326]:
p1 = Person('altinay', 55, 145)
p2 = Person('Nazar', 130, 185)
p3 = Person('Azim', 85, 175)

In [327]:
skypark.add('Karusel', p1)
skypark.add('Gvozdik', p1)
skypark.add('Karusel', p2)
skypark.add('Gvozdik', p2)
skypark.add('Karusel', p2)
skypark.add('Gvozdik', p3)

this person: altinay is not allowed
this person: Nazar is not allowed
this person: Nazar is not allowed

In [328]:
skypark.get_profit()

800

In [415]:
from random import randint
class Student:
    def __init__(self, name):
        self.__name = name
        self.__create_id()
    
    def get_name(self):
        return self.__name
    
    def set_name(self, new_name):
        self.id = self.id.replace(self.__name, new_name)
        self.__name = new_name
    
    def __create_id(self):
        self.id = str(randint(0, 1000)) + self.__name

In [416]:
a = Student('emil')
a.set_name('altinay')

In [417]:
a.id, a.__name

AttributeError: 'Student' object has no attribute '__name'

In [418]:
a.get_name()

'altinay'

In [419]:
a._Student__name

'altinay'

In [421]:
a._Student__create_id()

In [456]:
class A:
    def __init__(self):
        print('init class A')
    
    def show(self):
        print('show A')

class B(A):
    def __init__(self):
        print('init class B')
        #super().__init__()
        A.__init__(self)

    def show(self):
        print('show B')

class C(A):
    def __init__(self):
        print('init class C')
        #super().__init__()
        A.__init__(self)
    
    def show(self):
        print('show C')

class D(A):
    def __init__(self):
        print('init class D')
        #super().__init__()
        A.__init__(self)


    def show(self):
        print('show D')


class E(B, D, C):
    def __init__(self):
        print('init class E')        
        #super().__init__()
        D.__init__(self)
        C.__init__(self)
        B.__init__(self)

In [457]:
e = E()
e.show()

init class E
init class D
init class A
init class C
init class A
init class B
init class A
show B

In [455]:
E.mro()

[__main__.E, __main__.D, __main__.C, __main__.B, __main__.A, object]

In [437]:
e.show()

show C

In [ ]:
# inheritance
# polymorphism
# data encapsulation (data and method protection)
# multi inheritance

In [463]:
from collections import defaultdict

class Passenger:
    def __init__(self):
        self.tip = 'Passenger'

class FlightAttendant(Passenger):
    def __init__(self):
        super().__init__()
        self.tip = 'FlightAttendant'

class Flight:
    def __init__(self):
        self.tip = None # need to override
        self.passengers = []

    def addPassenger(self, passenger):
        self.passengers.append(passenger)

class Commercial(Flight):
    def __init__(self):
        super().__init__()
        self.tip = 'Commercial'

class Charter(Flight):
    def __init__(self):
        super().__init__()
        self.tip = 'Charter'

class Airline:
    def __init__(self):
        self.flights = []
    
    def addFlight(self, flight):
        self.flights.append(flight)

    def addPassenger(self, flight, passenger):
        flight.addPassenger(passenger)
    
    def count_flight_types(self):
        d = defaultdict(int)
        for i in self.flights:
            d[i.tip] += 1
        return d
    
    def count_passengers_per_flight_type(self):
        d = defaultdict(int)
        for i in self.flights:
            d[i.tip] += len(i.passengers)
        return d

In [465]:
a = Airline()
c1 = Commercial()
c2 = Commercial()
ch1 = Charter()

p1 = Passenger()
p2 = Passenger()
p3 = Passenger()
p4 = Passenger()

f1 = FlightAttendant()
f2 = FlightAttendant()
f3 = FlightAttendant()

a.addFlight(c1); a.addFlight(c2); a.addFlight(ch1)

a.addPassenger(c1, p1)
a.addPassenger(c2, p2)
a.addPassenger(ch1, p3)
a.addPassenger(c1, f1)
a.addPassenger(c2, f2)
a.addPassenger(ch1, f3)

print(a.count_flight_types())
print(a.count_passengers_per_flight_type())

defaultdict(<class 'int'>, {'Commercial': 2, 'Charter': 1})
defaultdict(<class 'int'>, {'Commercial': 4, 'Charter': 2})

In [466]:
a

In [467]:
def foo(a):
    pass