In [1]:
a = 10

In [3]:
print('a = ', a)

a =  10

In [4]:
b = a

In [6]:
a = 10
b = a
b = 20
print('value of a is ', a)

value of a is  10

In [7]:
c = a + b

In [8]:
print(c)

30

In [9]:
c = 100
print(a+b)

30

In [10]:
type(a)

int

In [11]:
a = 'emil'

In [12]:
print(a)

emil

In [13]:
type(a)

str

In [14]:
a = [10, 20]

In [15]:
print(a)

[10, 20]

In [19]:
a[1] + a[0]

30

In [20]:
b = a

In [1]:
c = 100
a = [10, 40, 70]
b = a
a = 50
c = b[0]
c + b

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [ ]:
def aitsum(x, y):
    return sum([x] + y)


aitsum(c, b)

TypeError: 'int' object is not iterable

In [5]:
[1]+ [2, 3, 5]

[1, 2, 3, 5]

In [6]:
a = [6, 7, 9, 8, 10]
print(a[2])

9

In [7]:
a[3] = 100
print(a)

[6, 7, 9, 100, 10]

In [10]:
a = [1, 2, 3]
b = a
c = b
a = [20]
print(a, b, c)

[20] [1, 2, 3] [1, 2, 3]

In [11]:
a + b + c

[20, 1, 2, 3, 1, 2, 3]

In [18]:
from random import shuffle

s = '''Абдралиев Белек Маратович
Абдуллаев Ийгилик Эльбурсович
Айтматов Байэл Бактыбекович
Асанбек уула Чынгыз
Асанов Искендер Асанович
Аскаров Арсен Анарбаевич
Байтемиров Искендер Бекмуратович
Баитиков Адел
Бакытбеков Роман Талантович
Бекбосунова Айша Болотовна
Бекенова Аяна
Бектемиров Ибрахимбек Максадбекович
Бердибаева Нурай Нурбековна
Болотбек уулу Эржан
Волгин Даниэль Максимович
Гулжигитов Дайырбек Мухаммедович
Джутанкеева Мээрим Тамерлановна
Душобаев Вилдан Гайратбекович
Жавдедова Назик Рустамовна
Жаныбекова Бегимай Жаныбековна
Жолдубаев Эмил Аресович
Жумаев Абдунур Нурбекович
Жыргалбек уулу Эрбол
Зиялиева Саадат Кадырбековна
Исмаилова Алтынай Нурбековна
Кадыракунова Аделя Эрнистовна
Канатбеков Ажо Канатбекович
Каримова Айбийке Азаматовна
Керимов Акбар Айбекович
Ким Жихён
Краснов Ильхан Даниярович
Кубанычбеков Эмир Арсланович
Курманова Бегайым Курмановна
Кусеинов Элдар Жээнбекович
Куттугалиева Зарылкан Бекболотовна
Кыдыкбекова Айпери Бахтияровна
Кыдыралиев Жанболот Тойчуевич
Маматалиев Нурболот 
Маматжанова Эленора Мирланбековна
Маматзундуев Бекбол Назбекович
Марсел
Надирбеков Абдусамат
Назарбаев Нурсултан Женишбекович
Нуралиева Асель Акжоловна
Омурбекова Мирана Азизбековна
Ормушов Темирлан Арстанбекович
Орунбаев Байжан Омурбекович
Рахматылло уулу Касымбек Сухрабович
Солтобеков Амин Бектурович
Сыдгали уулу Жаныбек
Таалайбеков Баястан Талайбекович
Тагаева Рахат Арапшаевна
Ташбай уулу Даниэл
Торокулов Айман Талайбекович
Хусанбаева Диляфруз Азимжоновна
Шукуралиев Нурдан Даниярович
Элчиев Ясир Жыргалбекович
Эркибаев Нурбек Алмазович
Калматов Азиз Кылычбекович
Жапаров Шердос 
Аширалиев Аман
Eldiyar
Asylkan
Kutman
Diaz
Shergazy
Akylbek Zamirov
'''
s = s.split('\n')
len(s)

68

In [19]:
shuffle(s)
for i, name in enumerate(s):
    print(i+1, name)

1 Жумаев Абдунур Нурбекович
2 Надирбеков Абдусамат
3 Нуралиева Асель Акжоловна
4 Маматжанова Эленора Мирланбековна
5 Тагаева Рахат Арапшаевна
6 Жапаров Шердос
7 Элчиев Ясир Жыргалбекович
8 Кадыракунова Аделя Эрнистовна
9 Марсел
10 Байтемиров Искендер Бекмуратович
11 Джутанкеева Мээрим Тамерлановна
12 Душобаев Вилдан Гайратбекович
13 Гулжигитов Дайырбек Мухаммедович
14 Asylkan
15 Омурбекова Мирана Азизбековна
16 Бакытбеков Роман Талантович
17 Akylbek Zamirov
18 Маматалиев Нурболот
19 Каримова Айбийке Азаматовна
20 Жолдубаев Эмил Аресович
21 Абдуллаев Ийгилик Эльбурсович
22 Бектемиров Ибрахимбек Максадбекович
23 Кыдыкбекова Айпери Бахтияровна
24 Краснов Ильхан Даниярович
25 Канатбеков Ажо Канатбекович
26 Жыргалбек уулу Эрбол
27 Аширалиев Аман
28 Ормушов Темирлан Арстанбекович
29 Kutman
30 Исмаилова Алтынай Нурбековна
31 Асанбек уула Чынгыз
32 Куттугалиева Зарылкан Бекболотовна
33 Shergazy
34 Шукуралиев Нурдан Даниярович
35 Маматзундуев Бекбол Назбекович
36 Волгин Даниэль Максимович
37 Сыдгали уулу Жаныбек
38 Хусанбаева Диляфруз Азимжоновна
39 Торокулов Айман Талайбекович
40 Ташбай уулу Даниэл
41 Бердибаева Нурай Нурбековна
42 Diaz
43 Жавдедова Назик Рустамовна
44 Кыдыралиев Жанболот Тойчуевич
45 Кубанычбеков Эмир Арсланович
46 Орунбаев Байжан Омурбекович
47 Таалайбеков Баястан Талайбекович
48 Айтматов Байэл Бактыбекович
49 Эркибаев Нурбек Алмазович
50 Назарбаев Нурсултан Женишбекович
51 Eldiyar
52 Ким Жихён
53 Баитиков Адел
54 Керимов Акбар Айбекович
55 Рахматылло уулу Касымбек Сухрабович
56 Кусеинов Элдар Жээнбекович
57 Калматов Азиз Кылычбекович
58 Болотбек уулу Эржан
59 Аскаров Арсен Анарбаевич
60 Курманова Бегайым Курмановна
61 Асанов Искендер Асанович
62 Зиялиева Саадат Кадырбековна
63 Бекенова Аяна
64 Солтобеков Амин Бектурович
65 Бекбосунова Айша Болотовна
66
67 Жаныбекова Бегимай Жаныбековна
68 Абдралиев Белек Маратович

In [ ]:
grade = 75

if grade > 50:
    print('you have passes this class')
    print('congrats')
    print('you dont need to take this class again')
else:

In [58]:
pogoda = input('How is the weather outside: ')
balance = 500

if pogoda == 'rainy':
    print('park ne idem')
    print('idem v kino, sotimost = 500')
    balance = balance - 500

elif pogoda == 'sunny':
    print('v kino ne idem')
    print('v kafe idem, sotimost = 900')
    balance = balance - 900

elif pogoda == 'cloudy':
    print('idem v park, stoimost = 250')
    print('v kino ne idem')
    print('v kafe ne idem')
    balance = balance - 250

else:
    print('doma sidi dengi ne trat')

print('kaldik = ', balance)

idem v park, stoimost = 250
v kino ne idem
v kafe ne idem
kaldik =  250

In [50]:
print(x, type(x))

25 <class 'str'>

In [51]:
y = int(x)
z = int(1.9999)

In [52]:
type(y), type(x), z, type(z)

(int, str, 1, int)

In [53]:
from math import floor, ceil
m = 1.99999
m_priblijonniy = round(m)
m_kichine = floor(m)
m_chon = ceil(m)

In [54]:
print(m, m_priblijonniy, m_kichine, m_chon)

1.99999 2 1 2

In [55]:
if int(x) == 25:
    print("tuura, x = ", x)
else:
    print('tuura emes, x = ', x)

tuura, x =  25

In [56]:
x1 = int(input('znachenie'))
print(type(x1), x1)

ValueError: invalid literal for int() with base 10: 'k'

In [63]:
nurbolot = 800
aibike = 1500
asel = 2000

mbank_kassa = nurbolot + aibike + asel

print('nurbolot =', nurbolot)
print('asel = ', asel)
print('aibike = ', aibike)
print('mbank_kassa = ', mbank_kassa)

nurbolot = 800
asel =  2000
aibike =  1500
mbank_kassa =  4300

In [68]:
summa_perevod = int(input('summa perevoda:'))

if 0 <= summa_perevod <= aibike:
    aibike = aibike - summa_perevod
    nurbolot = nurbolot + summa_perevod
else:
    print('ne dostachno sredstv')

mbank_kassa = nurbolot + aibike + asel

print('nurbolot =', nurbolot)
print('asel = ', asel)
print('aibike = ', aibike)
print('mbank_kassa = ', mbank_kassa)

ValueError: invalid literal for int() with base 10: 'emil'

In [65]:
from random import randint
for i in range(2):
    print(randint(1, 63))

21
19

In [ ]:
pogoda = 'sunny'
pogoda == 'sunny'

True

In [75]:
x = 10 
y = 25

if x*x - x*y + x*x*x/2 > y*y:
    print('correct')
else:
    print('incorrect')

incorrect

In [76]:
x*x - x*y + x*x*x/2 > y*y

False

In [77]:
True and True

True

In [78]:
True and False

False

In [79]:
False and True

False

In [80]:
False and False

False

In [81]:
True or True

True

In [82]:
True or False

True

In [83]:
False or True

True

In [84]:
False or False

False

In [88]:
((True and True) or False and True) and (False or True) and True

True

In [89]:
x = input('weather type')

if x == 'sunny':
    print('cafe')
elif x == 'cloudy':
    print('kino')
elif x == 'rainy':
    print('home')
else:
    print('pofig')


if x == 'sunny':
    print('cafe2')
if x == 'cloudy':
    print('kino2')
if x == 'rainy':
    print('home2')
else:
    print('pofig2')

kino
kino2
pofig2