In [1]:
a = 10

In [3]:
print('a = ', a)

a =  10

In [4]:
b = a

In [6]:
a = 10
b = a
b = 20
print('value of a is ', a)

value of a is  10

In [7]:
c = a + b

In [8]:
print(c)

30

In [9]:
c = 100
print(a+b)

30

In [10]:
type(a)

int

In [11]:
a = 'emil'

In [12]:
print(a)

emil

In [13]:
type(a)

str

In [14]:
a = [10, 20]

In [15]:
print(a)

[10, 20]

In [19]:
a[1] + a[0]

30

In [20]:
b = a

In [1]:
c = 100
a = [10, 40, 70]
b = a
a = 50
c = b[0]
c + b

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [ ]:
def aitsum(x, y):
    return sum([x] + y)


aitsum(c, b)

TypeError: 'int' object is not iterable

In [5]:
[1]+ [2, 3, 5]

[1, 2, 3, 5]

In [6]:
a = [6, 7, 9, 8, 10]
print(a[2])

9

In [7]:
a[3] = 100
print(a)

[6, 7, 9, 100, 10]

In [10]:
a = [1, 2, 3]
b = a
c = b
a = [20]
print(a, b, c)

[20] [1, 2, 3] [1, 2, 3]

In [11]:
a + b + c

[20, 1, 2, 3, 1, 2, 3]

In [53]:
from random import shuffle

s = '''Абдралиев Белек Маратович
Абдуллаев Ийгилик Эльбурсович
Айтматов Байэл Бактыбекович
Асанбек уула Чынгыз
Асанов Искендер Асанович
Аскаров Арсен Анарбаевич
Байтемиров Искендер Бекмуратович
Баитиков Адел
Бакытбеков Роман Талантович
Бекбосунова Айша Болотовна
Бекенова Аяна
Бектемиров Ибрахимбек Максадбекович
Бердибаева Нурай Нурбековна
Болотбек уулу Эржан
Волгин Даниэль Максимович
Гулжигитов Дайырбек Мухаммедович
Джутанкеева Мээрим Тамерлановна
Душобаев Вилдан Гайратбекович
Жавдедова Назик Рустамовна
Жаныбекова Бегимай Жаныбековна
Жолдубаев Эмил Аресович
Жумаев Абдунур Нурбекович
Жыргалбек уулу Эрбол
Зиялиева Саадат Кадырбековна
Исмаилова Алтынай Нурбековна
Кадыракунова Аделя Эрнистовна
Канатбеков Ажо Канатбекович
Каримова Айбийке Азаматовна
Керимов Акбар Айбекович
Ким Жихён
Краснов Ильхан Даниярович
Кубанычбеков Эмир Арсланович
Курманова Бегайым Курмановна
Кусеинов Элдар Жээнбекович
Куттугалиева Зарылкан Бекболотовна
Кыдыкбекова Айпери Бахтияровна
Кыдыралиев Жанболот Тойчуевич
Маматалиев Нурболот 
Маматжанова Эленора Мирланбековна
Маматзундуев Бекбол Назбекович
Марсел
Надирбеков Абдусамат
Назарбаев Нурсултан Женишбекович
Нуралиева Асель Акжоловна
Омурбекова Мирана Азизбековна
Ормушов Темирлан Арстанбекович
Орунбаев Байжан Омурбекович
Рахматылло уулу Касымбек Сухрабович
Солтобеков Амин Бектурович
Сыдгали уулу Жаныбек
Таалайбеков Баястан Талайбекович
Тагаева Рахат Арапшаевна
Ташбай уулу Даниэл
Торокулов Айман Талайбекович
Хусанбаева Диляфруз Азимжоновна
Шукуралиев Нурдан Даниярович
Элчиев Ясир Жыргалбекович
Эркибаев Нурбек Алмазович
Калматов Азиз Кылычбекович
Жапаров Шердос 
Аширалиев Аман
Eldiyar
Asylkan
Kutman
Diaz
Shergazy
Akylbek Zamirov
'''
s = s.split('\n')
len(s)

68

In [19]:
shuffle(s)
for i, name in enumerate(s):
    print(i+1, name)

1 Жумаев Абдунур Нурбекович
2 Надирбеков Абдусамат
3 Нуралиева Асель Акжоловна
4 Маматжанова Эленора Мирланбековна
5 Тагаева Рахат Арапшаевна
6 Жапаров Шердос
7 Элчиев Ясир Жыргалбекович
8 Кадыракунова Аделя Эрнистовна
9 Марсел
10 Байтемиров Искендер Бекмуратович
11 Джутанкеева Мээрим Тамерлановна
12 Душобаев Вилдан Гайратбекович
13 Гулжигитов Дайырбек Мухаммедович
14 Asylkan
15 Омурбекова Мирана Азизбековна
16 Бакытбеков Роман Талантович
17 Akylbek Zamirov
18 Маматалиев Нурболот
19 Каримова Айбийке Азаматовна
20 Жолдубаев Эмил Аресович
21 Абдуллаев Ийгилик Эльбурсович
22 Бектемиров Ибрахимбек Максадбекович
23 Кыдыкбекова Айпери Бахтияровна
24 Краснов Ильхан Даниярович
25 Канатбеков Ажо Канатбекович
26 Жыргалбек уулу Эрбол
27 Аширалиев Аман
28 Ормушов Темирлан Арстанбекович
29 Kutman
30 Исмаилова Алтынай Нурбековна
31 Асанбек уула Чынгыз
32 Куттугалиева Зарылкан Бекболотовна
33 Shergazy
34 Шукуралиев Нурдан Даниярович
35 Маматзундуев Бекбол Назбекович
36 Волгин Даниэль Максимович
37 Сыдгали уулу Жаныбек
38 Хусанбаева Диляфруз Азимжоновна
39 Торокулов Айман Талайбекович
40 Ташбай уулу Даниэл
41 Бердибаева Нурай Нурбековна
42 Diaz
43 Жавдедова Назик Рустамовна
44 Кыдыралиев Жанболот Тойчуевич
45 Кубанычбеков Эмир Арсланович
46 Орунбаев Байжан Омурбекович
47 Таалайбеков Баястан Талайбекович
48 Айтматов Байэл Бактыбекович
49 Эркибаев Нурбек Алмазович
50 Назарбаев Нурсултан Женишбекович
51 Eldiyar
52 Ким Жихён
53 Баитиков Адел
54 Керимов Акбар Айбекович
55 Рахматылло уулу Касымбек Сухрабович
56 Кусеинов Элдар Жээнбекович
57 Калматов Азиз Кылычбекович
58 Болотбек уулу Эржан
59 Аскаров Арсен Анарбаевич
60 Курманова Бегайым Курмановна
61 Асанов Искендер Асанович
62 Зиялиева Саадат Кадырбековна
63 Бекенова Аяна
64 Солтобеков Амин Бектурович
65 Бекбосунова Айша Болотовна
66
67 Жаныбекова Бегимай Жаныбековна
68 Абдралиев Белек Маратович

In [ ]:
grade = 75

if grade > 50:
    print('you have passes this class')
    print('congrats')
    print('you dont need to take this class again')
else:

In [58]:
pogoda = input('How is the weather outside: ')
balance = 500

if pogoda == 'rainy':
    print('park ne idem')
    print('idem v kino, sotimost = 500')
    balance = balance - 500

elif pogoda == 'sunny':
    print('v kino ne idem')
    print('v kafe idem, sotimost = 900')
    balance = balance - 900

elif pogoda == 'cloudy':
    print('idem v park, stoimost = 250')
    print('v kino ne idem')
    print('v kafe ne idem')
    balance = balance - 250

else:
    print('doma sidi dengi ne trat')

print('kaldik = ', balance)

idem v park, stoimost = 250
v kino ne idem
v kafe ne idem
kaldik =  250

In [50]:
print(x, type(x))

25 <class 'str'>

In [51]:
y = int(x)
z = int(1.9999)

In [52]:
type(y), type(x), z, type(z)

(int, str, 1, int)

In [53]:
from math import floor, ceil
m = 1.99999
m_priblijonniy = round(m)
m_kichine = floor(m)
m_chon = ceil(m)

In [54]:
print(m, m_priblijonniy, m_kichine, m_chon)

1.99999 2 1 2

In [55]:
if int(x) == 25:
    print("tuura, x = ", x)
else:
    print('tuura emes, x = ', x)

tuura, x =  25

In [56]:
x1 = int(input('znachenie'))
print(type(x1), x1)

ValueError: invalid literal for int() with base 10: 'k'

In [63]:
nurbolot = 800
aibike = 1500
asel = 2000

mbank_kassa = nurbolot + aibike + asel

print('nurbolot =', nurbolot)
print('asel = ', asel)
print('aibike = ', aibike)
print('mbank_kassa = ', mbank_kassa)

nurbolot = 800
asel =  2000
aibike =  1500
mbank_kassa =  4300

In [68]:
summa_perevod = int(input('summa perevoda:'))

if 0 <= summa_perevod <= aibike:
    aibike = aibike - summa_perevod
    nurbolot = nurbolot + summa_perevod
else:
    print('ne dostachno sredstv')

mbank_kassa = nurbolot + aibike + asel

print('nurbolot =', nurbolot)
print('asel = ', asel)
print('aibike = ', aibike)
print('mbank_kassa = ', mbank_kassa)

ValueError: invalid literal for int() with base 10: 'emil'

In [7]:
from random import randint
for i in range(4):
    print(randint(1, 63))

29
58
14
61

In [ ]:
pogoda = 'sunny'
pogoda == 'sunny'

True

In [75]:
x = 10 
y = 25

if x*x - x*y + x*x*x/2 > y*y:
    print('correct')
else:
    print('incorrect')

incorrect

In [76]:
x*x - x*y + x*x*x/2 > y*y

False

In [77]:
True and True

True

In [78]:
True and False

False

In [79]:
False and True

False

In [80]:
False and False

False

In [81]:
True or True

True

In [82]:
True or False

True

In [83]:
False or True

True

In [84]:
False or False

False

In [88]:
((True and True) or False and True) and (False or True) and True

True

In [89]:
x = input('weather type')

if x == 'sunny':
    print('cafe')
elif x == 'cloudy':
    print('kino')
elif x == 'rainy':
    print('home')
else:
    print('pofig')


if x == 'sunny':
    print('cafe2')
if x == 'cloudy':
    print('kino2')
if x == 'rainy':
    print('home2')
else:
    print('pofig2')

kino
kino2
pofig2

In [ ]:
from random import randint
grades = [randint(50, 100) for i in range(14)]
print(grades)
s = sorted(grades)
print(s)
top_12 = s[-12:]
print(top_12)
s = sum(top_12)
print(s)
print(len(top_12))
avg = s // len(top_12)

[54, 88, 69, 85, 98, 86, 100, 88, 71, 76, 53, 82, 64, 59]
[53, 54, 59, 64, 69, 71, 76, 82, 85, 86, 88, 88, 98, 100]
[59, 64, 69, 71, 76, 82, 85, 86, 88, 88, 98, 100]
966
12

In [10]:
print('score = ', avg)
if avg < 0 or avg > 100:
    print('error in grading')
elif avg >= 93:
    print('grade = A')
elif avg >= 90:
    print('grade = B+')
elif avg >= 87:
    print('grade = B')
elif avg >= 84:
    print('grade = B-')
elif avg >= 81:
    print('grade = C+')
elif avg >= 78:
    print('grade = C')
elif avg >= 75:
    print('grade = C-')
elif avg >= 72:
    print('grade = D+')
elif avg >= 69:
    print('grade = D')
elif avg >= 66:
    print('grade = D-')
elif avg >= 63:
    print('grade = F')
else:
    print('Failed the class')

score =  80
grade = C

In [11]:
10 / 3

3.3333333333333335

In [12]:
10 // 3

3

In [13]:
s = 'emil'
print(len(s))

4

In [14]:
s = 'Emil'
b = 'AIT'
print(s + b)

EmilAIT

In [15]:
print(s + ' ' + b)

Emil AIT

In [16]:
f'{s} {b}'

'Emil AIT'

In [20]:
f"{s+b < b}"

'False'

In [19]:
"{s+b} <-> {b}"

'{s+b} <-> {b}'

In [21]:
ord('A'), ord('e')

(65, 101)

In [ ]:
'aaaazzz' < 'aazaaa'

True

In [29]:
[2, 0, 1, 4] < [0, 0, 3, 0]

False

In [30]:
[2, 0, 1, 4] < [3, 0]

True

In [32]:
ord('a'), ord('b'), ord('A'), ord('B')

(97, 98, 65, 66)

In [33]:
b = [1, 2, 3, 4]
print(b)
b[2] = 100
print(b)

[1, 2, 3, 4]
[1, 2, 100, 4]

In [34]:
x = 'emil'
print(x)
x[2] = 'X'
print(x)

emil

TypeError: 'str' object does not support item assignment

In [35]:
def imya():
    pass

In [36]:
def raznitsa(x, y):
    return x - y

In [37]:
raznitsa(10, 20)

-10

In [46]:
def sredniy(grades):
    s = sorted(grades)
    top_12 = s[-12:]
    s = sum(top_12)
    avg = s // len(top_12)
    return avg

In [61]:
def letter_grade(avg):
    print('score = ', avg)
    if avg < 0 or avg > 100:
        return 'error in grading'
    elif avg >= 93:
        return 'grade = A'
    elif avg >= 90:
        return 'grade = B+'
    elif avg >= 87:
        return 'grade = B'
    elif avg >= 84:
        return 'grade = B-'
    elif avg >= 81:
        return 'grade = C+'
    elif avg >= 78:
        return 'grade = C'
    elif avg >= 75:
        return 'grade = C-'
    elif avg >= 72:
        return 'grade = D+'
    elif avg >= 69:
        return 'grade = D'
    elif avg >= 66:
        return 'grade = D-'
    elif avg >= 63:
        return 'grade = F'
    else:
        return 'Failed the class'

In [50]:
grades = [100, 100, 50, 75, 25, 100, 100, 100, 50]
print(sredniy(grades))
print(letter_grade(sredniy(grades)))

77
score =  77
grade = C-
None

In [51]:
def f(x):
    return x*x*x

print(f(10))

1000

In [52]:
avg = sredniy(grades)
letter = letter_grade(avg)
print(letter)

score =  77
grade = C-
None

In [59]:
from csv import writer
x = []
with open('grades.csv', 'w', encoding='utf-8') as fid:
    file = writer(fid)
    for name in s:
        grades = [randint(0, 100) for i in range(10)]
        x.append([name] + grades)
        file.writerow([name] + grades)

In [60]:
x

[['Абдралиев Белек Маратович', 60, 100, 31, 44, 88, 0, 64, 2, 97, 13],
 ['Абдуллаев Ийгилик Эльбурсович', 93, 74, 66, 32, 13, 61, 88, 48, 62, 25],
 ['Айтматов Байэл Бактыбекович', 42, 42, 42, 21, 78, 12, 12, 52, 21, 28],
 ['Асанбек уула Чынгыз', 27, 67, 17, 47, 86, 20, 8, 81, 87, 21],
 ['Асанов Искендер Асанович', 98, 75, 15, 17, 25, 6, 41, 21, 23, 38],
 ['Аскаров Арсен Анарбаевич', 76, 60, 65, 90, 97, 98, 21, 67, 44, 48],
 ['Байтемиров Искендер Бекмуратович', 96, 23, 6, 56, 94, 63, 85, 79, 30, 47],
 ['Баитиков Адел', 53, 73, 92, 80, 52, 93, 72, 95, 23, 98],
 ['Бакытбеков Роман Талантович', 56, 78, 73, 14, 40, 12, 56, 4, 66, 13],
 ['Бекбосунова Айша Болотовна', 79, 88, 39, 39, 94, 43, 48, 49, 30, 88],
 ['Бекенова Аяна', 35, 4, 77, 82, 65, 18, 8, 31, 73, 91],
 ['Бектемиров Ибрахимбек Максадбекович', 98, 81, 14, 22, 62, 8, 78, 5, 58, 95],
 ['Бердибаева Нурай Нурбековна', 63, 99, 84, 55, 87, 23, 100, 39, 56, 52],
 ['Болотбек уулу Эржан', 61, 29, 50, 85, 47, 77, 77, 70, 11, 64],
 ['Волгин Даниэль Максимович', 6, 6, 93, 97, 41, 73, 24, 19, 4, 10],
 ['Гулжигитов Дайырбек Мухаммедович', 73, 67, 16, 35, 70, 93, 7, 77, 72, 4],
 ['Джутанкеева Мээрим Тамерлановна', 76, 83, 22, 14, 88, 24, 26, 17, 2, 83],
 ['Душобаев Вилдан Гайратбекович', 97, 27, 73, 29, 60, 50, 43, 82, 93, 36],
 ['Жавдедова Назик Рустамовна', 15, 73, 0, 78, 19, 90, 67, 94, 61, 60],
 ['Жаныбекова Бегимай Жаныбековна', 5, 45, 42, 70, 74, 94, 16, 43, 38, 87],
 ['Жолдубаев Эмил Аресович', 91, 38, 87, 30, 67, 81, 78, 69, 61, 20],
 ['Жумаев Абдунур Нурбекович', 34, 20, 46, 58, 52, 21, 84, 42, 100, 18],
 ['Жыргалбек уулу Эрбол', 88, 24, 47, 96, 5, 63, 14, 61, 64, 87],
 ['Зиялиева Саадат Кадырбековна', 68, 49, 62, 98, 94, 55, 71, 26, 68, 92],
 ['Исмаилова Алтынай Нурбековна', 49, 90, 91, 44, 31, 60, 86, 89, 75, 54],
 ['Кадыракунова Аделя Эрнистовна', 23, 59, 5, 5, 90, 8, 37, 41, 19, 69],
 ['Канатбеков Ажо Канатбекович', 63, 29, 30, 71, 63, 69, 72, 28, 61, 66],
 ['Каримова Айбийке Азаматовна', 89, 29, 18, 23, 71, 91, 100, 17, 57, 57],
 ['Керимов Акбар Айбекович', 81, 97, 85, 82, 55, 9, 57, 62, 100, 77],
 ['Ким Жихён', 7, 10, 35, 17, 37, 53, 73, 61, 42, 24],
 ['Краснов Ильхан Даниярович', 99, 33, 66, 49, 82, 23, 51, 64, 43, 53],
 ['Кубанычбеков Эмир Арсланович', 88, 43, 26, 30, 20, 3, 40, 60, 51, 49],
 ['Курманова Бегайым Курмановна', 50, 3, 23, 98, 42, 84, 90, 73, 23, 10],
 ['Кусеинов Элдар Жээнбекович', 92, 95, 89, 93, 45, 19, 77, 0, 87, 43],
 ['Куттугалиева Зарылкан Бекболотовна', 78, 52, 5, 18, 98, 33, 38, 63, 97, 23],
 ['Кыдыкбекова Айпери Бахтияровна', 44, 3, 76, 33, 81, 75, 75, 40, 37, 52],
 ['Кыдыралиев Жанболот Тойчуевич', 69, 94, 67, 15, 93, 83, 54, 12, 87, 21],
 ['Маматалиев Нурболот ', 15, 92, 17, 60, 37, 40, 100, 72, 18, 98],
 ['Маматжанова Эленора Мирланбековна', 32, 55, 41, 57, 80, 44, 41, 27, 1, 69],
 ['Маматзундуев Бекбол Назбекович', 70, 56, 18, 24, 40, 27, 73, 25, 32, 53],
 ['Марсел', 64, 61, 2, 89, 89, 15, 32, 20, 35, 14],
 ['Надирбеков Абдусамат', 50, 25, 94, 0, 78, 29, 65, 68, 12, 80],
 ['Назарбаев Нурсултан Женишбекович', 19, 82, 0, 98, 48, 70, 82, 58, 63, 25],
 ['Нуралиева Асель Акжоловна', 74, 16, 86, 12, 5, 78, 67, 87, 69, 85],
 ['Омурбекова Мирана Азизбековна', 2, 22, 37, 94, 80, 24, 8, 30, 46, 64],
 ['Ормушов Темирлан Арстанбекович', 37, 60, 90, 53, 56, 77, 9, 24, 27, 64],
 ['Орунбаев Байжан Омурбекович', 97, 23, 82, 12, 98, 76, 66, 75, 96, 54],
 ['Рахматылло уулу Касымбек Сухрабович',
  39,
  74,
  85,
  46,
  51,
  52,
  32,
  56,
  72,
  5],
 ['Солтобеков Амин Бектурович', 53, 1, 62, 90, 98, 55, 0, 29, 12, 38],
 ['Сыдгали уулу Жаныбек', 8, 67, 3, 44, 37, 80, 8, 65, 45, 90],
 ['Таалайбеков Баястан Талайбекович', 81, 49, 79, 26, 34, 51, 88, 75, 32, 7],
 ['Тагаева Рахат Арапшаевна', 88, 95, 69, 71, 68, 1, 49, 54, 2, 48],
 ['Ташбай уулу Даниэл', 69, 66, 49, 71, 70, 22, 99, 59, 8, 30],
 ['Торокулов Айман Талайбекович', 37, 72, 75, 9, 0, 95, 88, 72, 99, 52],
 ['Хусанбаева Диляфруз Азимжоновна', 5, 65, 37, 56, 91, 32, 65, 5, 87, 79],
 ['Шукуралиев Нурдан Даниярович', 20, 78, 3, 43, 9, 80, 60, 23, 23, 3],
 ['Элчиев Ясир Жыргалбекович', 85, 87, 61, 77, 88, 5, 95, 3, 71, 35],
 ['Эркибаев Нурбек Алмазович', 2, 50, 80, 9, 17, 90, 38, 28, 85, 28],
 ['Калматов Азиз Кылычбекович', 43, 62, 91, 21, 22, 60, 48, 1, 49, 16],
 ['Жапаров Шердос\xa0', 22, 86, 65, 18, 100, 73, 74, 15, 16, 62],
 ['Аширалиев\xa0Аман', 91, 49, 95, 15, 22, 41, 12, 64, 35, 36],
 ['Eldiyar', 11, 75, 21, 42, 97, 33, 98, 47, 45, 99],
 ['Asylkan', 22, 11, 14, 95, 23, 20, 6, 85, 15, 98],
 ['Kutman', 87, 38, 86, 84, 51, 95, 2, 51, 81, 3],
 ['Diaz', 74, 43, 76, 70, 10, 9, 91, 88, 16, 70],
 ['Shergazy', 78, 1, 90, 37, 35, 53, 4, 81, 63, 38],
 ['Akylbek\xa0Zamirov', 97, 29, 58, 46, 89, 39, 97, 86, 61, 96],
 ['', 96, 86, 61, 63, 14, 37, 26, 86, 39, 11]]

In [62]:
for i in x:
    avg = sredniy(i[1:])
    letter = letter_grade(avg)
    print(i[0], letter)

score =  49
Абдралиев Белек Маратович Failed the class
score =  56
Абдуллаев Ийгилик Эльбурсович Failed the class
score =  35
Айтматов Байэл Бактыбекович Failed the class
score =  46
Асанбек уула Чынгыз Failed the class
score =  35
Асанов Искендер Асанович Failed the class
score =  66
Аскаров Арсен Анарбаевич grade = D-
score =  57
Байтемиров Искендер Бекмуратович Failed the class
score =  73
Баитиков Адел grade = D+
score =  41
Бакытбеков Роман Талантович Failed the class
score =  59
Бекбосунова Айша Болотовна Failed the class
score =  48
Бекенова Аяна Failed the class
score =  52
Бектемиров Ибрахимбек Максадбекович Failed the class
score =  65
Бердибаева Нурай Нурбековна grade = F
score =  57
Болотбек уулу Эржан Failed the class
score =  37
Волгин Даниэль Максимович Failed the class
score =  51
Гулжигитов Дайырбек Мухаммедович Failed the class
score =  43
Джутанкеева Мээрим Тамерлановна Failed the class
score =  59
Душобаев Вилдан Гайратбекович Failed the class
score =  55
Жавдедова Назик Рустамовна Failed the class
score =  51
Жаныбекова Бегимай Жаныбековна Failed the class
score =  62
Жолдубаев Эмил Аресович Failed the class
score =  47
Жумаев Абдунур Нурбекович Failed the class
score =  54
Жыргалбек уулу Эрбол Failed the class
score =  68
Зиялиева Саадат Кадырбековна grade = D-
score =  66
Исмаилова Алтынай Нурбековна grade = D-
score =  35
Кадыракунова Аделя Эрнистовна Failed the class
score =  55
Канатбеков Ажо Канатбекович Failed the class
score =  55
Каримова Айбийке Азаматовна Failed the class
score =  70
Керимов Акбар Айбекович grade = D
score =  35
Ким Жихён Failed the class
score =  56
Краснов Ильхан Даниярович Failed the class
score =  41
Кубанычбеков Эмир Арсланович Failed the class
score =  49
Курманова Бегайым Курмановна Failed the class
score =  64
Кусеинов Элдар Жээнбекович grade = F
score =  50
Куттугалиева Зарылкан Бекболотовна Failed the class
score =  51
Кыдыкбекова Айпери Бахтияровна Failed the class
score =  59
Кыдыралиев Жанболот Тойчуевич Failed the class
score =  54
Маматалиев Нурболот  Failed the class
score =  44
Маматжанова Эленора Мирланбековна Failed the class
score =  41
Маматзундуев Бекбол Назбекович Failed the class
score =  42
Марсел Failed the class
score =  50
Надирбеков Абдусамат Failed the class
score =  54
Назарбаев Нурсултан Женишбекович Failed the class
score =  57
Нуралиева Асель Акжоловна Failed the class
score =  40
Омурбекова Мирана Азизбековна Failed the class
score =  49
Ормушов Темирлан Арстанбекович Failed the class
score =  67
Орунбаев Байжан Омурбекович grade = D-
score =  51
Рахматылло уулу Касымбек Сухрабович Failed the class
score =  43
Солтобеков Амин Бектурович Failed the class
score =  44
Сыдгали уулу Жаныбек Failed the class
score =  52
Таалайбеков Баястан Талайбекович Failed the class
score =  54
Тагаева Рахат Арапшаевна Failed the class
score =  54
Ташбай уулу Даниэл Failed the class
score =  59
Торокулов Айман Талайбекович Failed the class
score =  52
Хусанбаева Диляфруз Азимжоновна Failed the class
score =  34
Шукуралиев Нурдан Даниярович Failed the class
score =  60
Элчиев Ясир Жыргалбекович Failed the class
score =  42
Эркибаев Нурбек Алмазович Failed the class
score =  41
Калматов Азиз Кылычбекович Failed the class
score =  53
Жапаров Шердос  Failed the class
score =  46
Аширалиев Аман Failed the class
score =  56
Eldiyar Failed the class
score =  38
Asylkan Failed the class
score =  57
Kutman Failed the class
score =  54
Diaz Failed the class
score =  48
Shergazy Failed the class
score =  69
Akylbek Zamirov grade = D
score =  51
 Failed the class

In [63]:
a = [1, 2, 4, 6, 9, 0]

In [65]:
a[2:4]

[4, 6]

In [66]:
a[-2:]

[9, 0]

In [67]:
a

[1, 2, 4, 6, 9, 0]

In [68]:
a[1:]

[2, 4, 6, 9, 0]

In [69]:
a[:4]

[1, 2, 4, 6]

In [70]:
a

[1, 2, 4, 6, 9, 0]

In [73]:
sorted(a), sorted(a, reverse=True)

([0, 1, 2, 4, 6, 9], [9, 6, 4, 2, 1, 0])

In [77]:
a.sort(reverse=True)

In [78]:
a

[9, 6, 4, 2, 1, 0]

In [82]:
s = 'emil'
str.join(sorted(s))

TypeError: descriptor 'join' for 'str' objects doesn't apply to a 'list' object

In [83]:
# slicing

a[:1]
a[1:]
a[1:3]
a[-2:]

[1, 0]

In [88]:
def f1(a, b, c = 5):
    return a + b + c

In [89]:
f1(1, 5, 9)

15

In [90]:
f1(4, 10)

19

In [1]:
j = [1, 4, 9, 10, 20]

for a in j:
    print(a, a*a, a**5, a**0.5)

1 1 1 1.0
4 16 1024 2.0
9 81 59049 3.0
10 100 100000 3.1622776601683795
20 400 3200000 4.47213595499958

In [ ]:
#

1. (10) Дан код: a = [2, 4, 6]; b = a; a = a + [8]. Что окажется в a и b?
2. (25) Реализуйте мини-«оценивание»: по среднему баллу avg выведите "A" (90+), "B" (80–89), "C" (70–79), иначе "Failed".
3. (10) Для строки s = 'AIT PL' выведите её длину, а также первый и последний символ
4. (20) Напишите функцию, которая принимает массив a=[“emil”, “ait”, “university”] слов и возвращает список их длин (result = [4, 3, 10])
5. (20) Для функции
def add(a, b, c=10): 
return a + b + c 
объясните роль параметра по умолчанию
что выводит следующие add(9, 4, 30)
что выводит следующие add(9, 4)
6. (15) Для массива arr = [4, 2, 1, 6, 8, 9, 10], что выводит следующие:
arr[:2]
arr[2:]
arr[2:3]
Arr[-3:]

In [3]:
# 1. Дан код: a = [2, 4, 6]; b = a; a = a + [8]. Что окажется в a и b?

a = [2, 4, 6]
b = a
a = a + [8, 10, 20]
print(a)
print(b)

[2, 4, 6, 8, 10, 20]
[2, 4, 6]

In [5]:
# 2. Реализуйте мини-«оценивание»: по среднему баллу avg выведите 
# "A" (90+), "B" (80–89), "C" (70–79), иначе "Failed".

def score(avg):
    if avg >= 90:
        return "A"
    elif avg >= 80:
        return "B"
    elif avg >= 70:
        a = 10
        print("nachalo")
        return "C"
        print("vse")
        a = 10
    else:
        return "fig znaet"


print(90, score(90))
print(85, score(85))
print(60, score(60))
print(75, score(75))

90 A
85 B
60 fig znaet
nachalo
75 C

In [9]:
#3. Для строки s = 'AIT PL' выведите её длину, а также первый и 
# последний символ
s = 'AIT PL'
print(len(s), s[0], s[-1], s[len(s)-1])
print(s[len(s)-1])

6 A L L
L

In [ ]:
#4. Напишите функцию, которая принимает массив 
# a=[“emil”, “ait”, “university”] слов и возвращает список их длин (result = [4, 3, 10])

def length1(arr):
    return [len(i) for i in arr]

def length2(arr):
    for i in arr:
        print(len(i))

def length3(s):
    result = []
    for i in s:
        result.append(len(i))
    return result

def length4(s):
    result = []
    for i in s:
        result = result + [len(i)]
    return result

a=["emil", "ait", "university"]
print(length1(a))
length2(a)
print(length3(a))
print(length4(a))

# max(var1 , var2)

[4, 3, 10]
4
3
10
[4, 3, 10]
[4, 3, 10]

In [22]:
# 6. Для массива 
arr = [4, 2, 1, 6, 8, 9, 10]
#что выводит следующие:
print(arr[:2]) # 4, 2
print(arr[2:]) # 1, 6, 8, 9, 10
print(arr[2:3]) # 1 (1, 6 -> -5%)
print(arr[-3:]) # 8, 9, 10
print(arr[-10:]) # index out of range => arr[-7:] arr[max(-len(arr), -10) : ]
print(arr[max(-len(arr), -10) : ]) 

print(arr[30:35])

[4, 2]
[1, 6, 8, 9, 10]
[1]
[8, 9, 10]
[4, 2, 1, 6, 8, 9, 10]
[4, 2, 1, 6, 8, 9, 10]
[]

In [17]:
#5. Для функции
# def add(a, b, c=10): 
# return a + b + c 
# объясните роль параметра по умолчанию
# что выводит следующие add(9, 4, 30)
# что выводит следующие add(9, 4)
def add(a, b, c=10): 
    # add(9, 4, 30) -> a = 9, b=4, c = 30 => 43
    # add(9, 4) -> a = 9, b = 4, c = 10 => 23
    return a + b + c 

print('add(9, 4, 30): ', add(9, 4, 30))
print('add(9, 4): ', add(9, 4))

add(9, 4, 30):  43
add(9, 4):  23

1. (20) Оцените (False or True) and (True and False) and (True or False and False). 
2. (0) Сравните / и //. На  пример 10/3 и 10//3. Объясните разницу.
3. (20) Для a = [10, 20]; b = a; a = 50 — что в b? Почему?
4. (30) Напишите программу, которая посчитает сумму, минимум и максимум списка 
arr = [4, 5, 9, 10, 12, 3]
5. (15) Как вычислить количество элементов в списке
6. (15) Напишите программу, которая выводит последние три элемента в массиве.

In [24]:
#1. Оцените (False or True) and (True and False) and (True or False and False). 

(False or True) and (True and False) and (True or False and False)

False

In [25]:
# 2. Сравните / и //. На  пример 10/3 и 10//3. Объясните разницу.

print(10/3, 10//3, int(10/3))

3.3333333333333335 3 3

In [28]:
#3. Для a = [10, 20]; b = a; a = 50 — что в b? Почему?

a = [10, 20]
b = a
a = 50

print(b)  # [10, 20]

[10, 20]

In [32]:
#4. Напишите программу, которая посчитает сумму, минимум и максимум списка 

def mysum(arr):
    s = 0
    min = arr[0]
    max = arr[0]
    for i in arr:
        s += i
        if min > i:
            min = i
        if max < i:
            max = i
    return s, max, min

def mysum2(arr):
    s = 0
    for i in arr:
        s = s + i
    return s

def min(arr):
    return sorted(arr)[0]

def max(arr):
    return sorted(arr)[-1]

def minmax(arr):
    arr.sort()
    return arr[0], arr[-1]
    
arr = [9, 1, 0, 8, 2, 0, -1]

print(mysum(arr))
print(mysum2(arr))
print(min(arr))
print(max(arr))
print(minmax(arr))

(19, 9, -1)
19
-1
9
(-1, 9)

In [30]:
arr = [4, 9, 0, -1, 2]

sorted(arr)[0]

-1

In [31]:
arr.sort()[-1]

TypeError: 'NoneType' object is not subscriptable

In [33]:
# 5. Как вычислить количество элементов в списке

arr = [4, 9, 0, 1]
print(len(arr))

4

In [34]:
# 6. Напишите программу, которая выводит последние три элемента в массиве.
arr = [4, 2,1, 3, 6]
print(arr[-3:])

[1, 3, 6]

In [50]:
arr = [1, 2, 3]

a, b, c = arr

In [37]:
a, c, b

(1, 3, 2)

In [44]:
def minmax(arr):
    min = arr[0]
    max = arr[0]
    for i in arr:
        if min > i:
           min = i
        if max < i:
            max = i
    return min, max

In [48]:
arr = [1, 2, 3]
x, y, c = minmax(arr)
print(x)
print(y)

ValueError: not enough values to unpack (expected 3, got 2)

In [5]:
def mymin(arr):
    min = float('inf')
    for i in arr:
        if min > i:
            min = i
    return min

def mymax(arr):
    max = float('-inf')
    for i in arr:
        if max < i:
            max = i
    return max

def mysum(arr):
    sum = 0
    for i in arr:
        sum += i # sum = sum + i
    return sum


def minmaxsum(arr):
    return mymin(arr), mymax(arr), mysum(arr)

def minmaxsum2(arr):
    min = mymin(arr)
    max = mymax(arr)
    sum = mysum(arr)
    return min, max, sum


arr = [9, 8, 1, 0, 2]
print(minmaxsum(arr))
print(minmaxsum2(arr))

(0, 9, 20)
(0, 9, 20)

In [6]:
arr = []
print(minmaxsum(arr))

(inf, -inf, 0)

In [1]:
arr = [1, 9, 4, 10, 0]
min(arr)

0

In [8]:
arr = [1, 29, -1, 0]
mymax(arr)

29

In [9]:
arr = []
print(mymin(arr), mymax(arr))

inf -inf

In [ ]:
import math

type(float("inf"))

float

In [19]:
int('inf')

ValueError: invalid literal for int() with base 10: 'inf'

In [ ]:
# INT_MAX, INT_MIN, .dll

# int a = 10;

-(2 ** 31 - 1), +2 ** 31

(-2147483647, 2147483648)

In [23]:
mymax([10, 20])

20

In [24]:
10/3

3.3333333333333335

In [25]:
arr = [1, 2, 3, 5]
inx = 1.0

print(arr[inx])

TypeError: list indices must be integers or slices, not float

In [26]:
#Сгенерируйте список из 12 случайных оценок в диапазоне 50..100. 
# Возьмите топ-5 (наибольшие), 
# посчитайте их среднее (целая часть) и присвойте 
# букву-оценку: A (90+), B (80–89), C (70–79), иначе — Failed.

from random import randint
arr = [randint(50, 100) for i in range(12)]

arr.sort()
b = arr[-5:]
avg = sum(b)/len(b)
if avg >= 90:
    print('A')
elif avg > 80:
    print('B')
elif avg > 70:
    print('C')
else:
    print('Failed')

B

In [ ]:
from collections import Counter
c = Counter([randint(0, 9) for i in range(10)])
for altinay, iskender in c.items():
    print(altinay, iskender)

2 99882
3 99938
6 99662
5 99952
8 100090
1 100742
9 99736
7 100051
4 99901
0 100046

In [50]:
summa = []
for i in range(1000000):
    x = [randint(0, 1) for i in range(20)]
    summa.append(sum(x))

In [53]:
c = Counter(summa)
for i in range(21):
    print(i, '*'*int(20*c[i]/100000), c[i]/1000000)

0  1e-06
1  1.7e-05
2  0.000168
3  0.001025
4  0.004606
5 ** 0.014762
6 ******* 0.037045
7 ************** 0.07415
8 ************************ 0.120327
9 ******************************* 0.159664
10 *********************************** 0.176
11 ******************************** 0.160843
12 *********************** 0.119801
13 ************** 0.073959
14 ******* 0.036956
15 ** 0.014743
16  0.004697
17  0.00104
18  0.000173
19  2.2e-05
20  1e-06